{% extends "base.html" %}

{% block title %}
    Mecenas
{% endblock %}

{% block content %}

<form id="myForm" action="/entry/stability/patron/" method="POST" onsubmit="submitForm(event)">
    <div class="element-box stability">
        <div class="element-header">
            <span>Mecenas</span>
        </div>
        <div class="element-habit">
            <span>Sobre o hábito da <strong>Estudar</strong></span>
        </div>
        <div class="element-table">

            <div class="element-row">
                <div class="element-cell cell-100">
                    <input type="date" id="date_input" dtype="date" name="date_input">
                </div>
            </div>

            <div class="element-row"><div class="element-cell cell-100"><br></div></div>

            <div class="element-row">
                <div class="element-cell cell-100 ">
                    <div id="toggle_engineer" class="toggle" onclick="toggleButton('engineer')">
                        <div class="toggle-button"></div>
                    </div>
                    <span>Engenharia</span>
                    <input type="hidden" id="input_engineer" dtype="bool" name="engineer" value="False">
                </div>
            </div>
            <div class="element-row">
                <div class="element-cell cell-100 ">
                    <div id="toggle_neuroscience" class="toggle" onclick="toggleButton('neuroscience')">
                        <div class="toggle-button"></div>
                    </div>
                    <span>Neurociências</span>
                    <input type="hidden" id="input_neuroscience" dtype="bool" name="neuroscience" value="False">
                </div>
            </div>

        </div>
    </div>

    <div class="buttonContainer">
        <button type="button" class="homeButton" id="return" onclick="window.location.href='/'">
            <i class="fas fa-home"></i>
            Home
        </button>
        <button type="submit" class="submitButton" id="submit">
            <i class="fa-solid fa-share"></i>
            Submit
        </button>
        <button type="button" class="nextButton" id="next" onclick="window.location.href='/entry/wisdom/alchemist/'">
            <i class="fa-solid fa-forward"></i>
            Next
        </button>
    </div>
</form>

<script>
    const now = new Date();
    now.setHours(now.getHours() - 3);
    document.getElementById('date_input').value = now.toISOString().split('T')[0];
</script>

{% endblock %}