{% extends "base.html" %}

{% block title %}
    Patrocinador
{% endblock %}

{% block content %}

<form id="myForm" action="/entry/stability/sponsor/" method="POST" onsubmit="submitForm(event)">
    <div class="element-box stability">
        <div class="element-header">
            <span>Patrocinador</span>
        </div>
        <div class="element-habit">
            <span>Sobre o hábito da <strong>Trabalhar</strong></span>
        </div>
        <div class="element-table">

            <div class="element-row">
                <div class="element-cell cell-100">
                    <input type="date" id="date_input" dtype="date" name="date_input">
                </div>
            </div>

            <div class="element-row"><div class="element-cell cell-100"><br></div></div>

            <div class="element-row">
                <div class="element-cell cell-100 ">
                    <div id="toggle_work" class="toggle" onclick="toggleButton('work')">
                        <div class="toggle-button"></div>
                    </div>
                    <span>Trabalho</span>
                    <input type="hidden" id="input_work" dtype="bool" name="work" value="False">
                </div>
            </div>
            <div class="element-row">
                <div class="element-cell cell-100 ">
                    <div id="toggle_excelence" class="toggle" onclick="toggleButton('excelence')">
                        <div class="toggle-button"></div>
                    </div>
                    <span>Autoelogio</span>
                    <input type="hidden" id="input_excelence" dtype="bool" name="excelence" value="False">
                </div>
            </div>

        </div>
    </div>

    <div class="buttonContainer">
        <button type="button" class="homeButton" id="return" onclick="window.location.href='/'">
            <i class="fas fa-home"></i>
            Home
        </button>
        <button type="submit" class="submitButton" id="submit">
            <i class="fa-solid fa-share"></i>
            Submit
        </button>
        <button type="button" class="nextButton" id="next" onclick="window.location.href='/entry/kindness/caretaker/'">
            <i class="fa-solid fa-forward"></i>
            Next
        </button>
    </div>
</form>

<script>
    const now = new Date();
    now.setHours(now.getHours() - 3);
    document.getElementById('date_input').value = now.toISOString().split('T')[0];
</script>

{% endblock %}