{% extends "base2.html" %}

{% block title %}
    Patrocinador
{% endblock %}

{% block content %}

<div class="anima-box stability">
    <div class="anima-header">
        <span>Patrocinador</span>
    </div>
    <div class="anima-habit">
        <span>Sobre o hábito da <strong>Contabilizar</strong></span>
    </div>
    <div class="anima-table">
        <div class="anima-row">
            <div class="anima-cell cell-100">
                <input type="date" id="data" name="date_input">
            </div>
        </div>
        <div class="anima-row">
            <div class="anima-cell cell-50">Crédito</div>
            <div class="anima-cell cell-25">
                <input type="number" id="double_credit" name="double_credit" minlength="3"
                    oninput="updateOutput('creditOutput', this.value, 'money')">
            </div>
            <div class="anima-cell cell-25"><output id="creditOutput">R$ __.__</output></div>
        </div>
        <div class="anima-row">
            <div class="anima-cell cell-50">Débito</div>
            <div class="anima-cell cell-25">
                <input type="number" id="double_debit" name="double_debit" minlength="3"
                    oninput="updateOutput('debitOutput', this.value, 'money')">
            </div>
            <div class="anima-cell cell-25"><output id="debitOutput">R$ __.__</output></div>
        </div>
        <div class="anima-row">
            <div class="anima-cell cell-50">Benefício</div>
            <div class="anima-cell cell-25">
                <input type="number" id="double_benefit" name="double_benefit" minlength="3"
                    oninput="updateOutput('benefitOutput', this.value, 'money')">
            </div>
            <div class="anima-cell cell-25"><output id="benefitOutput">R$ __.__</output></div>
        </div>
    </div>
</div>

<div class="buttonContainer">
    <button type="button" class="homeButton" id="return" onclick="window.location.href='/2/'">
        <i class="fas fa-home"></i>
        Home
    </button>
    <button class="submitButton" id="submit" type="submit" value="Submit">
        <i class="fas fa-paper-plane"></i>
        Submit
    </button>
    <button class="nextButton" id="reset" type="reset">
        <i class="fas fa-arrow-right"></i>
        Next
    </button>
</div>

<script>
    const today = new Date().toISOString().split('T')[0];
    document.getElementById('data').value = today;
</script>

{% endblock %}