# Ignore .env secrets file
.env

# Ignore .coverage
.coverage

# Ignore test notebooks
*.ipynb

# Ignore deprecated python files
**/*_deprecated.py

# Ignore Python Cache
**/*.pyc

# Ignore Databases
**/*.db

# Ignore venv Folder
.venv/

# Ignore files inside output folder
outputs/

# Ignore all data
data/