# Ignore .env secrets file
.env

# Ignore venv Folder
.venv/

# Ignore .coverage
.coverage

# Ignore test notebooks
*.ipynb

# Ignore Python Cache
**/*.pyc

# Ignore files inside output and data folder
outputs/
data/