# Ignore .env secrets file
.env

# Ignore test notebooks
*.ipynb

# Ignore deprecated python files
**/*_deprecated.py

# Ignore Python Cache
**/*.pyc

# Ignore PDF reports and PDF reports plots
outputs/reports/**/**/**/*.pdf
outputs/reports/**/**/**/*.png
outputs/reports/**/**/**/*.txt

# Ignore all data
### raw data files
data/ingestion/*.json
data/ingestion/*.xlsx

### cleaned data files
data/cleaned/*.parquet

### refined data files
data/refined/*.parquet