<div class="info-box box">
    <div class="box-title">
        <span>Hoje</span>
    </div>
    <div class="box-input">
        <div class="flex-table">
            <div class="flex-row">
                <div class="flex-cell cell-50"><label for="data_header_morningDate">Data do Registro</label></div>
                <div class="flex-cell cell-50"><input type="date" name="data_header_morningDate" required></div>
            </div>
            <div class="flex-row">
                <div class="flex-cell cell-50"><label for="time_header_morningTime">Horário de Preenchimento</label></div>
                <div class="flex-cell cell-50"><input type="time" name="time_header_morningTime" required></div>
            </div>
            <div class="flex-row">
                <div class="flex-cell cell-50"><label for="toggle_header_morningHumor">Humor da Noite</label></div>
                <div class="flex-cell cell-50">
                    <span><i class="fa-regular fa-moon"></i></span>
                    <div id="toggle_header_morningHumor" class="toggle" onclick="toggleButton('header_morningHumor')">
                        <div class="toggle-button"></div>
                    </div>
                    <span><i class="fa-solid fa-sun"></i></span>
                    <input type="hidden" id="input_header_morningHumor" name="toggle_header_morningHumor" value="False">
                </div>
            </div>
        </div>
    </div>
</div>