<div class="info-box box">
    <div class="box-title">
        <span>Hoje</span>
    </div>
    <div class="box-input">
        <div class="flex-table">
            <div class="flex-row">
                <div class="flex-cell cell-50"><label for="inputDate">Data do Registro</label></div>
                <div class="flex-cell cell-50"><input type="date" name="inputDate" required></div>
            </div>
            <div class="flex-row">
                <div class="flex-cell cell-50"><label for="inputDate">Horário de Preenchimento</label></div>
                <div class="flex-cell cell-50"><input type="time" name="inputTime" required></div>
            </div>
            <div class="flex-row">
                <div class="flex-cell cell-50"><label for="dayHumor">Humor da Manhã</label></div>
                <div class="flex-cell cell-25">
                    <input type="radio" name="dayHumor" value="sol" required>
                    <i class="fa-solid fa-sun"></i>
                </div>
                <div class="flex-cell cell-25">
                    <input type="radio" name="dayHumor" value="lua" required>
                    <i class="fa-regular fa-moon"></i>
                </div>
            </div>
        </div>
    </div>
</div>