<div class="box">
    <div class="box-title">
        <span>navegador</span>
    </div>
    <div class="box-role">
        <span>
            O <strong>Navegador</strong> é aquele que busca experiência de outras vidas para trazer mais <strong>Sabedoria</strong> à <strong>Expedição</strong>
        </span>
    </div>
    <div class="box-input">
        <div class="box-habit">
            <span>
                Sobre o hábito da <strong>Leitura</strong>
            </span>
        </div>
        <div class="flex-table">
            <div class="flex-row">
                <!-- TODO: criar funcao para caso haja ato o Livro ser obrigatorio -->
                <div class="flex-cell cell-50"><input type="text" name="wisdomNavigatorBook" placeholder="Livro" ></div>
                <div class="flex-cell cell-25">
                    <input type="checkbox" name="wisdomNavigatorExcelence" value="True">
                    <i class="fa-solid fa-sun"></i>
                </div>
                <div class="flex-cell cell-25">
                    <input type="checkbox" name="wisdomNavigatorNotes" value="True">
                    <i class="fa-solid fa-sticky-note"></i>
                </div>
            </div>
            <div class="flex-row">
                <div class="flex-cell cell-33"><input type="radio" name="wisdomNavigatorReading" value="False"><span>Sem Ato</span></div>
                <div class="flex-cell cell-33"><input type="radio" name="wisdomNavigatorReading" value="pill"><span>Pílula</span></div>
                <div class="flex-cell cell-33"><input type="radio" name="wisdomNavigatorReading" value="session"><span>Sessão</span></div>
            </div>
        </div>
    </div>
</div>