{% extends "base.html" %}

{% block title %}
    Navegador
{% endblock %}

{% block content %}

<form id="myForm" action="/entry/{{ entry_date }}/wisdom/navigator/" method="POST" onsubmit="submitForm(event)">
    <div class="element-box wisdom">
        <div class="element-header">
            <span>Navegador</span>
        </div>
        <div class="element-habit">
            <span>Sobre o hábito da <strong>Leitura</strong></span>
        </div>

        <div class="element-table">

            <div class="element-row">
                <div class="element-cell cell-100 ">
                    <input type="date" id="date_input" dtype="date" name="date_input" required>
                </div>
            </div>

            <div class="element-row"><div class="element-cell cell-100"><br></div></div>

            <div class="element-row">
                <div class="element-cell cell-100 ">
                    <input type="text" dtype="string" name="book_A" placeholder="Nome do Livro">
                </div>
            </div>
            <div class="element-row">
                <div class="element-cell cell-33">
                    <div id="id_read_A" class="check" onclick="checkButton('id_read_A', 'input_read_A', 'False', 'True')">
                        <span><i class="fas fa-glasses"></i></span>
                    </div>
                    <input type="hidden" id="input_read_A" dtype="bool" name="read_A" value="False">
                </div>
                <div class="element-cell cell-33">
                    <div id="id_listen_A" class="check" onclick="checkButton('id_listen_A', 'input_listen_A', 'False', 'True')">
                        <span><i class="fas fa-headphones-alt"></i></span>
                    </div>
                    <input type="hidden" id="input_listen_A" dtype="bool" name="listen_A" value="False">
                </div>
                <div class="element-cell cell-33">
                    <div id="id_notes_A" class="check" onclick="checkButton('id_notes_A', 'input_notes_A', 'False', 'True')">
                        <span><i class="fas fa-quote-right"></i></span>
                    </div>
                    <input type="hidden" id="input_notes_A" dtype="bool" name="notes_A" value="False">
                </div>
            </div>

            <div class="element-row"><div class="element-cell cell-100"><br></div></div>

            <div class="element-row">
                <div class="element-cell cell-100 ">
                    <input type="text" dtype="string" name="book_B" placeholder="Nome do Livro">
                </div>
            </div>
            <div class="element-row">
                <div class="element-cell cell-33">
                    <div id="id_read_B" class="check" onclick="checkButton('id_read_B', 'input_read_B', 'False', 'True')">
                        <span><i class="fas fa-glasses"></i></span>
                    </div>
                    <input type="hidden" id="input_read_B" dtype="bool" name="read_B" value="False">
                </div>
                <div class="element-cell cell-33">
                    <div id="id_listen_B" class="check" onclick="checkButton('id_listen_B', 'input_listen_B', 'False', 'True')">
                        <span><i class="fas fa-headphones-alt"></i></span>
                    </div>
                    <input type="hidden" id="input_listen_B" dtype="bool" name="listen_B" value="False">
                </div>
                <div class="element-cell cell-33">
                    <div id="id_notes_B" class="check" onclick="checkButton('id_notes_B', 'input_notes_B', 'False', 'True')">
                        <span><i class="fas fa-quote-right"></i></span>
                    </div>
                    <input type="hidden" id="input_notes_B" dtype="bool" name="notes_B" value="False">
                </div>
            </div>

        </div>
    </div>

    <div class="buttonContainer">
        <button type="button" class="nextButton" id="menu">
            <i class="fa-solid fa-bars"></i>
            Menu
        </button>
        <button type="submit" class="submitButton" id="submit">
            <i class="fa-solid fa-share"></i>
            Submit
        </button>
        <button type="button" class="nextButton" id="next" onclick="window.location.href='/entry/{{ entry_date }}/stability/patron/'">
            <i class="fa-solid fa-forward"></i>
            Next
        </button>
    </div>
</form>

<script>
    document.getElementById('menu').addEventListener('click', function() {
        window.location.href = "/entry/{{ entry_date }}/menu/";
    });
    
    const entryDate = "{{ entry_date }}";
    document.getElementById('date_input').value = entryDate;
    
    const now = new Date();

    document.getElementById('add-row').addEventListener('click', addRow);
    document.getElementById('remove-row').addEventListener('click', removeRow);
</script>

{% endblock %}