@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
    --text-color: #eee;
    --background-color: #333;
    --box-background-color: #444;
    --box-border-color: #5b5b5b;
    --box-title-background-color: #5b5b5b;
    --inner-box-backgroud-color: #5b5b5b;
    --inner-box-border-color: #eee;

    --border-color: #888;
    --table-background-color: #444;
    --range-thumb-color: #888;
    --range-track-color: #555;
    --input-border-color: #aaa;
    --input-focus-border-color: #fff;
    --container-background-color: #444;
    --container-title-background-color: #555;

    --green-color: #4caf50;
    --blue-color: #5e97f6;
    --red-color: #ff7e7e;
    --yellow-color: #FFD700;
    --purple-color: #ab47bc;
}

* {
    box-sizing: border-box;
  }

@media screen and (max-width: 600px) {
    .flex-container {
        flex-direction: column;
        align-items: center;
    }

    .flex-container i, .flex-container span {
        width: 100%;
    }

    section {
        width: 100%;
        padding: 0 15px;
    }

    body {
        padding: 0 10px;
    }

    table {
        width: 100%;
    }
}

input[type="text"] {
    border-radius: 5px;
    padding: 5px;
    width: 200px;
}


textarea {
    border: 1px solid var(--inner-box-border-color);
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Lato', sans-serif;
    font-weight: 350;
    line-height: 1.6;
    resize: none;
    overflow: auto;
    border-radius: 10px;
    width: 500px;
    height: 75px;
}

section {
    width: 700px;
    margin: 0 auto;
}

section.wisdom strong {
    color: var(--green-color);
}

section.stability strong {
    color: var(--red-color);
}

section.strength strong {
    color: var(--blue-color);
}

section.kindness strong {
    color: var(--yellow-color);
}

section.devotion strong {
    color: var(--purple-color);
}

section .box:last-child {
    margin-bottom: 25px;
}

table {
    width: 100%;
    margin: 0 auto;
    background-color: var(--table-background-color);
    border-radius: 5px;
    color: var(--text-color);
}

table th, table td {
    padding: 10px;
    border-bottom: 1px solid var(--border-color);
}

table tr:last-child td {
    border-bottom: none;
}
 
h1, h2, h3, h4, h5, h6 {
    font-weight: 550;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    color: var(--text-color);
    border-color: var(--border-color);
    font-family: 'Lato', sans-serif;
    font-weight: 350;
    line-height: 1.6;
}

input {
    padding: 2px;
    border: 1px solid var(--input-border-color);
    border-radius: 1px;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Lato', sans-serif;
}

input:focus, select:focus, textarea:focus {
    border-color: var(--input-focus-border-color);
    outline: none;
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: var(--range-thumb-color);
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: var(--range-track-color);
    border-radius: 4px;
    border: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: var(--range-thumb-color);
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: var(--range-track-color);
    border-radius: 4px;
    border: none;
}

input[type=range]::-ms-thumb {
    width: 20px;
    height: 20px;
    background: var(--range-thumb-color);
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: var(--range-track-color);
    border-radius: 4px;
    border: none;
}

input[type=range]::-ms-fill-lower {
    background: var(--range-track-color);
    border-radius: 4px;
}

input[type=range]::-ms-fill-upper {
    background: var(--range-track-color);
    border-radius: 4px;
}

.resetButton, .submitButton, .createButton, .editButton, .returnButton {
  background-color: var(--background-color);
  border: none;
  color: var(--text-color);
  font-size: 12px;
  padding: 8px 15px;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.resetButton:active, .submitButton:active {
  transform: scale(0.98);
}

.resetButton:focus, .submitButton:focus {
  outline: none;
}

#awakePercentage, #remPercentage, #lightPercentage, #deepPercentage {
    width: 90%;
}

.centralized {
    text-align: center;
}

.tableWithSpacing {
    border-collapse: separate;
    border-spacing: 0 5px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.flex-container i {
    text-align: center;
    width: 50%;
}

.flex-container span {
    width: 50%;
    text-align: center;
}

.container, .container-title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container-title, .fieldset-div {
    margin: 5px 0;
    padding: 5px;
    border-radius: 15px;
}

.container-title {
    background-color: var(--container-title-background-color);
}

.fieldset-div {
    background-color: var(--container-background-color);
}
  
.item, .item-input, .item-option, .item-label {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
}

.item-input:hover {
    background-color: #555;
}

.box {
    background-color: var(--box-background-color);
    border: 5px solid var(--box-border-color);
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    margin-top: 75px;
    padding: 20px;
    border-radius: 25px;
    gap: 25px;
}



.box-title {
    background-color: var(--box-title-background-color);
    margin-top: -38px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 3px;
    border-radius: 20px;
    font-weight: bold;
    text-transform: capitalize;
}

.box-role {
    background-color: var(--inner-box-backgroud-color);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    width: 100%;
    max-width: 700px;
}

.box-input {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    width: 100%;
    background-color: var(--inner-box-backgroud-color);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
    border-radius: 20px;
    gap: 10px;
}

.box-habit {
    border: 1px inset var(--inner-box-border-color);
    text-align: center;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}

.box-table {
    border: 1px inset var(--inner-box-border-color);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    border-radius: 20px;
    width: 100%;
}

.box-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.box-yama {
    border: 5px solid var(--box-border-color);
    background-color: var(--box-background-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    padding: 20px;
    width: 100%;
}

.box-yama .span-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.box-yama .span-container span {
    flex: 1;
    text-align: center;
}

.box-yama span {
    margin: 0 10px;
}

.box-yama input[type="range"] {
    width: 100%;
    margin-top: 10px;
}

.flex-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px inset var(--inner-box-border-color);
    border-radius: 20px;
}

.flex-row {
    display: flex;
    width: 100%;
}

.flex-cell {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.darker-background {
    background-color: var(--box-background-color);
    border-radius: 50px;
}

.add-padding-20 {
    padding: 20px;
}

.cell-50 {
    flex: 1 1 50%;
}

.cell-25 {
    flex: 1 1 25%;
}

.cell-100 {
    flex: 1 1 100%;
}

.cell-33 {
    flex: 1 1 33%;
}

.cell-20 {
    flex: 1 1 20%;
}

.cell-40 {
    flex: 1 1 40%;
}

.cell-15 {
    flex: 1 1 15%;
}