<div class="devotion-box box">
    <div class="box-title">
        <span>asceta</span>
    </div>
    <div class="box-role">
        <span>
            O <strong>Asceta</strong> é aquele 
        </span>
    </div>
    <div class="box-input">
        <div class="box-habit">
            <span>
                Sobre o hábito de <strong>elevar</strong>
            </span>
        </div>
        <div class="flex-table">
            <div class="flex-row">
                <div class="flex-cell cell-100">A</div>
            </div>
        </div>
    </div>
</div>