<div class="devotion-box box">
    <div class="box-title">
        <span>atharva bindu</span>
    </div>
    <div class="box-role">
        <span>
            <strong>Atharva Bindu</strong> é aquele que ao olhar uma <strong>Semente</strong>, consegue enxergar todo o <strong>Potencial</strong> que ali se encontra
        </span>
    </div>
    <div class="box-input">
        <div class="box-habit">
            <span>
                Sobre <strong>Viver</strong>
            </span>
        </div>
        <div class="flex-table">
            <div class="flex-row">
                <div class="flex-cell cell-100">
                    <div id="id_dayClassification_bestDay" class="check" onclick="checkButton('id_dayClassification_bestDay', 'input_devotion_atharva_bestDay', 'False', 'True')">
                        <span>O Melhor Dia</span>
                    </div>
                    <input type="hidden" id="input_devotion_atharva_bestDay" name="multi_devotion_atharva_dayClassification_bestDay" value="False">
                </div>
            </div>
            <div class="flex-row">
                <div class="flex-cell cell-50">
                    <div id="id_dayClassification_goodDay" class="check" onclick="checkButton('id_dayClassification_goodDay', 'input_devotion_atharva_goodDay', 'False', 'True')">
                        <span>Um Dia Bom</span>
                    </div>
                    <input type="hidden" id="input_devotion_atharva_goodDay" name="multi_devotion_atharva_dayClassification_goodDay" value="False">
                </div>
                <div class="flex-cell cell-50">
                    <div id="id_dayClassification_badDay" class="check" onclick="checkButton('id_dayClassification_badDay', 'input_devotion_atharva_badDay', 'False', 'True')">
                        <span>Um Dia Ruim</span>
                    </div>
                    <input type="hidden" id="input_devotion_atharva_badDay" name="multi_devotion_atharva_dayClassification_badDay" value="False">
                </div>
            </div>
            <div class="flex-row">
                <div class="flex-cell cell-50">
                    <div id="id_dayClassification_dawn" class="check" onclick="checkButton('id_dayClassification_dawn', 'input_devotion_atharva_dawn', 'False', 'True')">
                        <span>Alvorada</span>
                    </div>
                    <input type="hidden" id="input_devotion_atharva_dawn" name="multi_devotion_atharva_dayClassification_dawn" value="False">
                </div>
                <div class="flex-cell cell-50">
                    <div id="id_dayClassification_sunset" class="check" onclick="checkButton('id_dayClassification_sunset', 'input_devotion_atharva_sunset', 'False', 'True')">
                        <span>Ocaso</span>
                    </div>
                    <input type="hidden" id="input_devotion_atharva_sunset" name="multi_devotion_atharva_dayClassification_sunset" value="False">
                </div>
            </div>
            <div class="flex-row">
                <div class="flex-cell cell-50">
                    <div id="id_dayClassification_eudaimonicDay" class="check" onclick="checkButton('id_dayClassification_eudaimonicDay', 'input_devotion_atharva_eudaimonicDay', 'False', 'True')">
                        <span>Eudaimônico</span>
                    </div>
                    <input type="hidden" id="input_devotion_atharva_eudaimonicDay" name="multi_devotion_atharva_dayClassification_eudaimonicDay" value="False">
                </div>
                <div class="flex-cell cell-50">
                    <div id="id_dayClassification_hedonicDay" class="check" onclick="checkButton('id_dayClassification_hedonicDay', 'input_devotion_atharva_hedonicDay', 'False', 'True')">
                        <span>Hedônico</span>
                    </div>
                    <input type="hidden" id="input_devotion_atharva_hedonicDay" name="multi_devotion_atharva_dayClassification_hedonicDay" value="False">
                </div>
            </div>
        </div>
    </div>
</div>