<div class="devotion-box box">
    <div class="box-title">
        <span>oráculo</span>
    </div>
    <div class="box-role">
        <span>
            O <strong>Oráculo</strong> é aquele que consegue se a <strong>Devoção</strong> à <strong>Expedição</strong> está sustentável ou necessita de apoio
        </span>
    </div>
    <div class="box-input">
        <div class="box-habit">
            <span>
                Sobre o hábito de <strong>Direcionar</strong>
            </span>
        </div>
        <div class="flex-table">
            <div class="flex-row wisdom">
                <div class="flex-cell cell-33">Sabedoria</div>
                <div class="flex-cell cell-33">
                    <div class="alternative" id="11" data-question-group="radio_devotion_oracle_wisdom" onclick="selectAlternativeOverwrite('11', 'radio_devotion_oracle_wisdom', 'disappointed')">
                        <div class="dot"></div>
                        <span>Insatisfeito</span>
                    </div>
                </div>
                <div class="flex-cell cell-33">
                    <div class="alternative" id="12" data-question-group="radio_devotion_oracle_wisdom" onclick="selectAlternativeOverwrite('12', 'radio_devotion_oracle_wisdom', 'satisfied')">
                        <div class="dot"></div>
                        <span>Satisfeito</span>
                    </div>
                </div>
            </div>
            <div class="flex-row stability">
                <div class="flex-cell cell-33">Estabilidade</div>
                <div class="flex-cell cell-33">
                    <div class="alternative" id="21" data-question-group="radio_devotion_oracle_stability" onclick="selectAlternativeOverwrite('21', 'radio_devotion_oracle_stability', 'disappointed')">
                        <div class="dot"></div>
                        <span>Insatisfeito</span>
                    </div>
                </div>
                <div class="flex-cell cell-33">
                    <div class="alternative" id="22" data-question-group="radio_devotion_oracle_stability" onclick="selectAlternativeOverwrite('22', 'radio_devotion_oracle_stability', 'satisfied')">
                        <div class="dot"></div>
                        <span>Satisfeito</span>
                    </div>
                </div>
            </div>
            <div class="flex-row strength">
                <div class="flex-cell cell-33">Força</div>
                <div class="flex-cell cell-33">
                    <div class="alternative" id="31" data-question-group="radio_devotion_oracle_strength" onclick="selectAlternativeOverwrite('31', 'radio_devotion_oracle_strength', 'disappointed')">
                        <div class="dot"></div>
                        <span>Insatisfeito</span>
                    </div>
                </div>
                <div class="flex-cell cell-33">
                    <div class="alternative" id="32" data-question-group="radio_devotion_oracle_strength" onclick="selectAlternativeOverwrite('32', 'radio_devotion_oracle_strength', 'satisfied')">
                        <div class="dot"></div>
                        <span>Satisfeito</span>
                    </div>
                </div>
            </div>
            <div class="flex-row kindness">
                <div class="flex-cell cell-33">Gentileza</div>
                <div class="flex-cell cell-33">
                    <div class="alternative" id="41" data-question-group="radio_devotion_oracle_kindness" onclick="selectAlternativeOverwrite('41', 'radio_devotion_oracle_kindness', 'disappointed')">
                        <div class="dot"></div>
                        <span>Insatisfeito</span>
                    </div>
                </div>
                <div class="flex-cell cell-33">
                    <div class="alternative" id="42" data-question-group="radio_devotion_oracle_kindness" onclick="selectAlternativeOverwrite('42', 'radio_devotion_oracle_kindness', 'satisfied')">
                        <div class="dot"></div>
                        <span>Satisfeito</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-input">
        <div class="box-habit">
            <span>
                Sobre o hábito de <strong>Antecipar</strong>
            </span>
        </div>
        <div class="flex-table">
            <div class="flex-row wisdom">
                <div class="flex-cell cell-33">
                    <div id="id_compass_Navigator" class="check" onclick="checkButton('id_compass_Navigator', 'input_devotion_oracle_Navigator', 'False', 'True')">
                        <span>Navegador</span>
                    </div>
                    <input type="hidden" id="input_devotion_oracle_Navigator" name="check_compass_Navigator" value="False">
                </div>
                <div class="flex-cell cell-33">
                    <div id="id_compass_Alchimist" class="check" onclick="checkButton('id_compass_Alchimist', 'input_devotion_oracle_Alchimist', 'False', 'True')">
                        <span>Alquimista</span>
                    </div>
                    <input type="hidden" id="input_devotion_oracle_Alchimist" name="check_compass_Alchimist" value="False">
                </div>
                <div class="flex-cell cell-33">
                    <div id="id_compass_Apprentice" class="check" onclick="checkButton('id_compass_Apprentice', 'input_devotion_oracle_Apprentice', 'False', 'True')">
                        <span>Aprendiz</span>
                    </div>
                    <input type="hidden" id="input_devotion_oracle_Apprentice" name="check_compass_Apprentice" value="False">
                </div>
            </div>
            <div class="flex-row stability">
                <div class="flex-cell cell-33">
                    <div id="id_compass_sponsor" class="check" onclick="checkButton('id_compass_sponsor', 'input_devotion_oracle_sponsor', 'False', 'True')">
                        <span>Patrocinador</span>
                    </div>
                    <input type="hidden" id="input_devotion_oracle_sponsor" name="check_compass_sponsor" value="False">
                </div>
                <div class="flex-cell cell-33">
                    <div id="id_compass_patron" class="check" onclick="checkButton('id_compass_patron', 'input_devotion_oracle_patron', 'False', 'True')">
                        <span>Mecenas</span>
                    </div>
                    <input type="hidden" id="input_devotion_oracle_patron" name="check_compass_patron" value="False">
                </div>
                <div class="flex-cell cell-33">
                    <div id="id_compass_treasurer" class="check" onclick="checkButton('id_compass_treasurer', 'input_devotion_oracle_treasurer', 'False', 'True')">
                        <span>Tesoureiro</span>
                    </div>
                    <input type="hidden" id="input_devotion_oracle_treasurer" name="check_compass_treasurer" value="False">
                </div>
            </div>
            <div class="flex-row strength">
                <div class="flex-cell cell-33">
                    <div id="id_compass_vanguard" class="check" onclick="checkButton('id_compass_vanguard', 'input_devotion_oracle_vanguard', 'False', 'True')">
                        <span>Vanguarda</span>
                    </div>
                    <input type="hidden" id="input_devotion_oracle_vanguard" name="check_compass_vanguard" value="False">
                </div>
                <div class="flex-cell cell-33">
                    <div id="id_compass_scout" class="check" onclick="checkButton('id_compass_scout', 'input_devotion_oracle_scout', 'False', 'True')">
                        <span>Batedor</span>
                    </div>
                    <input type="hidden" id="input_devotion_oracle_scout" name="check_compass_scout" value="False">
                </div>
                <div class="flex-cell cell-33">
                    <div id="id_compass_cook" class="check" onclick="checkButton('id_compass_cook', 'input_devotion_oracle_cook', 'False', 'True')">
                        <span>Cozinheiro</span>
                    </div>
                    <input type="hidden" id="input_devotion_oracle_cook" name="check_compass_cook" value="False">
                </div>
            </div>
            <div class="flex-row kindness">
                <div class="flex-cell cell-33">
                    <div id="id_compass_caretaker" class="check" onclick="checkButton('id_compass_caretaker', 'input_devotion_oracle_caretaker', 'False', 'True')">
                        <span>Zelador</span>
                    </div>
                    <input type="hidden" id="input_devotion_oracle_caretaker" name="check_compass_caretaker" value="False">
                </div>
                <div class="flex-cell cell-33">
                    <div id="id_compass_diplomat" class="check" onclick="checkButton('id_compass_diplomat', 'input_devotion_oracle_diplomat', 'False', 'True')">
                        <span>Diplomata</span>
                    </div>
                    <input type="hidden" id="input_devotion_oracle_diplomat" name="check_compass_diplomat" value="False">
                </div>
                <div class="flex-cell cell-33">
                    <div id="id_compass_citizen" class="check" onclick="checkButton('id_compass_citizen', 'input_devotion_oracle_citizen', 'False', 'True')">
                        <span>Cidadão</span>
                    </div>
                    <input type="hidden" id="input_devotion_oracle_citizen" name="check_compass_citizen" value="False">
                </div>
            </div>
            <div class="flex-row">
                <div class="flex-cell cell-100">
                    <textarea id="text_devotion_oracle_feedback"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('text_devotion_oracle_feedback').value = 'Amanhã posso ser melhor que hoje se: \n- ';
</script>