.alternative, .dot {
    transition: all .5s ease;
}

.alternative {
    display: inline-block;
    cursor: pointer;
    color: var(--gray-color-9);
}
  
.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid var(--gray-color-9);
    display: inline-block;
    margin-right: 3px;
    vertical-align: middle;
}
  
.selected .dot {
    background-color: var(--section-color-darkest);
    border-color: var(--section-color);
}

.alternative.selected span {
    color: var(--strong-section-color);
}

.alternative:not(.selected):hover, .alternative:not(.selected):hover .dot, .dot:not(.selected):hover, .dot:not(.selected):hover  {
    color: var(--white-color);
    border-color: var(--white-color);
    
}

@media (hover: none) and (pointer: coarse) {
    .alternative:not(.selected):hover, .alternative:not(.selected):hover .dot, .dot:not(.selected):hover, .dot:not(.selected):hover .alternative {
        color: initial;
        border-color: initial;
    }
}