.alternative, .dot {
    transition: all 1s ease;
}

.alternative {
    display: inline-block;
    cursor: pointer;
    margin-right: 20px;
}
  
.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid var(--gray-color-8);
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}
  
.selected .dot {
    background-color: var(--section-color-darkest);
    border-color: var(--section-color);
}

.alternative.selected span {
    color: var(--strong-section-color);
    font-weight: 800;
}

.alternative:hover, .alternative:focus {
    background-color: var(--hover-background-color);
}

.dot:hover, .dot:focus {
    background-color: var(--hover-dot-background-color);
    border-color: var(--hover-dot-border-color);
}

.selected .dot:hover, .selected .dot:focus {
    background-color: var(--hover-selected-dot-background-color);
    border-color: var(--hover-selected-dot-border-color);
}

.alternative.selected span:hover, .alternative.selected span:focus {
    color: var(--hover-strong-section-color);
}