.buttonContainer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 600px;
    margin: 15px auto;
}

.addButton, .removeButton {
    background-color: var(--section-color-darker);
    border: none;
    color: var(--text-color);
    padding: 7px 9px;
    cursor: pointer;
    transition: transform 0.1s ease;
    border-radius: 20px;

}

.insertButton {
    background-color: var(--black-color);
    color: var(--text-color);
    border: solid 2px var(--gray-color-9);
    font-size: 12px;
    padding: 8px 15px;
    cursor: pointer;
    transition: transform 0.1s ease;
    border-radius: 25px;
}

.nextButton, .submitButton, .homeButton, .loginButton {
    background-color: var(--gray-color-4);
    border: none;
    color: var(--text-color);
    font-size: 12px;
    padding: 8px 15px;
    cursor: pointer;
    transition: transform 0.1s ease;
    border-radius: 5px;
}

.nextButton:active, .submitButton:active, .homeButton:active, .addButton:active, .removeButton:active, .loginButton:active, .insertButton:active {
    transform: scale(0.90);
}

.addButton:hover, .removeButton:hover {
    background-color: var(--section-color);
}

.insertButton:hover, .insertButton:focus {
    background-color: var(--yellow-color-darker);
    border: solid 2px var(--white-color);
}

.nextButton:hover, .submitButton:hover, .homeButton:hover, .loginButton:hover {
    background-color: var(--gray-color-6);
}

.nextButton:focus, .submitButton:focus, .homeButton:focus, .loginButton:focus {
    background-color: var(--gray-color-8);
}