.buttonContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 100px;
}

.resetButton, .submitButton, .returnButton {
    background-color: var(--gray-color-4);
    border: none;
    color: var(--text-color);
    font-size: 12px;
    padding: 8px 15px;
    cursor: pointer;
    transition: transform 0.1s ease;
    border-radius: 5px;
}

.createButton, .editButton {
    background-color: var(--gray-color-2);
    border: none;
    color: var(--text-color);
    font-size: 13px;
    padding: 8px 15px;
    cursor: pointer;
    transition: transform 0.1s ease;
    border-radius: 5px;
}

.resetButton:active, .submitButton:active, .returnButton:active, .createButton:active, .editButton:active {
    transform: scale(0.90);
}

.resetButton:hover, .submitButton:hover, .returnButton:hover {
    background-color: var(--gray-color-6);
}

.resetButton:focus, .submitButton:focus, .returnButton:focus {
    background-color: var(--gray-color-8);
}

.createButton:hover, .editButton:hover {
    background-color: orange;
}

.createButton:focus, .editButton:focus {
    background-color: orange;
}