.buttonContainer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 600px;
    margin: 15px auto;
}

.addButton, .removeButton {
    background-color: var(--section-color-darker);
    border: none;
    color: var(--text-color);
    padding: 8px 10px;
    cursor: pointer;
    transition: transform 0.1s ease;
    border-radius: 20px;

}

.nextButton, .submitButton, .homeButton {
    background-color: var(--gray-color-4);
    border: none;
    color: var(--text-color);
    font-size: 12px;
    padding: 8px 15px;
    cursor: pointer;
    transition: transform 0.1s ease;
    border-radius: 5px;
}

.createButton, .editButton {
    background-color: var(--gray-color-2);
    border: none;
    color: var(--text-color);
    font-size: 13px;
    padding: 8px 15px;
    cursor: pointer;
    transition: transform 0.1s ease;
    border-radius: 5px;
}

.nextButton:active, .submitButton:active, .homeButton:active, .createButton:active, .editButton:active, .addButton:active, .removeButton:active {
    transform: scale(0.90);
}

.addButton:hover, .removeButton:hover {
    background-color: var(--section-color);
}

.nextButton:hover, .submitButton:hover, .homeButton:hover {
    background-color: var(--gray-color-6);
}

.nextButton:focus, .submitButton:focus, .homeButton:focus {
    background-color: var(--gray-color-8);
}

.createButton:hover, .editButton:hover {
    background-color: orange;
}

.createButton:focus, .editButton:focus {
    background-color: orange;
}