{% extends "base.html" %}

{% block title %}
    [New] Atleta
{% endblock %}

{% block content %}

<form id="myForm" action="/entries/{{ entry_date }}/strength/athlete/" method="POST" onsubmit="submitForm(event)">
    <div class="element-box strength">
        <div class="element-header">
            <span>Atleta</span>
        </div>
        <div class="element-habit">
            <span>Sobre o hábito de <strong>Ativar-se</strong></span>
        </div>
        <div class="element-table">

            <div class="element-row">
                <div class="element-cell cell-100">
                    <input type="date" id="date_input" dtype="date" name="date_input" required>
                </div>
            </div>

            <div class="element-row"><div class="element-cell cell-100"><br></div></div>

            <div class="element-row">
                <div class="element-cell cell-50">
                    <div id="id_runningAction" class="check" onclick="checkButton('id_runningAction', 'input_runningAction', 'False', 'True')">
                        <span>Corrida</span>
                    </div>
                    <input type="hidden" id="input_runningAction" dtype="bool" name="runningAction" value="False">
                </div>
                <div class="element-cell cell-25">
                    <div id="id_noSinging" class="check" onclick="checkButton('id_noSinging', 'input_noSinging', 'False', 'True')">
                        <span><i class="fa-solid fa-microphone-slash"></i></span>
                    </div>
                    <input type="hidden" id="input_noSinging" dtype="bool" name="noSinging" value="False">
                </div>
                <div class="element-cell cell-25">
                    <div id="id_noMusic" class="check" onclick="checkButton('id_noMusic', 'input_noMusic', 'False', 'True')">
                        <span><i class="fa-solid fa-volume-xmark"></i></span>
                    </div>
                    <input type="hidden" id="input_noMusic" dtype="bool" name="noMusic" value="False">
                </div>
            </div>

            <div class="element-row">
                <div class="element-cell cell-40">Distância</div>
                <div class="element-cell cell-30">
                    <input type="number" dtype="double" name="runningDistance" minlength="3" maxlength="4"
                        oninput="updateOutput('RunningDistanceOutput', this.value, 'distance')">
                </div>
                <div class="element-cell cell-30"><output id="RunningDistanceOutput">__.__ km</output></div>
            </div>
            <div class="element-row">
                <div class="element-cell cell-40">Duração</div>
                <div class="element-cell cell-30">
                    <input type="number" dtype="hhmmss" name="runningDuration" minlength="6" maxlength="6"
                        oninput="updateOutput('RunningDurationOutput', this.value, 'exercise')">
                </div>
                <div class="element-cell cell-30"><output id="RunningDurationOutput">__h__'__''</output></div>
            </div>
            <div class="element-row">
                <div class="element-cell cell-40">Calorias</div>
                <div class="element-cell cell-30">
                    <input type="number" dtype="int" name="runningCalories" 
                        oninput="updateOutput('RunningCaloriesOutput', this.value, 'calories')">
                </div>
                <div class="element-cell cell-30"><output id="RunningCaloriesOutput">_ cal</output></div>
            </div>
            <div class="element-row">
                <div class="element-cell cell-40">FC Média</div>
                <div class="element-cell cell-30">
                    <input type="number" dtype="int" name="runningAvgBpm" minlength="2" maxlength="3"
                        oninput="updateOutput('RunningAvgBpmOutput', this.value, 'bpm')">
                </div>
                <div class="element-cell cell-30"><output id="RunningAvgBpmOutput">_ bpm</output></div>
            </div>
            <div class="element-row">
                <div class="element-cell cell-40">FC Máx</div>
                <div class="element-cell cell-30">
                    <input type="number" dtype="int" name="runningMaxBpm" minlength="2" maxlength="3"
                        oninput="updateOutput('RunningMaxBpmOutput', this.value, 'bpm')">
                </div>
                <div class="element-cell cell-30"><output id="RunningMaxBpmOutput">_ bpm</output></div>
            </div>

            <div class="element-row"><div class="element-cell cell-100"><br><br></div></div>

            <div class="element-row">
                <div class="element-cell cell-40"></div>
                <div class="element-cell cell-20"><span><i class="fas fa-times-circle"></i></span></div>
                <div class="element-cell cell-20"><span><i class="fa-solid fa-pills"></i></span></div>
                <div class="element-cell cell-20"><span><i class="fa-regular fa-calendar-check"></i></span></div>    
            </div>
            <div class="element-row">
                <div class="element-cell cell-40"><span>Yoga</span></div>
                <div class="element-cell cell-20"><input type="radio" dtype="ordinal" name="yoga" value="0" checked></div>
                <div class="element-cell cell-20"><input type="radio" dtype="ordinal" name="yoga" value="1"></div>
                <div class="element-cell cell-20"><input type="radio" dtype="ordinal" name="yoga" value="2"></div>
            </div>
            <div class="element-row">
                <div class="element-cell cell-40"><span>Resistência</span></div>
                <div class="element-cell cell-20"><input type="radio" dtype="ordinal" name="resistence" value="0" checked></div>
                <div class="element-cell cell-20"><input type="radio" dtype="ordinal" name="resistence" value="1"></div>
                <div class="element-cell cell-20"><input type="radio" dtype="ordinal" name="resistence" value="2"></div>
            </div>
            <div class="element-row">
                <div class="element-cell cell-40"><span>Ciclismo</span></div>
                <div class="element-cell cell-20"><input type="radio" dtype="ordinal" name="biking" value="0" checked></div>
                <div class="element-cell cell-20"><input type="radio" dtype="ordinal" name="biking" value="1"></div>
                <div class="element-cell cell-20"><input type="radio" dtype="ordinal" name="biking" value="2"></div>
            </div>
            <div class="element-row">
                <div class="element-cell cell-40"><span>Natação</span></div>
                <div class="element-cell cell-20"><input type="radio" dtype="ordinal" name="swimming" value="0" checked></div>
                <div class="element-cell cell-20"><input type="radio" dtype="ordinal" name="swimming" value="1"></div>
                <div class="element-cell cell-20"><input type="radio" dtype="ordinal" name="swimming" value="2"></div>
            </div>
            
        </div>
    </div>

    <div class="buttonContainer">
        <button type="button" class="nextButton" id="menu">
            <i class="fa-solid fa-bars"></i>
            Menu
        </button>
        <button type="button" class="nextButton" id="next" onclick="window.location.href='/report/strength/athlete/'">
            <i class="fa-solid fa-chart-column"></i>
            Report
        </button>
        <button type="submit" class="submitButton" id="submit">
            <i class="fa-solid fa-share"></i>
            Submit
        </button>
    </div>
</form>

<script>
    document.getElementById('menu').addEventListener('click', function() {
        window.location.href = "/menu/entries/{{ entry_date }}/";
    });
    
    const entryDate = "{{ entry_date }}";
    document.getElementById('date_input').value = entryDate;
    
    const now = new Date();

</script>

{% endblock %}