<div class="wisdom-box box">
    <div class="box-title">
        <span>alquimista</span>
    </div>
    <div class="box-role">
        <span>
            O <strong>Alquimista</strong> é aquele que transforma as inpurezas adquiridas durante a <strong>Expedição</strong> em <strong>Sabedoria</strong>
        </span>
    </div>
    <div class="box-input">
        <div class="box-habit">
            <span>
                Sobre o hábito de <strong>Autoconhecer-se</strong>
            </span>
        </div>
        <div class="flex-table">
            <div class="flex-row">
                <div class="flex-cell cell-33">
                    <div id="id_anger" class="check" onclick="checkButton('id_anger', 'input_wisdom_alchemist_anger', 'False', 'True')">
                        <span>Raiva</span>
                    </div>
                    <input type="hidden" id="input_wisdom_alchemist_anger" name="multi_wisdom_alchemist_anger" value="False">
                </div>
                <div class="flex-cell cell-33">
                    <div id="id_sadness" class="check" onclick="checkButton('id_sadness', 'input_wisdom_alchemist_sadness', 'False', 'True')">
                        <span>Tristeza</span>
                    </div>
                    <input type="hidden" id="input_wisdom_alchemist_sadness" name="multi_wisdom_alchemist_sadness" value="False">
                </div>
                <div class="flex-cell cell-33">
                    <div id="id_fear" class="check" onclick="checkButton('id_fear', 'input_wisdom_alchemist_fear', 'False', 'True')">
                        <span>Medo</span>
                    </div>
                    <input type="hidden" id="input_wisdom_alchemist_fear" name="multi_wisdom_alchemist_fear" value="False">
                </div>
            </div>
            <div class="flex-row">
                <div class="flex-cell cell-33">
                    <div id="id_frustration" class="check" onclick="checkButton('id_frustration', 'input_wisdom_alchemist_frustration', 'False', 'True')">
                        <span>Frustração</span>
                    </div>
                    <input type="hidden" id="input_wisdom_alchemist_frustration" name="multi_wisdom_alchemist_frustration" value="False">
                </div>
                <div class="flex-cell cell-33">
                    <div id="id_disheartenment" class="check" onclick="checkButton('id_disheartenment', 'input_wisdom_alchemist_disheartenment', 'False', 'True')">
                        <span>Desânimo</span>
                    </div>
                    <input type="hidden" id="input_wisdom_alchemist_disheartenment" name="multi_wisdom_alchemist_disheartenment" value="False">
                </div>
                <div class="flex-cell cell-33">
                    <div id="id_anxiety" class="check" onclick="checkButton('id_anxiety', 'input_wisdom_alchemist_anxiety', 'False', 'True')">
                        <span>Ansiedade</span>
                    </div>
                    <input type="hidden" id="input_wisdom_alchemist_anxiety" name="multi_wisdom_alchemist_anxiety" value="False">
                </div>
            </div>
            <div class="flex-row">
                <div class="flex-cell cell-100">
                    <textarea id="text_apprentice_Learning" style="height: 90px;"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('text_apprentice_Learning').value = 'Situação: \nPensamento: \nReação: ';
    document.getElementById('text_apprentice_Learning').addEventListener('blur', function() {

    var input = document.createElement('input');
    
    input.type = 'hidden';
    input.name = 'textarea_wisdom_alchemist_learning';
    input.value = this.value;
    
    var container = this.parentNode;
    
    container.appendChild(input);
});
</script>