<div class="wisdom-box box">
    <div class="box-title">
        <span>aprendiz</span>
    </div>
    <div class="box-role">
        <span>
            O <strong>Aprendiz</strong> é aquele que permite que quaisquer experiências vividas durante a <strong>Expedição</strong> sejam transformadas em <strong>Sabedoria</strong>
        </span>
    </div>
    <div class="box-input">
        <div class="box-habit">
            <span>
                Sobre o hábito de <strong>Crescer</strong>
            </span>
        </div>
        <div class="flex-table">
            <div class="flex-row">
                <div class="flex-cell cell-33"><input type="radio" name="wisdomApprenticeType" value="anger"><span>Raiva</span></div>
                <div class="flex-cell cell-33"><input type="radio" name="wisdomApprenticeType" value="sadness"><span>Tristeza</span></div>
                <div class="flex-cell cell-33"><input type="radio" name="wisdomApprenticeType" value="frustration"><span>Frustração</span></div>
            </div>
            <div class="flex-row">
                <div class="flex-cell cell-33"><input type="radio" name="wisdomApprenticeType" value="fear"><span>Medo</span></div>
                <div class="flex-cell cell-33"><input type="radio" name="wisdomApprenticeType" value="disheartenment"><span>Desânimo</span></div>
                <div class="flex-cell cell-33"><input type="radio" name="wisdomApprenticeType" value="resentment"><span>Ressentimento</span></div>
            </div>
            <div class="flex-row">
                <div class="flex-cell cell-100"><textarea name="wisdomApprenticeText">Hoje senti </textarea></div>
            </div>
        </div>
    </div>
</div>