<div class="wisdom-box box">
    <div class="box-title">
        <span>aprendiz</span>
    </div>
    <div class="box-role">
        <span>
            O <strong>Aprendiz</strong> é aquele que permite que quaisquer experiências vividas durante a <strong>Expedição</strong> sejam transformadas em <strong>Sabedoria</strong>
        </span>
    </div>
    <div class="box-input">
        <div class="box-habit">
            <span>
                Sobre o hábito de <strong>Crescer</strong>
            </span>
        </div>
        <div class="flex-table">
            <div class="flex-row">
                <div class="flex-cell cell-33">
                    <div class="check" id="opt1" onclick="toggleCheck('opt1', 'input_apprentice_Learning', 'anger')">
                        <span>Raiva</span>
                    </div>
                </div>
                <div class="flex-cell cell-33">
                    <div class="check" id="opt2" onclick="toggleCheck('opt2', 'input_apprentice_Learning', 'sadness')">
                        <span>Tristeza</span>
                    </div>
                </div>
                <div class="flex-cell cell-33">
                    <div class="check" id="opt3" onclick="toggleCheck('opt3', 'input_apprentice_Learning', 'frustration')">
                        <span>Frustração</span>
                    </div>
                </div>
            </div>
            <div class="flex-row">
                <div class="flex-cell cell-33">
                    <div class="check" id="opt4" onclick="toggleCheck('opt4', 'input_apprentice_Learning', 'fear')">
                        <span>Medo</span>
                    </div>
                </div>
                <div class="flex-cell cell-33">
                    <div class="check" id="opt5" onclick="toggleCheck('opt5', 'input_apprentice_Learning', 'disheartenment')">
                        <span>Desânimo</span>
                    </div>
                </div>
                <div class="flex-cell cell-33">
                    <div class="check" id="opt6" onclick="toggleCheck('opt6', 'input_apprentice_Learning', 'resentment')">
                        <span>Ressentimento</span>
                    </div>
                </div>
            </div>
            <div class="flex-row">
                <div class="flex-cell cell-100">
                    <textarea id="text_apprentice_Learning"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('text_apprentice_Learning').value = 'Hoje senti\nCom isso aprendi';
</script>