<div class="wisdom-box box">
    <div class="box-title">
        <span>navegador</span>
    </div>
    <div class="box-role">
        <span>
            O <strong>Navegador</strong> é aquele que busca experiência de outras vidas para trazer a <strong>Sabedoria</strong> à <strong>Expedição</strong>
        </span>
    </div>
    <div class="box-input">
        <div class="box-habit">
            <span>
                Sobre o hábito da <strong>Leitura</strong>
            </span>
        </div>
        <div id="form-container" class="flex-table">
            <div class="flex-row" data-row-index="0">
                <div class="flex-cell cell-50"><input type="text" name="text_wisdom_navigator_book_0" placeholder="Nome do Livro"></div>
                <div class="flex-cell cell-25">
                    <span><i class="fa-solid fa-pills"></i></span>
                    <div id="toggle_wisdom_navigator_session_0" class="toggle" onclick="toggleButton('wisdom_navigator_session_0')">
                        <div class="toggle-button"></div>
                    </div>
                    <span><i class="fa-regular fa-calendar-check"></i></span>
                    <input type="hidden" id="input_wisdom_navigator_session_0" name="toggle_wisdom_navigator_session_0" value="False">
                </div>
                <div class="flex-cell cell-25">
                    <span><i class="fa-regular fa-moon"></i></span>
                    <div id="toggle_wisdom_navigator_excelence_0" class="toggle" onclick="toggleButton('wisdom_navigator_excelence_0')">
                        <div class="toggle-button"></div>
                    </div>
                    <span><i class="fa-solid fa-sun"></i></span>
                    <input type="hidden" id="input_wisdom_navigator_excelence_0" name="toggle_wisdom_navigator_excelence_0" value="False">
                </div>
            </div>
        </div>
        <div class="buttonContainer">
            <button type="button" class="removeButton" id="remove-row">
                <i class="fa-solid fa-square-minus"></i>
                Remove
            </button>
            <button type="button" class="addButton" id="add-row">
                <i class="fa-solid fa-square-plus"></i>
                Add
            </button>
        </div>
    </div>
</div>

<script>
    document.getElementById('add-row').addEventListener('click', addRow);
    document.getElementById('remove-row').addEventListener('click', removeRow);
</script>