<div class="wisdom-box box">
    <div class="box-title">
        <span>navegador</span>
    </div>
    <div class="box-role">
        <span>
            O <strong>Navegador</strong> é aquele que busca experiência de outras vidas para trazer a <strong>Sabedoria</strong> à <strong>Expedição</strong>
        </span>
    </div>
    <div class="box-input">
        <div class="box-habit">
            <span>
                Sobre o hábito da <strong>Leitura</strong>
            </span>
        </div>
        <div class="flex-table">
            <div class="flex-row">
                <div class="flex-cell cell-50"><input type="text" name="text_wisdom_navigator_book" placeholder="Nome do Livro" ></div>
                <div class="flex-cell cell-25">
                    <span><i class="fa-solid fa-pills"></i></span>
                    <div id="toggle_wisdom_navigatorSession" class="toggle" onclick="toggleButton('wisdom_navigatorSession')">
                        <div class="toggle-button"></div>
                    </div>
                    <span><i class="fa-regular fa-calendar-check"></i></span>
                    <input type="hidden" id="input_wisdom_navigatorSession" name="toggle_wisdom_navigatorSession" value="False">
                </div>
                <div class="flex-cell cell-25">
                    <span><i class="fa-regular fa-moon"></i></span>
                    <div id="toggle_wisdom_navigatorExcelence" class="toggle" onclick="toggleButton('wisdom_navigatorExcelence')">
                        <div class="toggle-button"></div>
                    </div>
                    <span><i class="fa-solid fa-sun"></i></span>
                    <input type="hidden" id="input_wisdom_navigatorExcelence" name="toggle_wisdom_navigatorExcelence" value="False">
                </div>
            </div>
        </div>
    </div>
</div>