<div class="wisdom-box box">
    <div class="box-title">
        <span>sentinela</span>
    </div>
    <div class="box-role">
        <span>
            O <strong>Sentinela</strong> é aquele que através do descanso é capaz de proteger a <strong>Sabedoria</strong> durante toda a <strong>Expedição</strong>
        </span>
    </div>
    <div class="box-input">
        <div class="box-habit">
            <span>
                Sobre o hábito de <strong>Dormir</strong>
            </span>
        </div>
        <div class="flex-table">
            <div class="flex-row">
                <div class="flex-cell cell-50">Tempo de Tela</div>
                <div class="flex-cell cell-25">
                    <input type="number" name="wisdom_sentinel_ScreenTime" minlength="3" maxlength="4"
                        oninput="ScreenTimeOutput.value = formatValue(wisdom_sentinel_ScreenTime.value, 'time')" required>
                </div>
                <div class="flex-cell cell-25"><output id="ScreenTimeOutput">__h __min</output></div>
            </div>
            <div class="flex-row">
                <div class="flex-cell cell-50">Início do Sono</div>
                <div class="flex-cell cell-50"><input type="datetime-local" name="wisdom_sentinel_BedDatetime" required></div>
            </div>
            <div class="flex-row">
                <div class="flex-cell cell-50">Fim do Sono</div>
                <div class="flex-cell cell-50"><input type="datetime-local" name="wisdom_sentinel_WakeupDatetime" required></div>
            </div>
            <div class="flex-row">
                <div class="flex-cell cell-100"><span id="DatetimeDifferenceOutput" placeholder="Aguardando inserção de ambos os dados."></span></div>
            </div>
        </div>
        <br>
    </div>
</div>