<div class="stability-box box">
    <div class="box-title">
        <span>mecenas</span>
    </div>
    <div class="box-role">
        <span>
            O <strong>Mecenas</strong> é aquele que enxerga que a <strong>Estabilidade</strong> trazida para a <strong>Expedição</strong> também pode ser compatilhada com a sociedade
        </span>
    </div>
    <div class="box-input">
        <div class="box-habit">
            <span>
                Sobre o hábito da <strong>Estudar</strong>
            </span>
        </div>
        <div class="flex-table">
            <div class="flex-row">
                <div class="flex-cell cell-50">
                    <div id="toggle_patron_Action" class="toggle" onclick="toggleButton('toggle_patron_Action', 'text_patron_Action', 'input_patron_Action')">
                        <div class="toggle-button"></div>
                    </div>
                    <span>Ação</span>
                    <input type="hidden" id="input_patron_Action" name="toggle_patron_Action" value="False">
                </div>
                <div class="flex-cell cell-50">
                    <div id="toggle_patron_Satisfaction" class="toggle" onclick="toggleButton('toggle_patron_Satisfaction', 'text_patron_Satisfaction', 'input_patron_Satisfaction')">
                        <div class="toggle-button"></div>
                    </div>
                    <span>Satisfação</span>
                    <input type="hidden" id="input_patron_Satisfaction" name="toggle_patron_Satisfaction" value="False">
                </div>
            </div>
            <!-- <div class="flex-row">
                <div class="flex-cell cell-50">
                    <div id="text_patron_Action"><span>Não</span></div>
                </div>
                <div class="flex-cell cell-50">
                    <div id="text_patron_Satisfaction"><span>Não</span></div>
                </div>
            </div> -->
        </div>   
    </div>
</div>