<div class="stability-box box">
    <div class="box-title">
        <span>patrocinador</span>
    </div>
    <div class="box-role">
        <span>
            O <strong>Patrocinador</strong> é aquele que faz-se útil para a sociedade, trazendo <strong>Estabilidade</strong> para a <strong>Expedição</strong>
        </span>
    </div>
    <div class="box-input">
        <div class="box-habit">
            <span>
                Sobre o hábito da <strong>Trabalhar</strong>
            </span>
        </div>
        <div class="flex-table">
            <div class="flex-row">
                <div class="flex-cell cell-33">
                        <div id="toggle_sponsor_action" class="toggle" onclick="toggleButton('sponsor_action')">
                            <div class="toggle-button"></div>
                        </div>
                        <span>Ação</span>
                        <input type="hidden" id="input_sponsor_action" name="toggle_stability_sponsor_action" value="False">
                </div>
                <div class="flex-cell cell-33">
                        <div id="toggle_sponsor_satisfaction" class="toggle" onclick="toggleButton('sponsor_satisfaction')">
                            <div class="toggle-button"></div>
                        </div>
                        <span>Satisfação</span>
                        <input type="hidden" id="input_sponsor_satisfaction" name="toggle_stability_sponsor_satisfaction" value="False">
                </div>
                <div class="flex-cell cell-33">
                        <div id="toggle_sponsor_impact" class="toggle" onclick="toggleButton('sponsor_impact')">
                            <div class="toggle-button"></div>
                        </div>
                        <span>Impacto</span>
                        <input type="hidden" id="input_sponsor_impact" name="toggle_stability_sponsor_impact" value="False">
                </div>
            </div>
        </div>
    </div>
</div>