<div class="stability-box box">
    <div class="box-title">
        <span>patrocinador</span>
    </div>
    <div class="box-role">
        <span>
            O <strong>Patrocinador</strong> é aquele que busca ser útil para a sociedade, trazendo <strong>Estabilidade</strong> para a <strong>Expedição</strong>
        </span>
    </div>
    <div class="box-input">
        <div class="box-habit">
            <span>
                Sobre o hábito da <strong>Trabalhar</strong>
            </span>
        </div>
        <div class="flex-table">
            <div class="flex-row">
                <div class="flex-cell cell-33">
                        <div id="toggle1" class="toggle" onclick="toggleButton('toggle1', 'toggle-text1', 'hiddenInput1')">
                            <div class="toggle-button"></div>
                        </div>
                        <span>Ação</span>
                        <input type="hidden" id="hiddenInput1" name="toggle1" value="False">
                </div>
                <div class="flex-cell cell-33">
                        <div id="toggle2" class="toggle" onclick="toggleButton('toggle2', 'toggle-text2', 'hiddenInput2')">
                            <div class="toggle-button"></div>
                        </div>
                        <span>Satisfação</span>
                        <input type="hidden" id="hiddenInput2" name="toggle2" value="False">
                </div>
                <div class="flex-cell cell-33">
                        <div id="toggle3" class="toggle" onclick="toggleButton('toggle3', 'toggle-text3', 'hiddenInput3')">
                            <div class="toggle-button"></div>
                        </div>
                        <span>Resultado</span>
                        <input type="hidden" id="hiddenInput3" name="toggle3" value="False">
                </div>
            </div>
            <!-- <div class="flex-row">
                <div class="flex-cell cell-33">
                    <div id="toggle-text1"><span>Não</span></div>
                </div>
                <div class="flex-cell cell-33">
                    <div id="toggle-text2"><span>Não</span></div>
                </div>
                <div class="flex-cell cell-33">
                    <div id="toggle-text3"><span>Não</span></div>
                </div>
            </div> -->
        </div>
    </div>
</div>