{% extends "base.html" %}

{% block title %}
    Menu de Inserção
{% endblock %}

{% block content %}

    <div class="page-title">
        <h1>Nova Inserção</h1>
        <h2>Nova Inserção</h2>
    </div>

    <div class="accordion">
        <div class="accordion-item wisdom-color">
            <button class="accordion-button">Sabedoria</button>
            <div class="accordion-content">
                <a id="wisdom_navigator_link" href="#">
                    <button class="{{ 'disabled-button' if has_data_map.get(('wisdom', 'navigator'), False) else 'enabled-button' }}">Navegador</button>
                </a>
                <a id="wisdom_alchemist_link" href="#">
                    <button class="{{ 'disabled-button' if has_data_map.get(('wisdom', 'alchemist'), False) else 'enabled-button' }}">Alquimista</button>
                </a>
                <a id="wisdom_sentinel_link" href="#">
                    <button class="{{ 'disabled-button' if has_data_map.get(('wisdom', 'sentinel'), False) else 'enabled-button' }}">Sentinela</button>
                </a>
            </div>
        </div>

        <div class="accordion-item stability-color">
            <button class="accordion-button">Estabilidade</button>
            <div class="accordion-content">
                <a id="stability_sponsor_link" href="#">
                    <button class="{{ 'disabled-button' if has_data_map.get(('stability', 'sponsor'), False) else 'enabled-button' }}">Patrocinador</button>
                </a>
                <a id="stability_patron_link" href="#">
                    <button class="{{ 'disabled-button' if has_data_map.get(('stability', 'patron'), False) else 'enabled-button' }}">Mecenas</button>
                </a>
                <a id="stability_treasurer_link" href="#">
                    <button class="{{ 'disabled-button' if has_data_map.get(('stability', 'treasurer'), False) else 'enabled-button' }}">Tesoureiro</button>
                </a>
            </div>
        </div>

        <div class="accordion-item strength-color">
            <button class="accordion-button">Força</button>
            <div class="accordion-content">
                <a id="strength_athlete_link" href="#">
                    <button class="{{ 'disabled-button' if has_data_map.get(('strength', 'athlete'), False) else 'enabled-button' }}">Atleta</button>
                </a>
                <a id="strength_cook_link" href="#">
                    <button class="{{ 'disabled-button' if has_data_map.get(('strength', 'cook'), False) else 'enabled-button' }}">Cozinheiro</button>
                </a>
                <a id="strength_nutritionist_link" href="#">
                    <button class="{{ 'disabled-button' if has_data_map.get(('strength', 'nutritionist'), False) else 'enabled-button' }}">Nutricionista</button>
                </a>
            </div>
        </div>

        <div class="accordion-item kindness-color">
            <button class="accordion-button">Gentileza</button>
            <div class="accordion-content">
                <a id="kindness_caretaker_link" href="#">
                    <button class="{{ 'disabled-button' if has_data_map.get(('kindness', 'caretaker'), False) else 'enabled-button' }}">Zelador</button>
                </a>
                <a id="kindness_diplomat_link" href="#">
                    <button class="{{ 'disabled-button' if has_data_map.get(('kindness', 'diplomat'), False) else 'enabled-button' }}">Diplomata</button>
                </a>
                <a id="kindness_citizen_link" href="#">
                    <button class="{{ 'disabled-button' if has_data_map.get(('kindness', 'citizen'), False) else 'enabled-button' }}">Cidadão</button>
                </a>
            </div>
        </div>

        <div class="accordion-item devotion-color">
            <button class="accordion-button">Devoção</button>
            <div class="accordion-content">
                <a id="devotion_oracle_link" href="#">
                    <button class="{{ 'disabled-button' if has_data_map.get(('devotion', 'oracle'), False) else 'enabled-button' }}">Oráculo</button>
                </a>
                <a id="devotion_atharva_bindu_link" href="#">
                    <button class="{{ 'disabled-button' if has_data_map.get(('devotion', 'atharva_bindu'), False) else 'enabled-button' }}">Atharva Bindu</button>
                </a>
                <a id="devotion_witness_link" href="#">
                    <button class="{{ 'disabled-button' if has_data_map.get(('devotion', 'witness'), False) else 'enabled-button' }}">Expectador</button>
                </a>
            </div>
        </div>
    </div>

    <div class="buttonContainer">
        <button type="button" class="loginButton" id="home" onclick="window.location.href='/'">
            <i class="fa-solid fa-house"></i>
            Home
        </button>
    </div>

    <script>
        const entryDate = "{{ entry_date }}";

        document.getElementById('wisdom_navigator_link').href = `/entries/${entryDate}/wisdom/navigator/`;
        document.getElementById('wisdom_alchemist_link').href = `/entries/${entryDate}/wisdom/alchemist/`;
        document.getElementById('wisdom_sentinel_link').href = `/entries/${entryDate}/wisdom/sentinel/`;

        document.getElementById('stability_sponsor_link').href = `/entries/${entryDate}/stability/sponsor/`;
        document.getElementById('stability_patron_link').href = `/entries/${entryDate}/stability/patron/`;
        document.getElementById('stability_treasurer_link').href = `/entries/${entryDate}/stability/treasurer/`;

        document.getElementById('strength_athlete_link').href = `/entries/${entryDate}/strength/athlete/`;
        document.getElementById('strength_cook_link').href = `/entries/${entryDate}/strength/cook/`;
        document.getElementById('strength_nutritionist_link').href = `/entries/${entryDate}/strength/nutritionist/`;

        document.getElementById('kindness_caretaker_link').href = `/entries/${entryDate}/kindness/caretaker/`;
        document.getElementById('kindness_diplomat_link').href = `/entries/${entryDate}/kindness/diplomat/`;
        document.getElementById('kindness_citizen_link').href = `/entries/${entryDate}/kindness/citizen/`;

        document.getElementById('devotion_oracle_link').href = `/entries/${entryDate}/devotion/oracle/`;
        document.getElementById('devotion_atharva_bindu_link').href = `/entries/${entryDate}/devotion/atharva_bindu/`;
        document.getElementById('devotion_witness_link').href = `/entries/${entryDate}/devotion/witness/`;
    </script>

{% endblock %}