{% extends "base.html" %}

{% block title %}
    Menu de Relatórios
{% endblock %}

{% block content %}

    <div class="page-title">
        <h1>Relatórios</h1>
        <h2>Relatórios</h2>
    </div>

    <div class="accordion">
        <div class="accordion-item wisdom-color">
            <button class="accordion-button">Sabedoria</button>
            <div class="accordion-content">
                <button class="enabled-button" onclick="window.location.href='/report/wisdom/navigator/'">Navegador</button>
                <button class="enabled-button" onclick="window.location.href='/report/wisdom/alchemist/'">Alquimista</button>
                <button class="enabled-button" onclick="window.location.href='/report/wisdom/sentinel/'">Sentinela</button>
            </div>
        </div>

        <div class="accordion-item stability-color">
            <button class="accordion-button">Estabilidade</button>
            <div class="accordion-content">
                <button class="enabled-button" onclick="window.location.href='/report/stability/sponsor/'">Patrocinador</button>
                <button class="enabled-button" onclick="window.location.href='/report/stability/patron/'">Mecenas</button>
                <button class="enabled-button" onclick="window.location.href='/report/stability/treasurer/'">Tesoureiro</button>
            </div>
        </div>

        <div class="accordion-item strength-color">
            <button class="accordion-button">Força</button>
            <div class="accordion-content">
                <button class="enabled-button" onclick="window.location.href='/report/strength/athlete/'">Atleta</button>
                <button class="enabled-button" onclick="window.location.href='/report/strength/cook/'">Cozinheiro</button>
                <button class="enabled-button" onclick="window.location.href='/report/strength/nutritionist/'">Nutricionista</button>
            </div>
        </div>

        <div class="accordion-item kindness-color">
            <button class="accordion-button">Gentileza</button>
            <div class="accordion-content">
                <button class="enabled-button" onclick="window.location.href='/report/kindness/caretaker/'">Zelador</button>
                <button class="enabled-button" onclick="window.location.href='/report/kindness/diplomat/'">Diplomata</button>
                <button class="enabled-button" onclick="window.location.href='/report/kindness/citizen/'">Cidadão</button>
            </div>
        </div>

        <div class="accordion-item devotion-color">
            <button class="accordion-button">Devoção</button>
            <div class="accordion-content">
                <button class="enabled-button" onclick="window.location.href='/report/devotion/oracle/'">Oráculo</button>
                <button class="enabled-button" onclick="window.location.href='/report/devotion/atharva_bindu/'">Atharva Bindu</button>
                <button class="enabled-button" onclick="window.location.href='/report/devotion/witness/'">Expectador</button>
            </div>
        </div>
    </div>

    <div class="buttonContainer">
        <button type="button" class="loginButton" id="refresh" onclick="refreshPage()">
            <i class="fa-solid fa-arrows-rotate"></i>
            Refresh
        </button>
        <button type="button" class="loginButton" id="home" onclick="window.location.href='/'">
            <i class="fa-solid fa-house"></i>
            Home
        </button>
    </div>

{% endblock %}