@import url('colors.css');

.box {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    margin-top: 75px;
    padding: 20px;
    border-radius: 25px;
    gap: 25px;
    border: 4px solid
}

.info-box {
    border-color: var(--gray-color-8);
    background-color: var(--gray-color-4);
}

.info-box .box-title {
    background-color: var(--gray-color-8);
    color: var(--white-color);
}

.wisdom-box {
    border-color: var(--green-color-dark);
    background-color: var(--green-color-darkest);
}

.wisdom-box .box-title {
    background-color: var(--green-color-dark);
    color: var(--white-color);
}

.stability-box {
    border-color: var(--red-color-dark);
    background-color: var(--red-color-darker);
}

.stability-box .box-title {
    background-color: var(--red-color-dark);
    color: var(--white-color);
}

.strength-box {
    border-color: var(--blue-color-dark);
    background-color: var(--blue-color-darkest);
}

.strength-box .box-title {
    background-color: var(--blue-color-dark);
    color: var(--white-color);
}

.kindness-box {
    border-color: var(--yellow-color-dark);
    background-color: var(--yellow-color-darker);
}

.kindness-box .box-title {
    background-color: var(--yellow-color-dark);
    color: var(--white-color);
}

.devotion-box {
    border-color: var(--purple-color-dark);
    background-color: var(--purple-color-darkest);
}

.devotion-box .box-title {
    background-color: var(--purple-color-dark);
    color: var(--white-color);
}