@import url('colors.css');

.box-title {
    margin-top: -38px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 3px;
    border-radius: 20px;
    font-weight: 800;
    text-transform: capitalize;
}

.box-role {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    width: 100%;
    max-width: 700px;
}

.box-role span {
    display: inline-block;
    width: 80%;
    hyphens: auto;
    margin: 0 auto;
}

.box-input {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
    border-radius: 20px;
    gap: 10px;
}

.box-role, .box-input {
    background-color: var(--gray-color-2);
}

.box-habit {
    border: 1px inset var(--inner-box-border-color);
    text-align: center;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    background-color: var(--gray-color-4);
}

.box-range {
        background: var(--gray-color-6);
        margin: 20px;
        padding: 5px;
        border-radius: 25px;
}