@import url("colors.css");

section {
    width: 700px;
    margin: 0 auto;
}

section strong {
    color: var(--strong-section-color);
}

section .box:last-child {
    margin-bottom: 1em;
}

section .box:first-child {
    margin-top: none;
}

.basic {
    --section-color: orange;
    --section-color-dark: darkorange;
}

.wisdom {
    --strong-section-color: var(--green-color-light);
    --section-color: var(--green-color);
    --section-color-dark: var(--green-color-dark);
    --section-color-darker: var(--green-color-darker);
    --section-color-darkest: var(--green-color-darkest);
}

.stability {
    --strong-section-color: var(--red-color);
    --section-color: var(--red-color);
    --section-color-dark: var(--red-color-dark);
    --section-color-darker: var(--red-color-darker);
    --section-color-darkest: var(--red-color-darkest);
}

.strength {
    --strong-section-color: var(--blue-color);
    --section-color: var(--blue-color);
    --section-color-dark: var(--blue-color-dark);
    --section-color-darker: var(--blue-color-darker);
    --section-color-darkest: var(--blue-color-darkest);
}

.kindness {
    --strong-section-color: var(--yellow-color);
    --section-color: var(--yellow-color);
    --section-color-dark: var(--yellow-color-dark);
    --section-color-darker: var(--yellow-color-darker);
    --section-color-darkest: var(--yellow-color-darkest);
}

.devotion {
    --strong-section-color: var(--purple-color-light);
    --section-color: var(--purple-color);
    --section-color-dark: var(--purple-color-dark);
    --section-color-darker: var(--purple-color-darker);
    --section-color-darkest: var(--purple-color-darkest);
}

.info-section, .wisdom-section, .stability-section, .strength-section, .kindness-section, .devotion-section {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 800;
    text-transform: capitalize;
    font-family: 'Montserrat-Alt1', sans-serif;
    border-radius: 100px;
    margin-top: 4em;
    margin-bottom: -1em;
    border: 3px solid;
}

.info-section {
    color: var(--white-color);
    background-color: var(--gray-color-4);
    border-color: var(--gray-color-8);
}

.wisdom-section {
    color: var(--white-color);
    background-color: var(--green-color-darkest);
    border-color: var(--green-color-dark);
}

.stability-section {
    color: var(--white-color);
    background-color: var(--red-color-darker);
    border-color: var(--red-color-dark);
}

.strength-section {
    color: var(--white-color);
    background-color: var(--blue-color-darkest);
    border-color: var(--blue-color-dark);
}

.kindness-section {
    color: var(--white-color);
    background-color: var(--yellow-color-darker);
    border-color: var(--yellow-color-dark);
}

.devotion-section {
    color: var(--white-color);
    background-color: var(--purple-color-darkest);
    border-color: var(--purple-color-dark);
}