{% extends "base.html" %}

{% block title %}
    Nutricionista
{% endblock %}

{% block content %}

<form id="myForm" action="/entry/strength/nutritionist/" method="POST" onsubmit="submitForm(event)">
    <div class="element-box strength">
        <div class="element-header">
            <span>Nutricionista</span>
        </div>
        <div class="element-habit">
            <span>Sobre o hábito de <strong>Manter-se</strong></span>
        </div>
        <div class="element-table">

            <div class="element-row">
                <div class="element-cell cell-100">
                    <input type="date" id="date_input" dtype="date" name="date_input">
                </div>
            </div>

            <div class="element-row"><div class="element-cell cell-100"><br></div></div>

            <div class="element-row">
                <div class="element-cell cell-50">Calorias de Ontem</div>
                <div class="element-cell cell-25">
                    <input type="number" id="int_yesterdayCalories" dtype="int" name="yesterdayCalories"
                        oninput="updateOutput('caloriesOutput', this.value, 'calories')">
                </div>
                <div class="element-cell cell-25"><output id="caloriesOutput">_ cal</output></div>
            </div>

            <div class="element-row"><div class="element-cell cell-100"><br></div></div>

            <div class="element-row">
                <div class="element-cell cell-50">Peso Total</div>
                <div class="element-cell cell-25">
                    <input type="number" id="double_totalWeight" dtype="double" name="totalWeight" minlength="4" maxlength="5"
                        oninput="updateOutput('totalWeightOutput', this.value, 'weight')">
                </div>
                <div class="element-cell cell-25"><output id="totalWeightOutput">__.__ kg</output></div>
            </div>
            <div class="element-row">
                <div class="element-cell cell-50">Percentual de Gordura</div>
                <div class="element-cell cell-25">
                    <input type="number" id="double_fatPercentage" dtype="double" name="fatPercentage" minlength="4" maxlength="4"
                        oninput="updateOutput('fatPercentageOutput', this.value, 'percentage')">
                </div>
                <div class="element-cell cell-25"><output id="fatPercentageOutput">__.__ %</output></div>
            </div>
            <div class="element-row">
                <div class="element-cell cell-50">Massa Magra</div>
                <div class="element-cell cell-25">
                    <input type="number" id="double_muscleWeight" dtype="double" name="muscleWeight" minlength="4" maxlength="5"
                        oninput="updateOutput('muscleWeightOutput', this.value, 'weight')">
                </div>
                <div class="element-cell cell-25"><output id="muscleWeightOutput">__.__ kg</output></div>
            </div>
            
        </div>
    </div>

    <div class="buttonContainer">
        <button type="button" class="homeButton" id="return" onclick="window.location.href='/'">
            <i class="fas fa-home"></i>
            Home
        </button>
        <button type="submit" class="submitButton" id="submit">
            <i class="fa-solid fa-share"></i>
            Submit
        </button>
        <button type="button" class="nextButton" id="next" onclick="window.location.href='/entry/stability/treasurer/'">
            <i class="fa-solid fa-forward"></i>
            Next
        </button>
    </div>
</form>

<script>
    const now = new Date();
    now.setHours(now.getHours() - 3);
    document.getElementById('date_input').value = now.toISOString().split('T')[0];
</script>

{% endblock %}