<div class="strength-box box">
    <div class="box-title">
        <span>cozinheiro</span>
    </div>
    <div class="box-role">
        <span>
            O <strong>Cozinheiro</strong> é aquele que melhora a <strong>Força</strong> através de funções básicas da <strong>Expedição</strong>
        </span>
    </div>
    <div class="box-input">
        <div class="box-habit">
            <span>
                Sobre o resultado da <strong>Alimentação</strong> e <strong>Hidratação</strong>
            </span>
        </div>
        <div class="flex-table">
            <div class="flex-row">
                <div class="flex-cell cell-50">Peso Total</div>
                <div class="flex-cell cell-25">
                    <input type="number" name="weight_strength_cook_totalWeight" minlength="4" maxlength="5"
                        oninput="totalWeightOutput.value = formatValue(weight_strength_cook_totalWeight.value, 'weight')">
                </div>
                <div class="flex-cell cell-25"><output id="totalWeightOutput">__.__ kg</output></div>
            </div>
            <div class="flex-row">
                <div class="flex-cell cell-50">Percentual de Gordura</div>
                <div class="flex-cell cell-25">
                    <input type="number" name="percentage_strength_cook_fatPercentage" minlength="4" maxlength="4"
                        oninput="fatPercentageOutput.value = formatValue(percentage_strength_cook_fatPercentage.value, 'percentage')">
                </div>
                <div class="flex-cell cell-25"><output id="fatPercentageOutput">__.__ %</output></div>
            </div>
            <div class="flex-row">
                <div class="flex-cell cell-50">Massa Magra</div>
                <div class="flex-cell cell-25">
                    <input type="number" name="weight_strength_cook_muscleWeight" minlength="4" maxlength="5"
                        oninput="muscleWeightOutput.value = formatValue(weight_strength_cook_muscleWeight.value, 'weight')">
                </div>
                <div class="flex-cell cell-25"><output id="muscleWeightOutput">__.__ kg</output></div>
            </div>
            <div class="flex-row">
                <div class="flex-cell cell-50">Metabolismo Basal</div>
                <div class="flex-cell cell-25">
                    <input type="number" name="calories_strength_cook_basalMetabolism" 
                        oninput="basalMetabolismOutput.value = formatValue(calories_strength_cook_basalMetabolism.value, 'calories')">
                </div>
                <div class="flex-cell cell-25"><output id="basalMetabolismOutput">_ cal</output></div>
            </div>
            <div class="flex-row">
                <div class="flex-cell cell-50">Calorias de Ontem</div>
                <div class="flex-cell cell-25">
                    <input type="number" name="calories_strength_cook_calories" 
                        oninput="caloriesOutput.value = formatValue(calories_strength_cook_calories.value, 'calories')" required>
                </div>
                <div class="flex-cell cell-25"><output id="caloriesOutput">_ cal</output></div>
            </div>
        </div>
    </div>
</div>