<div class="strength-box box">
    <div class="box-title">
        <span>batedor</span>
    </div>
    <div class="box-role">
        <span>
            O <strong>Batedor</strong> é aquele que aumenta a durabilidade da <strong>Expedição</strong>, trazendo <strong>Força</strong> à cada um dos membros
        </span>
    </div>
    <div class="box-input">
        <div class="box-habit">
            <span>
                Sobre o hábito de <strong>Durar</strong>
            </span>
        </div>
        <div class="flex-table">
            <div class="flex-row">
                <div class="flex-cell cell-50">
                    <div id="toggle_scout_running" class="toggle" onclick="toggleButton('scout_running')">
                        <div class="toggle-button"></div>
                    </div>
                    <span>Corrida</span>
                    <input type="hidden" id="input_scout_running" name="toggle_scout_running" value="False">
                </div>
                <div class="flex-cell cell-25">
                    <span><i class="fa-solid fa-pills"></i></span>
                    <div id="toggle_scout_running_session" class="toggle" onclick="toggleButton('scout_running_session')">
                        <div class="toggle-button"></div>
                    </div>
                    <span><i class="fa-regular fa-calendar-check"></i></span>
                    <input type="hidden" id="input_scout_running_session" name="toggle_scout_running_session" value="False">
                </div>
                <div class="flex-cell cell-25">
                    <span><i class="fa-regular fa-moon"></i></span>
                    <div id="toggle_scout_running_excelence" class="toggle" onclick="toggleButton('scout_running_excelence')">
                        <div class="toggle-button"></div>
                    </div>
                    <span><i class="fa-solid fa-sun"></i></span>
                    <input type="hidden" id="input_scout_running_excelence" name="toggle_scout_running_excelence" value="False">
                </div>
            </div>
            <div class="flex-row">
                <div class="flex-cell cell-50">Distância</div>
                <div class="flex-cell cell-25">
                    <input type="number" name="text_scout_running_distance" minlength="3" maxlength="4"
                        oninput="RunningDistanceOutput.value = formatValue(text_scout_running_distance.value, 'distance')">
                </div>
                <div class="flex-cell cell-25"><output id="RunningDistanceOutput">__.__ km</output></div>
            </div>
            <div class="flex-row">
                <div class="flex-cell cell-50">Duração</div>
                <div class="flex-cell cell-25">
                    <input type="number" name="text_scout_running_duration" minlength="3" maxlength="4"
                        oninput="RunningDurationOutput.value = formatValue(text_scout_running_duration.value, 'time')">
                </div>
                <div class="flex-cell cell-25"><output id="RunningDurationOutput">__h __min</output></div>
            </div>
            <div class="flex-row">
                <div class="flex-cell cell-50">Calorias</div>
                <div class="flex-cell cell-25">
                    <input type="number" name="text_scout_running_calories" 
                        oninput="RunningCaloriesOutput.value = formatValue(text_scout_running_calories.value, 'calories')">
                </div>
                <div class="flex-cell cell-25"><output id="RunningCaloriesOutput">_ cal</output></div>
            </div>
        </div>
        <div class="flex-table">
            <div class="flex-row">
                <div class="flex-cell cell-50">
                    <div id="toggle_scout_biking" class="toggle" onclick="toggleButton('scout_biking')">
                        <div class="toggle-button"></div>
                    </div>
                    <span>Ciclismo</span>
                    <input type="hidden" id="input_scout_biking" name="toggle_scout_biking" value="False">
                </div>
                <div class="flex-cell cell-25">
                    <span><i class="fa-solid fa-pills"></i></span>
                    <div id="toggle_scout_biking_session" class="toggle" onclick="toggleButton('scout_biking_session')">
                        <div class="toggle-button"></div>
                    </div>
                    <span><i class="fa-regular fa-calendar-check"></i></span>
                    <input type="hidden" id="input_scout_biking_session" name="toggle_scout_biking_session" value="False">
                </div>
                <div class="flex-cell cell-25">
                    <span><i class="fa-regular fa-moon"></i></span>
                    <div id="toggle_scout_biking_excelence" class="toggle" onclick="toggleButton('scout_biking_excelence')">
                        <div class="toggle-button"></div>
                    </div>
                    <span><i class="fa-solid fa-sun"></i></span>
                    <input type="hidden" id="input_scout_biking_excelence" name="toggle_scout_biking_excelence" value="False">
                </div>
            </div>
            <div class="flex-row">
                <div class="flex-cell cell-50">Distância</div>
                <div class="flex-cell cell-25">
                    <input type="number" name="text_scout_biking_distance" minlength="3" maxlength="4"
                        oninput="bikingDistanceOutput.value = formatValue(text_scout_biking_distance.value, 'distance')">
                </div>
                <div class="flex-cell cell-25"><output id="bikingDistanceOutput">__.__ km</output></div>
            </div>
            <div class="flex-row">
                <div class="flex-cell cell-50">Duração</div>
                <div class="flex-cell cell-25">
                    <input type="number" name="text_scout_biking_duration" minlength="3" maxlength="4"
                        oninput="bikingDurationOutput.value = formatValue(text_scout_biking_duration.value, 'time')">
                </div>
                <div class="flex-cell cell-25"><output id="bikingDurationOutput">__h __min</output></div>
            </div>
            <div class="flex-row">
                <div class="flex-cell cell-50">Calorias</div>
                <div class="flex-cell cell-25">
                    <input type="number" name="text_scout_biking_calories" 
                        oninput="bikingCaloriesOutput.value = formatValue(text_scout_biking_calories.value, 'calories')">
                </div>
                <div class="flex-cell cell-25"><output id="bikingCaloriesOutput">_ cal</output></div>
            </div>
        </div>
        <div class="flex-table">
            <div class="flex-row">
                <div class="flex-cell cell-50">
                    <div id="toggle_scout_swimming" class="toggle" onclick="toggleButton('scout_swimming')">
                        <div class="toggle-button"></div>
                    </div>
                    <span>Natação</span>
                    <input type="hidden" id="input_scout_swimming" name="toggle_scout_swimming" value="False">
                </div>
                <div class="flex-cell cell-25">
                    <span><i class="fa-solid fa-pills"></i></span>
                    <div id="toggle_scout_swimming_session" class="toggle" onclick="toggleButton('scout_swimming_session')">
                        <div class="toggle-button"></div>
                    </div>
                    <span><i class="fa-regular fa-calendar-check"></i></span>
                    <input type="hidden" id="input_scout_swimming_session" name="toggle_scout_swimming_session" value="False">
                </div>
                <div class="flex-cell cell-25">
                    <span><i class="fa-regular fa-moon"></i></span>
                    <div id="toggle_scout_swimming_excelence" class="toggle" onclick="toggleButton('scout_swimming_excelence')">
                        <div class="toggle-button"></div>
                    </div>
                    <span><i class="fa-solid fa-sun"></i></span>
                    <input type="hidden" id="input_scout_swimming_excelence" name="toggle_scout_swimming_excelence" value="False">
                </div>
            </div>
            <div class="flex-row">
                <div class="flex-cell cell-50">Distância</div>
                <div class="flex-cell cell-25">
                    <input type="number" name="text_scout_swimming_distance" minlength="3" maxlength="4"
                        oninput="swimmingDistanceOutput.value = formatValue(text_scout_swimming_distance.value, 'distance')">
                </div>
                <div class="flex-cell cell-25"><output id="swimmingDistanceOutput">__.__ km</output></div>
            </div>
            <div class="flex-row">
                <div class="flex-cell cell-50">Duração</div>
                <div class="flex-cell cell-25">
                    <input type="number" name="text_scout_swimming_duration" minlength="3" maxlength="4"
                        oninput="swimmingDurationOutput.value = formatValue(text_scout_swimming_duration.value, 'time')">
                </div>
                <div class="flex-cell cell-25"><output id="swimmingDurationOutput">__h __min</output></div>
            </div>
            <div class="flex-row">
                <div class="flex-cell cell-50">Calorias</div>
                <div class="flex-cell cell-25">
                    <input type="number" name="text_scout_swimming_calories" 
                        oninput="swimmingCaloriesOutput.value = formatValue(text_scout_swimming_calories.value, 'calories')">
                </div>
                <div class="flex-cell cell-25"><output id="swimmingCaloriesOutput">_ cal</output></div>
            </div>
        </div>
    </div>
</div>