<div class="strength-box box">
    <div class="box-title">
        <span>batedor</span>
    </div>
    <div class="box-role">
        <span>
            O <strong>Batedor</strong> é aquele que aumenta a durabilidade da <strong>Expedição</strong>, trazendo <strong>Força</strong> à cada um dos membros
        </span>
    </div>
    <div class="box-input">
        <div class="box-habit">
            <span>
                Sobre o hábito de <strong>Durar</strong>
            </span>
        </div>
        <div class="flex-table">
            <div class="flex-row">
                <div class="flex-cell cell-50">
                    <div id="toggle_strength_scout_runningAction" class="toggle" onclick="toggleButton('strength_scout_runningAction')">
                        <div class="toggle-button"></div>
                    </div>
                    <span>Corrida</span>
                    <input type="hidden" id="Input_strength_scout_runningAction" name="toggle_strength_scout_runningAction" value="False">
                </div>
                <div class="flex-cell cell-25">
                    <span><i class="fa-solid fa-pills"></i></span>
                    <div id="toggle_strength_scout_runningSession" class="toggle" onclick="toggleButton('strength_scout_runningSession')">
                        <div class="toggle-button"></div>
                    </div>
                    <span><i class="fa-regular fa-calendar-check"></i></span>
                    <input type="hidden" id="Input_strength_scout_runningSession" name="toggle_strength_scout_runningSession" value="False">
                </div>
                <div class="flex-cell cell-25">
                    <span><i class="fa-regular fa-moon"></i></span>
                    <div id="toggle_strength_scout_runningExcelence" class="toggle" onclick="toggleButton('strength_scout_runningExcelence')">
                        <div class="toggle-button"></div>
                    </div>
                    <span><i class="fa-solid fa-sun"></i></span>
                    <input type="hidden" id="Input_strength_scout_runningExcelence" name="toggle_strength_scout_runningExcelence" value="False">
                </div>
            </div>
            <div class="flex-row">
                <div class="flex-cell cell-50">Distância</div>
                <div class="flex-cell cell-25">
                    <input type="number" name="distance_strength_scout_runningDistance" minlength="3" maxlength="4"
                        oninput="RunningDistanceOutput.value = formatValue(distance_strength_scout_runningDistance.value, 'distance')">
                </div>
                <div class="flex-cell cell-25"><output id="RunningDistanceOutput">__.__ km</output></div>
            </div>
            <div class="flex-row">
                <div class="flex-cell cell-50">Duração</div>
                <div class="flex-cell cell-25">
                    <input type="number" name="time_strength_scout_runningDuration" minlength="3" maxlength="4"
                        oninput="RunningDurationOutput.value = formatValue(time_strength_scout_runningDuration.value, 'exercise')">
                </div>
                <div class="flex-cell cell-25"><output id="RunningDurationOutput">__'__''</output></div>
            </div>
            <div class="flex-row">
                <div class="flex-cell cell-50">Calorias</div>
                <div class="flex-cell cell-25">
                    <input type="number" name="calories_strength_scout_runningCalories" 
                        oninput="RunningCaloriesOutput.value = formatValue(calories_strength_scout_runningCalories.value, 'calories')">
                </div>
                <div class="flex-cell cell-25"><output id="RunningCaloriesOutput">_ cal</output></div>
            </div>
        </div>
        <div class="flex-table">
            <div class="flex-row">
                <div class="flex-cell cell-50">
                    <div id="toggle_strength_scout_bikingAction" class="toggle" onclick="toggleButton('strength_scout_bikingAction')">
                        <div class="toggle-button"></div>
                    </div>
                    <span>Ciclismo</span>
                    <input type="hidden" id="Input_strength_scout_bikingAction" name="toggle_strength_scout_bikingAction" value="False">
                </div>
                <div class="flex-cell cell-25">
                    <span><i class="fa-solid fa-pills"></i></span>
                    <div id="toggle_strength_scout_bikingSession" class="toggle" onclick="toggleButton('strength_scout_bikingSession')">
                        <div class="toggle-button"></div>
                    </div>
                    <span><i class="fa-regular fa-calendar-check"></i></span>
                    <input type="hidden" id="Input_strength_scout_bikingSession" name="toggle_strength_scout_bikingSession" value="False">
                </div>
                <div class="flex-cell cell-25">
                    <span><i class="fa-regular fa-moon"></i></span>
                    <div id="toggle_strength_scout_bikingExcelence" class="toggle" onclick="toggleButton('strength_scout_bikingExcelence')">
                        <div class="toggle-button"></div>
                    </div>
                    <span><i class="fa-solid fa-sun"></i></span>
                    <input type="hidden" id="Input_strength_scout_bikingExcelence" name="toggle_strength_scout_bikingExcelence" value="False">
                </div>
            </div>
            <div class="flex-row">
                <div class="flex-cell cell-50">Distância</div>
                <div class="flex-cell cell-25">
                    <input type="number" name="distance_strength_scout_bikingDistance" minlength="3" maxlength="4"
                        oninput="bikingDistanceOutput.value = formatValue(distance_strength_scout_bikingDistance.value, 'distance')">
                </div>
                <div class="flex-cell cell-25"><output id="bikingDistanceOutput">__.__ km</output></div>
            </div>
            <div class="flex-row">
                <div class="flex-cell cell-50">Duração</div>
                <div class="flex-cell cell-25">
                    <input type="number" name="time_strength_scout_bikingDuration" minlength="3" maxlength="4"
                        oninput="bikingDurationOutput.value = formatValue(time_strength_scout_bikingDuration.value, 'exercise')">
                </div>
                <div class="flex-cell cell-25"><output id="bikingDurationOutput">__'__''</output></div>
            </div>
            <div class="flex-row">
                <div class="flex-cell cell-50">Calorias</div>
                <div class="flex-cell cell-25">
                    <input type="number" name="calories_strength_scout_bikingCalories" 
                        oninput="bikingCaloriesOutput.value = formatValue(calories_strength_scout_bikingCalories.value, 'calories')">
                </div>
                <div class="flex-cell cell-25"><output id="bikingCaloriesOutput">_ cal</output></div>
            </div>
        </div>
        <div class="flex-table">
            <div class="flex-row">
                <div class="flex-cell cell-50">
                    <div id="toggle_strength_scout_swimmingAction" class="toggle" onclick="toggleButton('strength_scout_swimmingAction')">
                        <div class="toggle-button"></div>
                    </div>
                    <span>Natação</span>
                    <input type="hidden" id="Input_strength_scout_swimmingAction" name="toggle_strength_scout_swimmingAction" value="False">
                </div>
                <div class="flex-cell cell-25">
                    <span><i class="fa-solid fa-pills"></i></span>
                    <div id="toggle_strength_scout_swimmingSession" class="toggle" onclick="toggleButton('strength_scout_swimmingSession')">
                        <div class="toggle-button"></div>
                    </div>
                    <span><i class="fa-regular fa-calendar-check"></i></span>
                    <input type="hidden" id="Input_strength_scout_swimmingSession" name="toggle_strength_scout_swimmingSession" value="False">
                </div>
                <div class="flex-cell cell-25">
                    <span><i class="fa-regular fa-moon"></i></span>
                    <div id="toggle_strength_scout_swimmingExcelence" class="toggle" onclick="toggleButton('strength_scout_swimmingExcelence')">
                        <div class="toggle-button"></div>
                    </div>
                    <span><i class="fa-solid fa-sun"></i></span>
                    <input type="hidden" id="Input_strength_scout_swimmingExcelence" name="toggle_strength_scout_swimmingExcelence" value="False">
                </div>
            </div>
            <div class="flex-row">
                <div class="flex-cell cell-50">Distância</div>
                <div class="flex-cell cell-25">
                    <input type="number" name="distance_strength_scout_swimmingDistance" minlength="3" maxlength="4"
                        oninput="swimmingDistanceOutput.value = formatValue(distance_strength_scout_swimmingDistance.value, 'distance')">
                </div>
                <div class="flex-cell cell-25"><output id="swimmingDistanceOutput">__.__ km</output></div>
            </div>
            <div class="flex-row">
                <div class="flex-cell cell-50">Duração</div>
                <div class="flex-cell cell-25">
                    <input type="number" name="time_strength_scout_swimmingDuration" minlength="3" maxlength="4"
                        oninput="swimmingDurationOutput.value = formatValue(time_strength_scout_swimmingDuration.value, 'exercise')">
                </div>
                <div class="flex-cell cell-25"><output id="swimmingDurationOutput">__'__''</output></div>
            </div>
            <div class="flex-row">
                <div class="flex-cell cell-50">Calorias</div>
                <div class="flex-cell cell-25">
                    <input type="number" name="calories_strength_scout_swimmingCalories" 
                        oninput="swimmingCaloriesOutput.value = formatValue(calories_strength_scout_swimmingCalories.value, 'calories')">
                </div>
                <div class="flex-cell cell-25"><output id="swimmingCaloriesOutput">_ cal</output></div>
            </div>
        </div>
    </div>
</div>