<div class="strength-box box">
    <div class="box-title">
        <span>strength_vanguarda</span>
    </div>
    <div class="box-role">
        <span>
            O <strong>strength_vanguarda</strong> é aquele que constrói uma estrutura capaz de prover <strong>Força</strong> aos outros e à <strong>Expedição</strong>
        </span>
    </div>
    <div class="box-input">
        <div class="box-habit">
            <span>
                Sobre o hábito de <strong>Resistir</strong>
            </span>
        </div>
        <div class="flex-table">
            <div class="flex-row">
                <div class="flex-cell cell-50">
                    <div id="toggle_strength_vanguard_yogaAction" class="toggle" onclick="toggleButton('strength_vanguard_yogaAction')">
                        <div class="toggle-button"></div>
                    </div>
                    <span>Yoga</span>
                    <input type="hidden" id="input_strength_vanguard_yogaAction" name="toggle_strength_vanguard_yogaAction" value="False">
                </div>
                <div class="flex-cell cell-25">
                    <span><i class="fa-solid fa-pills"></i></span>
                    <div id="toggle_strength_vanguard_yogaSession" class="toggle" onclick="toggleButton('strength_vanguard_yogaSession')">
                        <div class="toggle-button"></div>
                    </div>
                    <span><i class="fa-regular fa-calendar-check"></i></span>
                    <input type="hidden" id="input_strength_vanguard_yogaSession" name="toggle_strength_vanguard_yogaSession" value="False">
                </div>
                <div class="flex-cell cell-25">
                    <span><i class="fa-regular fa-moon"></i></span>
                    <div id="toggle_strength_vanguard_yogaExcelence" class="toggle" onclick="toggleButton('strength_vanguard_yogaExcelence')">
                        <div class="toggle-button"></div>
                    </div>
                    <span><i class="fa-solid fa-sun"></i></span>
                    <input type="hidden" id="input_strength_vanguard_yogaExcelence" name="toggle_strength_vanguard_yogaExcelence" value="False">
                </div>
            </div>
        </div>
        <div class="flex-table">
            <div class="flex-row">
                <div class="flex-cell cell-50">
                    <div id="toggle_strength_vanguard_calisthenicsAction" class="toggle" onclick="toggleButton('strength_vanguard_calisthenicsAction')">
                        <div class="toggle-button"></div>
                    </div>
                    <span>Calistenia</span>
                    <input type="hidden" id="input_strength_vanguard_calisthenicsAction" name="toggle_strength_vanguard_calisthenicsAction" value="False">
                </div>
                <div class="flex-cell cell-25">
                    <span><i class="fa-solid fa-pills"></i></span>
                    <div id="toggle_strength_vanguard_calisthenicsSession" class="toggle" onclick="toggleButton('strength_vanguard_calisthenicsSession')">
                        <div class="toggle-button"></div>
                    </div>
                    <span><i class="fa-regular fa-calendar-check"></i></span>
                    <input type="hidden" id="input_strength_vanguard_calisthenicsSession" name="toggle_strength_vanguard_calisthenicsSession" value="False">
                </div>
                <div class="flex-cell cell-25">
                    <span><i class="fa-regular fa-moon"></i></span>
                    <div id="toggle_strength_vanguard_calisthenicsExcelence" class="toggle" onclick="toggleButton('strength_vanguard_calisthenicsExcelence')">
                        <div class="toggle-button"></div>
                    </div>
                    <span><i class="fa-solid fa-sun"></i></span>
                    <input type="hidden" id="input_strength_vanguard_calisthenicsExcelence" name="toggle_strength_vanguard_calisthenicsExcelence" value="False">
                </div>
            </div>
        </div>
    </div>
</div>