{% extends "base.html" %}

{% block title %}
    Bússola Lunar
{% endblock %}

{% block header %}
    Bússola Lunar
{% endblock %}

{% block content %}
    <form action="/form/night/" method="POST">

        <section id="opening">
            <h2>Informações Gerais</h2>
            <fieldset id="header">
                <legend class=centralized>Hoje</legend>
                <div>
                    <table class=tableWithSpacing>
                        <tr>
                            <td class=centralized>
                                <label for="inputDate">Data do Registro</label>
                            </td>
                            <td class=centralized>
                                <input type="date" name="inputDate" id="inputDate" style="width: 125px;" required>
                            </td>
                        </tr>
                        <tr>
                            <td class=centralized>
                                <label for="inputTime">Horário de Preenchimento</label>
                            </td>
                            <td class=centralized>
                                <input type="time" name="inputTime" id="inputTime" style="width: 110px;" required>
                            </td>
                        </tr>
                        <tr>
                            <td class=centralized>
                                <label for="dayHumor">Humor da Noite</label>
                            </td>
                            <td class=centralized>
                                <div class=centralized>
                                    <input type="radio" name="dayHumor" id="sun"  value="sol" required>
                                    <i class="fa-solid fa-sun" style="margin-right: 25px;"></i>
                                    <input type="radio" name="dayHumor" id="moon"  value="lua" required>
                                    <i class="fa-regular fa-moon"></i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class=centralized>
                                <label for="dailyGratitude">Gratidão Diária</label>
                            </td>
                            <td class=centralized>
                                <textarea class="input-style textarea-dark-mode" name="dailyGratitude" id="dailyGratitude" style="width: 250px;" required>Sou grato por </textarea>
                            </td>
                        </tr>
                    </table>
                </div>
            </fieldset>
        </section>
        
        <br><hr><br>

        <section id="wisdom">
            <h2>Sabedoria</h2>

            <fieldset id="navigator">
                <legend class=centralized>Navegador</legend>
                <div>
                    <table class=tableWithSpacing>
                        <tr>
                            <td class=centralized colspan="3">
                                <label for="reading">Sobre o hábito da <strong>Ler</strong></label>
                            </td>
                        </tr>
                        <tr>
                            <td class=centralized>
                                <input type="radio" name="wisdomNavigatorReading" id="wisdomNavigatorReading" value="False">Sem Ato
                            </td>
                            <td class=centralized>
                                <input type="radio" name="wisdomNavigatorReading" id="wisdomNavigatorReading" value="pill">Pílula
                            </td>
                            <td class=centralized>
                                <input type="radio" name="wisdomNavigatorReading" id="wisdomNavigatorReading" value="session">Sessão
                            </td>
                        </tr>
                        <tr>
                            <td class=centralized colspan="3">
                                <div class=centralized>
                                    <input type="checkbox" name="wisdomNavigatorExcelence" id="wisdomNavigatorExcelence"  value="True">
                                    <i class="fa-solid fa-sun" style="margin-right: 150px;"></i>
                                    <input type="checkbox" name="wisdomNavigatorNotes" id="wisdomNavigatorNotes"  value="True">
                                    <i class="fa-solid fa-sticky-note"></i>                          
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </fieldset>
            
            <br>

            <fieldset id="alchemist">
                <legend class=centralized>Alquimista</legend>
                <div>
                    <table class=tableWithSpacing>
                        <tr>
                            <td class=centralized colspan="3">
                                <span>Sobre o hábito de <strong>Abdicar</strong></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="flex-container">
                                    <span>Ahimsa</span>
                                    <span id="wisdomAlchemistAhimsaOutput">Aguardando Input</span>
                                </div>
                                <input type="range" id="wisdomAlchemistAhimsa" name="wisdomAlchemistAhimsa" min="0" max="16" value="16" oninput="updateOutput(wisdomAlchemistAhimsa, wisdomAlchemistAhimsaOutput)">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="flex-container">
                                    <span>Satya</span>
                                    <span id="wisdomAlchemistSatyaOutput">Aguardando Input</span>
                                </div>
                                <input type="range" id="wisdomAlchemistSatya" name="wisdomAlchemistSatya" min="0" max="16" value="16" oninput="updateOutput(wisdomAlchemistSatya, wisdomAlchemistSatyaOutput)">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="flex-container">
                                    <span>Asteya</span>
                                    <span id="wisdomAlchemistAsteyaOutput">Aguardando Input</span>
                                </div>
                                <input type="range" id="wisdomAlchemistAsteya" name="wisdomAlchemistAsteya" min="0" max="16" value="16" oninput="updateOutput(wisdomAlchemistAsteya, wisdomAlchemistAsteyaOutput)">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="flex-container">
                                    <span>Brahmacharya</span>
                                    <span id="wisdomAlchemistBrahmacharyaOutput">Aguardando Input</span>
                                </div>
                                <input type="range" id="wisdomAlchemistBrahmacharya" name="wisdomAlchemistBrahmacharya" min="0" max="16" value="16" oninput="updateOutput(wisdomAlchemistBrahmacharya, wisdomAlchemistBrahmacharyaOutput)">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="flex-container">
                                    <span>Aparigraha</span>
                                    <span id="wisdomAlchemistAparigrahaOutput">Aguardando Input</span>
                                </div>
                                <input type="range" id="wisdomAlchemistAparigraha" name="wisdomAlchemistAparigraha" min="0" max="16" value="16" oninput="updateOutput(wisdomAlchemistAparigraha, wisdomAlchemistAparigrahaOutput)">
                            </td>
                        </tr>
                    </table>
                </div>
            </fieldset>

            <br>

            <div class="box">
                <div class="box-title">
                    <span>Aprendiz</span>
                </div>
                <div class="box-role">
                    <span>O <strong>Aprendiz</strong> permite que experiências vividas durante a expedição sejam transformadas em <strong>Sabedoria</strong> no futuro.</span>
                </div>
                <div class="box-input">
                    <div class="checkbox-list">
                        <div><input type="checkbox" name="wisdomApprenticeType" value="anger"><span>Raiva</span></div>
                        <div><input type="checkbox" name="wisdomApprenticeType" value="sadness"><span>Tristeza</span></div>
                        <div><input type="checkbox" name="wisdomApprenticeType" value="frustration"><span>Frustração</span></div>
                        <div><input type="checkbox" name="wisdomApprenticeType" value="fear"><span>Medo</span></div>
                        <div><input type="checkbox" name="wisdomApprenticeType" value="disheartenment"><span>Desânimo</span></div>
                        <div><input type="checkbox" name="wisdomApprenticeType" value="resentment"><span>Ressentimento</span></div>
                    </div>
                    <div class="textarea">
                        <textarea name="wisdomApprenticeText" id="wisdomApprenticeText" cols="30" rows="10"></textarea>
                    </div>
                </div>
            </div>



            <br>

            <fieldset id="wisdomCompass">
                <legend class=centralized>Bússola da Sabedoria</legend>
                <div>
                    <table class=tableWithSpacing>
                        <tr>
                            <td class=centralized colspan="2">
                                <label for="wisdomSatisfaction">Está satisfeito com o Direcionamento da Sabedoria de hoje?</label>
                            </td>
                        </tr>
                        <tr>    
                            <td class=centralized>
                                <input type="radio" name="wisdomSatisfaction" id="wisdomSatisfaction" value="False">Não
                            </td>
                            <td class=centralized>
                                <input type="radio" name="wisdomSatisfaction" id="wisdomSatisfaction" value="True">Sim
                            </td>
                        </tr>
                    </table>
                    <br>
                    <table>
                        <tr>
                            <td class=centralized colspan="4">
                                <label for="wisdomGrowth">Como ajustar o Direcionamento da Sabedoria amanhã?</label>
                            </td>
                        </tr>
                        <tr>
                            <td class=centralized>
                                <input type="checkbox" name="wisdomGrowth" id="wisdomGrowth" value="navigator">Navegador
                            </td>
                            <td class=centralized>
                                <input type="checkbox" name="wisdomGrowth" id="wisdomGrowth" value="alchimist">Alquimista
                            </td>
                            <td class=centralized>
                                <input type="checkbox" name="wisdomGrowth" id="wisdomGrowth" value="apprentice">Aprendiz
                            </td>
                        </tr>
                        <tr>
                            <td class=centralized colspan="4">
                                <textarea name="wisdomGrowthTextArea" id="wisdomGrowthTextArea" style="width: 80%;" ></textarea>
                            </td>
                        </tr>
                    </table>
                </div>
            </fieldset>

        </section>
        
        <br><hr><br>
        
        <section id="stability">
            <h2>Estabilidade</h2>

            <fieldset id="sponsor">
                <legend class=centralized>Patrocinador</legend>
                <div class="fieldset-div">
                    <div class="container-title">
                        <div class="item">Sobre o hábito de <strong>Trabalhar</strong></div>
                    </div>
                    <div class="container">
                        <div class="item"></div>
                        <div class="item-option">Não</div>
                        <div class="item-option">Sim</div>
                    </div>
                    <div class="container">
                        <label class="item-label" for="stabilitySponsorActive">Dia Ativo</label>
                        <div class="item-input"><input type="radio" name="stabilitySponsorActive" value="False" required></div>
                        <div class="item-input"><input type="radio" name="stabilitySponsorActive" value="True" required></div>
                    </div>
                    <div class="container">
                        <label class="item-label" for="stabilitySponsorSatisfaction">Satisfação</label>
                        <div class="item-input"><input type="radio" name="stabilitySponsorSatisfaction" value="False"></div>
                        <div class="item-input"><input type="radio" name="stabilitySponsorSatisfaction" value="True"></div>
                    </div>
                    <div class="container">
                        <label class="item-label" for="stabilitySponsorOutcome">Resultado</label>
                        <div class="item-input"><input type="radio" name="stabilitySponsorOutcome" value="False"></div>
                        <div class="item-input"><input type="radio" name="stabilitySponsorOutcome" value="True"></div>
                    </div>                      
                </div>
            </fieldset>

            <br>

            <fieldset id="patron">
                <legend class=centralized>Mecenas</legend>
            </fieldset>

            <br>

            <fieldset id="stabilityCompass">
                <legend class=centralized>Bússola da Estabilidade</legend>
                <div>
                    <table class=tableWithSpacing>
                        <tr>
                            <td class=centralized colspan="2">
                                <label for="stabilitySatisfaction">Está satisfeito com o Direcionamento da Estabilidade de hoje?</label>
                            </td>
                        </tr>
                        <tr>    
                            <td class=centralized>
                                <input type="radio" name="stabilitySatisfaction" id="stabilitySatisfaction" value="False">Não
                            </td>
                            <td class=centralized>
                                <input type="radio" name="stabilitySatisfaction" id="stabilitySatisfaction" value="True">Sim
                            </td>
                        </tr>
                    </table>
                    <br>
                    <table>
                        <tr>
                            <td class=centralized colspan="4">
                                <label for="wisdomGrowth">Como ajustar o Direcionamento da Estabilidade amanhã?</label>
                            </td>
                        </tr>
                        <tr>
                            <td class=centralized>
                                <input type="checkbox" name="stabilityGrowth" id="stabilityGrowth" value="sponsor">Patrocinador
                            </td>
                            <td class=centralized>
                                <input type="checkbox" name="stabilityGrowth" id="stabilityGrowth" value="patron">Mecenas
                            </td>
                            <td class=centralized>
                                <input type="checkbox" name="stabilityGrowth" id="stabilityGrowth" value="treasurer">Tesoureiro
                            </td>
                        </tr>
                        <tr>
                            <td class=centralized colspan="4">
                                <textarea name="stabilityGrowthTextArea" id="stabilityGrowthTextArea" style="width: 80%;" ></textarea>
                            </td>
                        </tr>
                    </table>
                </div>
            </fieldset>

        </section>
        
        <br><hr><br>
        
        <section id="strength">
            <h2>Força</h2>

            <fieldset id="vanguard">
                <legend class=centralized>Vanguarda</legend>
            </fieldset>

            <br>

            <fieldset id="scout">
                <legend class=centralized>Batedor</legend>
            </fieldset>

            <br>

            <fieldset id="cook">
                <legend class=centralized>Cozinheiro</legend>
            </fieldset>
        </section>
        
        <br><hr><br>
        
        <section id="kindness">
            <h2>Gentileza</h2>

            <fieldset id="caretaker">
                <legend class=centralized>Zelador</legend>
            </fieldset>

            <br>

            <fieldset id="diplomat">
                <legend class=centralized>Diplomata</legend>
            </fieldset>

            <br>

            <fieldset id="hero">
                <legend class=centralized>Herói</legend>
            </fieldset>

        </section>
        
        <br><hr><br>
        
        <section id="devotion">
            <h2>Devoção</h2>

            <fieldset id="ascetic">
                <legend class=centralized>Asceta</legend>
            </fieldset>

            <br>

            <fieldset id="leader">
                <legend class=centralized>Líder</legend>
            </fieldset>
        </section>
        
        <br><hr><br>

        <section id="ending">
            <div class="buttonContainer">
                <table style="width: 100%;" class=tableWithSpacing>
                    <tr>
                        <td class=centralized>
                            <button type="button" class="returnButton" id="return" style="margin-right: 20px;" onclick="window.location.href='/'">
                                <i class="fas fa-arrow-left"></i>
                                Return
                            </button>
                        </td>
                        <td class=centralized>
                            <button class="resetButton" id="reset" style="margin-right: 20px;" type="reset">
                                <i class="fas fa-undo"></i>
                                Resetz
                            </button>
                        </td>
                        <td class=centralized>
                            <button class="submitButton" id="submit" type="submit" value="Submit">
                                <i class="fas fa-paper-plane"></i>
                                Submit
                            </button>
                        </td>
                </table>
            </div>
        </section>

    </form>

    <script>

        function updateOutput(inputElement, outputElement) {
            var value = inputElement.value;
            var classification = "";
            
            if (value == 0) {
                classification = "Falha";
            } else if (value >= 1 && value <= 13) {
                classification = "Derrota";
            } else if (value == 14 || value == 15) {
                classification = "Vitória";
            } else if (value == 16) {
                classification = "Sucesso";
            }
            
            outputElement.innerText = classification;
        }

        var stabilitySponsorActive = document.getElementById('stabilitySponsorActive');
        var stabilitySponsorSatisfaction = document.getElementById('stabilitySponsorSatisfaction');
        var stabilitySponsorOutcome = document.getElementById('stabilitySponsorOutcome');

        stabilitySponsorActive.addEventListener('change', function() {
            if (stabilitySponsorActive.value === 'True') {
                stabilitySponsorSatisfaction.required = true;
                stabilitySponsorOutcome.required = true;
            } else {
                stabilitySponsorSatisfaction.required = false;
                stabilitySponsorOutcome.required = false;
            }
        });
    </script>   

{% endblock %}