{% extends "base.html" %}

{% block title %}
    Bússola Solar
{% endblock %}

{% block header %}
    Bússola Solar
{% endblock %}

{% block content %}
    <form action="/form/morning/" method="POST" onsubmit="return validatePercentage();">

        <section class="basic">
            
            <div class="info-section"><span>Informações Gerais</span></div>

            <div class="info-box box">
                <div class="box-title">
                    <span>Hoje</span>
                </div>
                <div class="box-input">
                    <div class="flex-table">
                        <div class="flex-row">
                            <div class="flex-cell cell-50"><label for="inputDate">Data do Registro</label></div>
                            <div class="flex-cell cell-50"><input type="date" name="inputDate" required></div>
                        </div>
                        <div class="flex-row">
                            <div class="flex-cell cell-50"><label for="inputDate">Horário de Preenchimento</label></div>
                            <div class="flex-cell cell-50"><input type="time" name="inputTime" required></div>
                        </div>
                        <div class="flex-row">
                            <div class="flex-cell cell-50"><label for="dayHumor">Humor da Manhã</label></div>
                            <div class="flex-cell cell-25">
                                <input type="radio" name="dayHumor" value="sol" required>
                                <i class="fa-solid fa-sun"></i>
                            </div>
                            <div class="flex-cell cell-25">
                                <input type="radio" name="dayHumor" value="lua" required>
                                <i class="fa-regular fa-moon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="stability">
            
            <div class="stability-section"><span>Estabilidade</span></div>

            <div class="stability-box box">
                <div class="box-title">
                    <span>tesoureiro</span>
                </div>
                <div class="box-role">
                    <span>
                        O <strong>Tesoureiro</strong> é aquele que zela pelos recursos da <strong>Expedição</strong>, buscando manter a <strong>Estabilidade</strong>
                    </span>
                </div>
                <div class="box-input">
                    <div class="box-habit">
                        <span>
                            Sobre o hábito da <strong>Contabilizar</strong>
                        </span>
                    </div>
                    <div class="flex-table">
                        <div class="flex-row">
                            <div class="flex-cell cell-50">Crédito</div>
                            <div class="flex-cell cell-25">
                                <input type="number" name="stabilityTreasurerCredit" minlength="3" oninput="creditOutput.value = formatValue(stabilityTreasurerCredit.value, 'money')" required>
                            </div>
                            <div class="flex-cell cell-25"><output id="creditOutput">R$ __.__</output></div>
                        </div>
                        <div class="flex-row">
                            <div class="flex-cell cell-50">Débito</div>
                            <div class="flex-cell cell-25">
                                <input type="number" name="stabilityTreasurerDebit" minlength="3" oninput="debitOutput.value = formatValue(stabilityTreasurerDebit.value, 'money')" required>
                            </div>
                            <div class="flex-cell cell-25"><output id="debitOutput">R$ __.__</output></div>
                        </div>
                        <div class="flex-row">
                            <div class="flex-cell cell-50">Benefício</div>
                            <div class="flex-cell cell-25">
                                <input type="number" name="stabilityTreasurerBenefit" minlength="3" oninput="benefitOutput.value = formatValue(stabilityTreasurerBenefit.value, 'money')" required>
                            </div>
                            <div class="flex-cell cell-25"><output id="benefitOutput">R$ __.__</output></div>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>

        <section class="strength">
            
            <div class="strength-section"><span>Força</span></div>

            <div class="strength-box box">
                <div class="box-title">
                    <span>cozinheiro</span>
                </div>
                <div class="box-role">
                    <span>
                        O <strong>Cozinheiro</strong> é aquele que melhora a <strong>Força</strong> através de funções básicas da <strong>Expedição</strong>
                    </span>
                </div>
                <div class="box-input">
                    <div class="box-habit">
                        <span>
                            Sobre o resultado da <strong>Alimentação</strong> e <strong>Hidratação</strong>
                        </span>
                    </div>
                    <div class="flex-table">
                        <div class="flex-row">
                            <div class="flex-cell cell-50">Peso Total</div>
                            <div class="flex-cell cell-25">
                                <input type="number" name="strength_cook_TotalWeight" minlength="4" maxlength="5"
                                    oninput="TotalWeightOutput.value = formatValue(strength_cook_TotalWeight.value, 'weight')" required>
                            </div>
                            <div class="flex-cell cell-25"><output id="TotalWeightOutput">__.__ kg</output></div>
                        </div>
                        <div class="flex-row">
                            <div class="flex-cell cell-50">Percentual de Gordura</div>
                            <div class="flex-cell cell-25">
                                <input type="number" name="strength_cook_FatPercentage" minlength="4" maxlength="4"
                                    oninput="FatPercentageOutput.value = formatValue(strength_cook_FatPercentage.value, 'percentage')" required>
                            </div>
                            <div class="flex-cell cell-25"><output id="FatPercentageOutput">__.__ %</output></div>
                        </div>
                        <div class="flex-row">
                            <div class="flex-cell cell-50">Massa Magra</div>
                            <div class="flex-cell cell-25">
                                <input type="number" name="strength_cook_MuscleWeight" minlength="4" maxlength="5"
                                    oninput="MuscleWeightOutput.value = formatValue(strength_cook_MuscleWeight.value, 'weight')" required>
                            </div>
                            <div class="flex-cell cell-25"><output id="MuscleWeightOutput">__.__ kg</output></div>
                        </div>
                        <div class="flex-row">
                            <div class="flex-cell cell-50">Metabolismo Basal</div>
                            <div class="flex-cell cell-25">
                                <input type="number" name="strength_cook_BasalMetabolism" 
                                    oninput="BasalMetabolismOutput.value = formatValue(strength_cook_BasalMetabolism.value, 'calories')" required>
                            </div>
                            <div class="flex-cell cell-25"><output id="BasalMetabolismOutput">_ cal</output></div>
                        </div>
                        <div class="flex-row">
                            <div class="flex-cell cell-50">Calorias de Ontem</div>
                            <div class="flex-cell cell-25">
                                <input type="number" name="strength_cook_Calories" 
                                    oninput="CaloriesOutput.value = formatValue(strength_cook_Calories.value, 'calories')" required>
                            </div>
                            <div class="flex-cell cell-25"><output id="CaloriesOutput">_ cal</output></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="devotion">
            
            <div class="devotion-section"><span>Devoção</span></div>

            <div class="devotion-box box">
                <div class="box-title">
                    <span>sentinela</span>
                </div>
                <div class="box-role">
                    <span>
                        O <strong>Sentinela</strong> é aquele capaz de pregar a <strong>Devoção</strong> através de um dos atos mais básicos da <strong>Expedição</strong>
                    </span>
                </div>
                <div class="box-input">
                    <div class="box-habit">
                        <span>
                            Sobre o hábito de <strong>Dormir</strong>
                        </span>
                    </div>
                    <div class="flex-table">
                        <div class="flex-row">
                            <div class="flex-cell cell-50">Tempo de Tela</div>
                            <div class="flex-cell cell-25">
                                <input type="number" name="devotion_sentinel_ScreenTime" minlength="3" maxlength="4"
                                    oninput="ScreenTimeOutput.value = formatValue(devotion_sentinel_ScreenTime.value, 'time')" required>
                            </div>
                            <div class="flex-cell cell-25"><output id="ScreenTimeOutput">__h __min</output></div>
                        </div>
                        <div class="flex-row">
                            <div class="flex-cell cell-50">Início do Sono</div>
                            <div class="flex-cell cell-50"><input type="datetime-local" name="devotion_sentinel_BedDatetime" required></div>
                        </div>
                        <div class="flex-row">
                            <div class="flex-cell cell-50">Fim do Sono</div>
                            <div class="flex-cell cell-50"><input type="datetime-local" name="devotion_sentinel_WakeupDatetime" required></div>
                        </div>
                        <div class="flex-row">
                            <div class="flex-cell cell-100"><span id="DatetimeDifferenceOutput" placeholder="Aguardando inserção de ambos os dados."></span></div>
                        </div>
                    </div>
                    <br>
                    <div class="flex-table">
                        <div class="box-range">
                            <div class="flex-row">
                                <div class="flex-cell cell-50"><label for="devotion_sentinel_AwakePercentage">Tempo <strong>Acordado</strong></label></div>
                                <div class="flex-cell cell-50"><strong><output id="devotion_sentinel_AwakePercentageOutput">10</output>%</strong></div>
                            </div>
                            <div class="flex-row">
                                <div class="flex-cell cell-100">
                                    <input type="range" name="devotion_sentinel_AwakePercentage" id="devotion_sentinel_AwakePercentage" min="0" max="30" value="10" required
                                        oninput="devotion_sentinel_AwakePercentageOutput.value = devotion_sentinel_AwakePercentage.value;">
                                </div>
                            </div>
                        </div>
                        <div class="box-range">
                            <div class="flex-row">
                                <div class="flex-cell cell-50"><label for="devotion_sentinel_REMPercentage">Tempo de Sono <strong>REM</strong></label></div>
                                <div class="flex-cell cell-50"><strong><output id="devotion_sentinel_REMPercentageOutput">15</output>%</strong></div>
                            </div>
                            <div class="flex-row">
                                <div class="flex-cell cell-100">
                                    <input type="range" name="devotion_sentinel_REMPercentage" id="devotion_sentinel_REMPercentage" min="0" max="45" value="15" required
                                        oninput="devotion_sentinel_REMPercentageOutput.value = devotion_sentinel_REMPercentage.value;">
                                </div>
                            </div>
                        </div>
                        <div class="box-range">
                            <div class="flex-row">
                                <div class="flex-cell cell-50"><label for="devotion_sentinel_LightPercentage">Tempo de Sono <strong>Leve</strong></label></div>
                                <div class="flex-cell cell-50"><strong><output id="devotion_sentinel_LightPercentageOutput">20</output>%</strong></div>
                            </div>
                            <div class="flex-row">
                                <div class="flex-cell cell-100">
                                    <input type="range" name="devotion_sentinel_LightPercentage" id="devotion_sentinel_LightPercentage" min="0" max="70" value="20" required
                                        oninput="devotion_sentinel_LightPercentageOutput.value = devotion_sentinel_LightPercentage.value;">
                                </div>
                            </div>
                        </div>
                        <div class="box-range">
                            <div class="flex-row">
                                <div class="flex-cell cell-50"><label for="devotion_sentinel_DeepPercentage">Tempo de Sono <strong>Profundo</strong></label></div>
                                <div class="flex-cell cell-50"><strong><output id="devotion_sentinel_DeepPercentageOutput">10</output>%</strong></div>
                            </div>
                            <div class="flex-row">
                                <div class="flex-cell cell-100">
                                    <input type="range" name="devotion_sentinel_DeepPercentage" id="devotion_sentinel_DeepPercentage" min="0" max="30" value="10" required
                                        oninput="devotion_sentinel_DeepPercentageOutput.value = devotion_sentinel_DeepPercentage.value;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="basic">
            <div class="buttonContainer">
                <button type="button" class="returnButton" id="return" onclick="window.location.href='/'">
                    <i class="fas fa-arrow-left"></i>
                    Return
                </button>
                <button class="resetButton" id="reset" type="reset">
                    <i class="fas fa-undo"></i>
                    Reset
                </button>
                <button class="submitButton" id="submit" type="submit" value="Submit">
                    <i class="fas fa-paper-plane"></i>
                    Submit
                </button>
            </div>
        </section>
            
    </form>

    <script>
        
        const bedDateTimeInput = document.querySelector('input[name="devotion_sentinel_BedDatetime"]');
        const wakeupDateTimeInput = document.querySelector('input[name="devotion_sentinel_WakeupDatetime"]');
        const datetimeDifferenceOutput = document.getElementById('DatetimeDifferenceOutput');
        datetimeDifferenceOutput.textContent = "Aguardando inserção de ambos os dados.";
        bedDateTimeInput.addEventListener('change', calculateDatetimeDifference);
        wakeupDateTimeInput.addEventListener('change', calculateDatetimeDifference);

        const awakePercentageInput = document.getElementById('awakePercentage');
        const remPercentageInput   = document.getElementById('remPercentage');
        const lightPercentageInput = document.getElementById('lightPercentage');
        const deepPercentageInput  = document.getElementById('deepPercentage');
        const totalPercentageOutput = document.getElementById('totalPercentage');
        totalPercentageOutput.textContent = "Porcentagem Total: 55%";
        awakePercentageInput.addEventListener('change', calculateTotalPercentage);
        remPercentageInput.addEventListener('change', calculateTotalPercentage);
        lightPercentageInput.addEventListener('change', calculateTotalPercentage);
        deepPercentageInput.addEventListener('change', calculateTotalPercentage);

    </script>
      
{% endblock %}