{% extends "base.html" %}

{% block title %}
    Bússola Lunar
{% endblock %}

{% block header %}
    Bússola Lunar
{% endblock %}

{% block content %}
    <form action="/form/night/" method="POST">

        <section class="basic">
            
            <div class="info-section"><span>Informações Gerais</span></div>

            <div class="info-box box">
                <div class="box-title">
                    <span>Hoje</span>
                </div>
                <div class="box-input">
                    <div class="flex-table">
                        <div class="flex-row">
                            <div class="flex-cell cell-50"><label for="inputDate">Data do Registro</label></div>
                            <div class="flex-cell cell-50"><input type="date" name="inputDate" required></div>
                        </div>
                        <div class="flex-row">
                            <div class="flex-cell cell-50"><label for="inputDate">Horário de Preenchimento</label></div>
                            <div class="flex-cell cell-50"><input type="time" name="inputTime" required></div>
                        </div>
                        <div class="flex-row">
                            <div class="flex-cell cell-50"><label for="nightHumor">Humor da Noite</label></div>
                            <div class="flex-cell cell-25">
                                <input type="radio" name="nightHumor" value="sol" required>
                                <i class="fa-solid fa-sun"></i>
                            </div>
                            <div class="flex-cell cell-25">
                                <input type="radio" name="nightHumor" value="lua" required>
                                <i class="fa-regular fa-moon"></i>
                            </div>
                        </div>
                        <div class="flex-cell cell-100">
                            <!-- TODO: Add more (+) gratitudes -->
                            <textarea name="dailyGratitude" required>Sou grato por </textarea>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="wisdom">

            <div class="wisdom-section"><span>Sabedoria</span></div>

            <div class="wisdom-box box">
                <div class="box-title">
                    <span>navegador</span>
                </div>
                <div class="box-role">
                    <span>
                        O <strong>Navegador</strong> é aquele que busca experiência de outras vidas para trazer mais <strong>Sabedoria</strong> à <strong>Expedição</strong>
                    </span>
                </div>
                <div class="box-input">
                    <div class="box-habit">
                        <span>
                            Sobre o hábito da <strong>Leitura</strong>
                        </span>
                    </div>
                    <div class="flex-table">
                        <div class="flex-row">
                            <!-- TODO: criar funcao para caso haja ato o Livro ser obrigatorio -->
                            <div class="flex-cell cell-50"><input type="text" name="wisdomNavigatorBook" placeholder="Livro" ></div>
                            <div class="flex-cell cell-25">
                                <div id="id_navigator_Sun" class="check" onclick="checkButton('id_navigator_Sun', 'input_navigator_Sun', 'moon', 'sun')">
                                    <i class="fa-solid fa-sun"></i>
                                </div>
                                <input type="hidden" id="input_navigator_Sun" name="check_navigator_Sun" value="moon">
                            </div>
                            <div class="flex-cell cell-25">
                                <div id="id_navigator_Notes" class="check" onclick="checkButton('id_navigator_Notes', 'input_navigator_Notes', 'False', 'True')">
                                    <i class="fa-solid fa-sticky-note"></i>
                                </div>
                                <input type="hidden" id="input_navigator_Notes" name="check_navigator_Notes" value="False">
                            </div>
                        </div>
                        <div class="flex-row">
                            <div class="flex-cell cell-33">
                                <div id="toggle_navigator_Inactive" class="toggle" onclick="toggleButton('toggle_navigator_Inactive', 'text_navigator_Inactive', 'input_navigator_Inactive')">
                                    <div class="toggle-button"></div>
                                </div>
                                <span>Inativo</span>
                                <input type="hidden" id="input_navigator_Inactive" name="toggle_navigator_Inactive" value="False">
                            </div>
                            <div class="flex-cell cell-33">
                                <div id="toggle_navigator_Pill" class="toggle" onclick="toggleButton('toggle_navigator_Pill', 'text_navigator_Pill', 'input_navigator_Pill')">
                                    <div class="toggle-button"></div>
                                </div>
                                <span>Pílula</span>
                                <input type="hidden" id="input_navigator_Pill" name="toggle_navigator_Pill" value="False">
                            </div>
                            <div class="flex-cell cell-33">
                                <div id="toggle_navigator_Session" class="toggle" onclick="toggleButton('toggle_navigator_Session', 'text_navigator_Session', 'input_navigator_Session')">
                                    <div class="toggle-button"></div>
                                </div>
                                <span>Sessão</span>
                                <input type="hidden" id="input_navigator_Session" name="toggle_navigator_Session" value="False">
                            </div>
                        </div>
                        <!-- <div class="flex-row">
                            <div class="flex-cell cell-33">
                                <div id="text_navigator_Inactive"><span>Não</span></div>
                            </div>
                            <div class="flex-cell cell-33">
                                <div id="text_navigator_Pill"><span>Não</span></div>
                            </div>
                            <div class="flex-cell cell-33">
                                <div id="text_navigator_Session"><span>Não</span></div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>

            <div class="wisdom-box box">
                <div class="box-title">
                    <span>alquimista</span>
                </div>
                <div class="box-role">
                    <span>
                        O <strong>Alquimista</strong> é aquele que permite que elementos indesejados deixem de fazer parte da <strong>Expedição</strong> dando lugar à <strong>Sabedoria</strong>
                    </span>
                </div>
                <div class="box-input">
                    <div class="box-habit">
                        <span>
                            Sobre o hábito de <strong>Abdicar</strong>
                        </span>
                    </div>
                    <div class="flex-table">
                        <div class="box-range">
                            <div class="flex-row">
                                <div class="flex-cell cell-50"><label for="wisdom_range_Ahimsa"><strong>Ahimsa</strong></label></div>
                                <div class="flex-cell cell-50"><strong><output id="wisdom_range_AhimsaOutput">Aguardando Input</output></strong></div>
                            </div>
                            <div class="flex-row">
                                <div class="flex-cell cell-100">
                                    <input type="range" name="wisdom_range_Ahimsa" id="wisdom_range_Ahimsa" min="0" max="16" value="16" required
                                    oninput="updateOutput(wisdom_range_Ahimsa, wisdom_range_AhimsaOutput)">
                                </div>
                            </div>
                        </div>
                        <div class="box-range">
                            <div class="flex-row">
                                <div class="flex-cell cell-50"><label for="wisdom_range_Satya"><strong>Satya</strong></label></div>
                                <div class="flex-cell cell-50"><strong><output id="wisdom_range_SatyaOutput">Aguardando Input</output></strong></div>
                            </div>
                            <div class="flex-row">
                                <div class="flex-cell cell-100">
                                    <input type="range" name="wisdom_range_Satya" id="wisdom_range_Satya" min="0" max="16" value="16" required
                                    oninput="updateOutput(wisdom_range_Satya, wisdom_range_SatyaOutput)">
                                </div>
                            </div>
                        </div>
                        <div class="box-range">
                            <div class="flex-row">
                                <div class="flex-cell cell-50"><label for="wisdom_range_Asteya"><strong>Asteya</strong></label></div>
                                <div class="flex-cell cell-50"><strong><output id="wisdom_range_AsteyaOutput">Aguardando Input</output></strong></div>
                            </div>
                            <div class="flex-row">
                                <div class="flex-cell cell-100">
                                    <input type="range" name="wisdom_range_Asteya" id="wisdom_range_Asteya" min="0" max="16" value="16" required
                                    oninput="updateOutput(wisdom_range_Asteya, wisdom_range_AsteyaOutput)">
                                </div>
                            </div>
                        </div>
                        <div class="box-range">
                            <div class="flex-row">
                                <div class="flex-cell cell-50"><label for="wisdom_range_Brahmacharya"><strong>Brahmacharya</strong></label></div>
                                <div class="flex-cell cell-50"><strong><output id="wisdom_range_BrahmacharyaOutput">Aguardando Input</output></strong></div>
                            </div>
                            <div class="flex-row">
                                <div class="flex-cell cell-100">
                                    <input type="range" name="wisdom_range_Brahmacharya" id="wisdom_range_Brahmacharya" min="0" max="16" value="16" required
                                    oninput="updateOutput(wisdom_range_Brahmacharya, wisdom_range_BrahmacharyaOutput)">
                                </div>
                            </div>
                        </div>
                        <div class="box-range">
                            <div class="flex-row">
                                <div class="flex-cell cell-50"><label for="wisdom_range_Aparigraha"><strong>Aparigraha</strong></label></div>
                                <div class="flex-cell cell-50"><strong><output id="wisdom_range_AparigrahaOutput">Aguardando Input</output></strong></div>
                            </div>
                            <div class="flex-row">
                                <div class="flex-cell cell-100">
                                    <input type="range" name="wisdom_range_Aparigraha" id="wisdom_range_Aparigraha" min="0" max="16" value="16" required
                                    oninput="updateOutput(wisdom_range_Aparigraha, wisdom_range_AparigrahaOutput)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wisdom-box box">
                <div class="box-title">
                    <span>aprendiz</span>
                </div>
                <div class="box-role">
                    <span>
                        O <strong>Aprendiz</strong> é aquele que permite que quaisquer experiências vividas durante a <strong>Expedição</strong> sejam transformadas em <strong>Sabedoria</strong>
                    </span>
                </div>
                <div class="box-input">
                    <div class="box-habit">
                        <span>
                            Sobre o hábito de <strong>Crescer</strong>
                        </span>
                    </div>
                    <div class="flex-table">
                        <div class="flex-row">
                            <div class="flex-cell cell-33"><input type="radio" name="wisdomApprenticeType" value="anger"><span>Raiva</span></div>
                            <div class="flex-cell cell-33"><input type="radio" name="wisdomApprenticeType" value="sadness"><span>Tristeza</span></div>
                            <div class="flex-cell cell-33"><input type="radio" name="wisdomApprenticeType" value="frustration"><span>Frustração</span></div>
                        </div>
                        <div class="flex-row">
                            <div class="flex-cell cell-33"><input type="radio" name="wisdomApprenticeType" value="fear"><span>Medo</span></div>
                            <div class="flex-cell cell-33"><input type="radio" name="wisdomApprenticeType" value="disheartenment"><span>Desânimo</span></div>
                            <div class="flex-cell cell-33"><input type="radio" name="wisdomApprenticeType" value="resentment"><span>Ressentimento</span></div>
                        </div>
                        <div class="flex-row">
                            <div class="flex-cell cell-100"><textarea name="wisdomApprenticeText">Hoje senti </textarea></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wisdom-box box">
                <div class="box-title">
                    <span>bússola da sabedoria</span>
                </div>
                <div class="box-input">
                    <div class="box-habit">
                        <span>
                            Sobre o direcionamento de <strong>Hoje</strong>
                        </span>
                    </div>
                    <div class="flex-table">
                        <div class="flex-row">
                            <div class="flex-cell cell-50"><input type="radio" name="wisdomSatisfaction" value="False"><span>Insatisfeito</span></div>
                            <div class="flex-cell cell-50"><input type="radio" name="wisdomSatisfaction" value="True"><span>Satisfeito</span></div>
                        </div>
                    </div>
                </div>
                <div class="box-input">
                    <div class="box-habit">
                        <span>
                            Sobre o direcionamento de <strong>Amanhã</strong>
                        </span>
                    </div>
                    <div class="flex-table">
                        <div class="flex-row">
                            <div class="flex-cell cell-33">
                                <div id="id_compass_Navigator" class="check" onclick="checkButton('id_compass_Navigator', 'input_coma_Navigator', 'False', 'True')">
                                    <span>Navegador</span>
                                </div>
                                <input type="hidden" id="input_coma_Navigator" name="check_compass_Navigator" value="False">
                            </div>
                            <div class="flex-cell cell-33">
                                <div id="id_compass_Alchimist" class="check" onclick="checkButton('id_compass_Alchimist', 'input_coma_Alchimist', 'False', 'True')">
                                    <span>Alquimista</span>
                                </div>
                                <input type="hidden" id="input_coma_Alchimist" name="check_compass_Alchimist" value="False">
                            </div>
                            <div class="flex-cell cell-33">
                                <div id="id_compass_Apprentice" class="check" onclick="checkButton('id_compass_Apprentice', 'input_coma_Apprentice', 'False', 'True')">
                                    <span>Aprendiz</span>
                                </div>
                                <input type="hidden" id="input_coma_Apprentice" name="check_compass_Apprentice" value="False">
                            </div>
                        </div>
                        <div class="flex-row">
                            <div class="flex-cell cell-100"><input type="text" name="wisdomGrowthTextArea" placeholder="Amanhã posso ser sábio se..."></div>
                        </div>
                    </div>
                </div>
            </div>            

        </section>
                
        <section class="stability">
            
            <div class="stability-section"><span>Estabilidade</span></div>

            <div class="stability-box box">
                <div class="box-title">
                    <span>patrocinador</span>
                </div>
                <div class="box-role">
                    <span>
                        O <strong>Patrocinador</strong> é aquele que busca ser útil para a sociedade, trazendo <strong>Estabilidade</strong> para a <strong>Expedição</strong>
                    </span>
                </div>
                <div class="box-input">
                    <div class="box-habit">
                        <span>
                            Sobre o hábito da <strong>Trabalhar</strong>
                        </span>
                    </div>
                    <div class="flex-table">
                        <div class="flex-row">
                            <div class="flex-cell cell-33">
                                    <div id="toggle1" class="toggle" onclick="toggleButton('toggle1', 'toggle-text1', 'hiddenInput1')">
                                        <div class="toggle-button"></div>
                                    </div>
                                    <span>Ação</span>
                                    <input type="hidden" id="hiddenInput1" name="toggle1" value="False">
                            </div>
                            <div class="flex-cell cell-33">
                                    <div id="toggle2" class="toggle" onclick="toggleButton('toggle2', 'toggle-text2', 'hiddenInput2')">
                                        <div class="toggle-button"></div>
                                    </div>
                                    <span>Satisfação</span>
                                    <input type="hidden" id="hiddenInput2" name="toggle2" value="False">
                            </div>
                            <div class="flex-cell cell-33">
                                    <div id="toggle3" class="toggle" onclick="toggleButton('toggle3', 'toggle-text3', 'hiddenInput3')">
                                        <div class="toggle-button"></div>
                                    </div>
                                    <span>Resultado</span>
                                    <input type="hidden" id="hiddenInput3" name="toggle3" value="False">
                            </div>
                        </div>
                        <!-- <div class="flex-row">
                            <div class="flex-cell cell-33">
                                <div id="toggle-text1"><span>Não</span></div>
                            </div>
                            <div class="flex-cell cell-33">
                                <div id="toggle-text2"><span>Não</span></div>
                            </div>
                            <div class="flex-cell cell-33">
                                <div id="toggle-text3"><span>Não</span></div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>

            <div class="stability-box box">
                <div class="box-title">
                    <span>mecenas</span>
                </div>
                <div class="box-role">
                    <span>
                        O <strong>Mecenas</strong> é aquele que enxerga que a <strong>Estabilidade</strong> trazida para a <strong>Expedição</strong> também pode ser compatilhada com a sociedade
                    </span>
                </div>
                <div class="box-input">
                    <div class="box-habit">
                        <span>
                            Sobre o hábito da <strong>Estudar</strong>
                        </span>
                    </div>
                    <div class="flex-table">
                        <div class="flex-row">
                            <div class="flex-cell cell-50">
                                <div id="toggle_patron_Action" class="toggle" onclick="toggleButton('toggle_patron_Action', 'text_patron_Action', 'input_patron_Action')">
                                    <div class="toggle-button"></div>
                                </div>
                                <span>Ação</span>
                                <input type="hidden" id="input_patron_Action" name="toggle_patron_Action" value="False">
                            </div>
                            <div class="flex-cell cell-50">
                                <div id="toggle_patron_Satisfaction" class="toggle" onclick="toggleButton('toggle_patron_Satisfaction', 'text_patron_Satisfaction', 'input_patron_Satisfaction')">
                                    <div class="toggle-button"></div>
                                </div>
                                <span>Satisfação</span>
                                <input type="hidden" id="input_patron_Satisfaction" name="toggle_patron_Satisfaction" value="False">
                            </div>
                        </div>
                        <!-- <div class="flex-row">
                            <div class="flex-cell cell-50">
                                <div id="text_patron_Action"><span>Não</span></div>
                            </div>
                            <div class="flex-cell cell-50">
                                <div id="text_patron_Satisfaction"><span>Não</span></div>
                            </div>
                        </div> -->
                    </div>   
                </div>
            </div>

            <div class="stability-box box">
                <div class="box-title">
                    <span>bússola da estabilidade</span>
                </div>
                <div class="box-input">
                    <div class="box-habit">
                        <span>
                            Sobre o direcionamento de <strong>Hoje</strong>
                        </span>
                    </div>
                    <div class="flex-table">
                        <div class="flex-row">
                            <div class="flex-cell cell-50"><input type="radio" name="stabilitySatisfaction" value="False"><span>Insatisfeito</span></div>
                            <div class="flex-cell cell-50"><input type="radio" name="stabilitySatisfaction" value="True"><span>Satisfeito</span></div>
                        </div>
                    </div>
                </div>
                <div class="box-input">
                    <div class="box-habit">
                        <span>
                            Sobre o direcionamento de <strong>Amanhã</strong>
                        </span>
                    </div>
                    <div class="flex-table">
                        <div class="flex-row">
                            <div class="flex-cell cell-33"><input type="checkbox" name="stabilityDiscontent" value="navigator"><span>Patrocinador</span></div>
                            <div class="flex-cell cell-33"><input type="checkbox" name="stabilityDiscontent" value="alchimist"><span>Mecenas</span></div>
                            <div class="flex-cell cell-33"><input type="checkbox" name="stabilityDiscontent" value="apprentice"><span>Tesoureiro</span></div>
                        </div>
                        <div class="flex-row">
                            <div class="flex-cell cell-100"><input type="text" name="stabilityGrowthTextArea" placeholder="Amanhã posso ser estável se..."></div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
                
        <section class="strength">
            
            <div class="strength-section"><span>Força</span></div>

            <div class="strength-box box">
                <div class="box-title">
                    <span>vanguarda</span>
                </div>
                <div class="box-role">
                    <span>
                        O <strong>Vanguarda</strong> é aquele 
                    </span>
                </div>
                <div class="box-input">
                    <div class="box-habit">
                        <span>
                            Sobre o hábito de <strong>Exercitar</strong>
                        </span>
                    </div>
                    <div class="flex-table">
                        <div class="flex-row">
                            <div class="flex-cell cell-100">A</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="strength-box box">
                <div class="box-title">
                    <span>batedor</span>
                </div>
                <div class="box-role">
                    <span>
                        O <strong>Batedor</strong> é aquele 
                    </span>
                </div>
                <div class="box-input">
                    <div class="box-habit">
                        <span>
                            Sobre o hábito de <strong>Ativar</strong>
                        </span>
                    </div>
                    <div class="flex-table">
                        <div class="flex-row">
                            <div class="flex-cell cell-100">A</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="strength-box box">
                <div class="box-title">
                    <span>cozinheiro</span>
                </div>
                <div class="box-role">
                    <span>
                        O <strong>Cozinheiro</strong> é aquele que enxerga que a <strong>Estabilidade</strong> trazida para a <strong>Expedição</strong> também pode ser compatilhada com a sociedade
                    </span>
                </div>
                <div class="box-input">
                    <div class="box-habit">
                        <span>
                            Sobre o hábito de <strong>Alimentar-se</strong>
                        </span>
                    </div>
                    <div class="flex-table add-padding-20">
                        <div class="flex-row">
                            <div class="flex-cell cell-40"></div>
                            <div class="flex-cell cell-15">Inexistente</div>
                            <div class="flex-cell cell-15">Ruim</div>
                            <div class="flex-cell cell-15">Razoável</div>
                            <div class="flex-cell cell-15">Excelente</div>
                        </div>
                        <div class="flex-row darker-background">
                            <div class="flex-cell cell-40"><span>Café da Manhã</span></div>
                            <div class="flex-cell cell-15"><input type="radio" name="strengthCookBreakfast" value="0"></div>
                            <div class="flex-cell cell-15"><input type="radio" name="strengthCookBreakfast" value="1"></div>
                            <div class="flex-cell cell-15"><input type="radio" name="strengthCookBreakfast" value="2"></div>
                            <div class="flex-cell cell-15"><input type="radio" name="strengthCookBreakfast" value="3"></div>
                        </div>
                        <div class="flex-row">
                            <div class="flex-cell cell-40"><span>Lanche Matutino</span></div>
                            <div class="flex-cell cell-15"><input type="radio" name="strengthCookSnackMorning" value="0"></div>
                            <div class="flex-cell cell-15"><input type="radio" name="strengthCookSnackMorning" value="1"></div>
                            <div class="flex-cell cell-15"><input type="radio" name="strengthCookSnackMorning" value="2"></div>
                            <div class="flex-cell cell-15"><input type="radio" name="strengthCookSnackMorning" value="3"></div>
                        </div>
                        <div class="flex-row darker-background">
                            <div class="flex-cell cell-40"><span>Almoço</span></div>
                            <div class="flex-cell cell-15"><input type="radio" name="strengthCookLunch" value="0"></div>
                            <div class="flex-cell cell-15"><input type="radio" name="strengthCookLunch" value="1"></div>
                            <div class="flex-cell cell-15"><input type="radio" name="strengthCookLunch" value="2"></div>
                            <div class="flex-cell cell-15"><input type="radio" name="strengthCookLunch" value="3"></div>
                        </div>
                        <div class="flex-row">
                            <div class="flex-cell cell-40"><span>Sobremesa</span></div>
                            <div class="flex-cell cell-15"><input type="radio" name="strengthCookDessert" value="0"></div>
                            <div class="flex-cell cell-15"><input type="radio" name="strengthCookDessert" value="1"></div>
                            <div class="flex-cell cell-15"><input type="radio" name="strengthCookDessert" value="2"></div>
                            <div class="flex-cell cell-15"><input type="radio" name="strengthCookDessert" value="3"></div>
                        </div>
                        <div class="flex-row darker-background">
                            <div class="flex-cell cell-40"><span>Lanche Vespertino</span></div>
                            <div class="flex-cell cell-15"><input type="radio" name="strengthCookSnackAfternoon" value="0"></div>
                            <div class="flex-cell cell-15"><input type="radio" name="strengthCookSnackAfternoon" value="1"></div>
                            <div class="flex-cell cell-15"><input type="radio" name="strengthCookSnackAfternoon" value="2"></div>
                            <div class="flex-cell cell-15"><input type="radio" name="strengthCookSnackAfternoon" value="3"></div>
                        </div>
                        <div class="flex-row">
                            <div class="flex-cell cell-40"><span>Janta</span></div>
                            <div class="flex-cell cell-15"><input type="radio" name="strengthCookDinner" value="0"></div>
                            <div class="flex-cell cell-15"><input type="radio" name="strengthCookDinner" value="1"></div>
                            <div class="flex-cell cell-15"><input type="radio" name="strengthCookDinner" value="2"></div>
                            <div class="flex-cell cell-15"><input type="radio" name="strengthCookDinner" value="3"></div>
                        </div>
                        <div class="flex-row darker-background">
                            <div class="flex-cell cell-40">Ceia</div>
                            <div class="flex-cell cell-15"><input type="radio" name="strengthCookSupper" value="0"></div>
                            <div class="flex-cell cell-15"><input type="radio" name="strengthCookSupper" value="1"></div>
                            <div class="flex-cell cell-15"><input type="radio" name="strengthCookSupper" value="2"></div>
                            <div class="flex-cell cell-15"><input type="radio" name="strengthCookSupper" value="3"></div>
                        </div>
                    </div>
                </div>
                <div class="box-input">
                    <div class="box-habit">
                        <span>
                            Sobre o hábito de <strong>Hidratar-se</strong>
                        </span>
                    </div>
                    <div class="box-yama">
                        <div class="span-container">
                            <span>Litros de Água</span>
                            <span id="strengthCookWaterOutput">Aguardando Input</span>
                        </div>
                        <input type="range" id="strengthCookWater" name="strengthCookWater" min="0" max="5" value="0" oninput="strengthCookWaterOutput.innerText = this.value">
                    </div>
                </div>
            </div>

            <div class="strength-box box">
                <div class="box-title">
                    <span>bússola da força</span>
                </div>
                <div class="box-input">
                    <div class="box-habit">
                        <span>
                            Sobre o direcionamento de <strong>Hoje</strong>
                        </span>
                    </div>
                    <div class="flex-table">
                        <div class="flex-row">
                            <div class="flex-cell cell-50"><input type="radio" name="strengthSatisfaction" value="False"><span>Insatisfeito</span></div>
                            <div class="flex-cell cell-50"><input type="radio" name="strengthSatisfaction" value="True"><span>Satisfeito</span></div>
                        </div>
                    </div>
                </div>
                <div class="box-input">
                    <div class="box-habit">
                        <span>
                            Sobre o direcionamento de <strong>Amanhã</strong>
                        </span>
                    </div>
                    <div class="flex-table">
                        <div class="flex-row">
                            <div class="flex-cell cell-33"><input type="checkbox" name="strengthDiscontent" value="vanguard"><span>Vanguarda</span></div>
                            <div class="flex-cell cell-33"><input type="checkbox" name="strengthDiscontent" value="scout"><span>Batedor</span></div>
                            <div class="flex-cell cell-33"><input type="checkbox" name="strengthDiscontent" value="cook"><span>Cozinheiro</span></div>
                        </div>
                        <div class="flex-row">
                            <div class="flex-cell cell-100"><input type="text" name="strengthGrowthTextArea" placeholder="Amanhã posso ser forte se..."></div>
                        </div>
                    </div>
                </div>
            </div> 

        </section>
                
        <section id="kindness">
            
            <div class="kindness-section"><span>Gentileza</span></div>

            <div class="kindness-box box">
                <div class="box-title">
                    <span>zelador</span>
                </div>
                <div class="box-role">
                    <span>
                        O <strong>zelador</strong> é aquele 
                    </span>
                </div>
                <div class="box-input">
                    <div class="box-habit">
                        <span>
                            Sobre o hábito de <strong>zelar</strong>
                        </span>
                    </div>
                    <div class="flex-table">
                        <div class="flex-row">
                            <div class="flex-cell cell-100">A</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="kindness-box box">
                <div class="box-title">
                    <span>diplomata</span>
                </div>
                <div class="box-role">
                    <span>
                        O <strong>diplomata</strong> é aquele 
                    </span>
                </div>
                <div class="box-input">
                    <div class="box-habit">
                        <span>
                            Sobre o hábito de <strong>interagir</strong>
                        </span>
                    </div>
                    <div class="flex-table">
                        <div class="flex-row">
                            <div class="flex-cell cell-100">A</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="kindness-box box">
                <div class="box-title">
                    <span>herói</span>
                </div>
                <div class="box-role">
                    <span>
                        O <strong>herói</strong> é aquele 
                    </span>
                </div>
                <div class="box-input">
                    <div class="box-habit">
                        <span>
                            Sobre o hábito de <strong>apoiar</strong>
                        </span>
                    </div>
                    <div class="flex-table">
                        <div class="flex-row">
                            <div class="flex-cell cell-100">A</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="kindness-box box">
                <div class="box-title">
                    <span>bússola da gentileza</span>
                </div>
                <div class="box-input">
                    <div class="box-habit">
                        <span>
                            Sobre o direcionamento de <strong>Hoje</strong>
                        </span>
                    </div>
                    <div class="flex-table">
                        <div class="flex-row">
                            <div class="flex-cell cell-50"><input type="radio" name="kindnessSatisfaction" value="False"><span>Insatisfeito</span></div>
                            <div class="flex-cell cell-50"><input type="radio" name="kindnessSatisfaction" value="True"><span>Satisfeito</span></div>
                        </div>
                    </div>
                </div>
                <div class="box-input">
                    <div class="box-habit">
                        <span>
                            Sobre o direcionamento de <strong>Amanhã</strong>
                        </span>
                    </div>
                    <div class="flex-table">
                        <div class="flex-row">
                            <div class="flex-cell cell-33"><input type="checkbox" name="kindnessDiscontent" value="caretaker"><span>Zelador</span></div>
                            <div class="flex-cell cell-33"><input type="checkbox" name="kindnessDiscontent" value="diplomat"><span>Diplomata</span></div>
                            <div class="flex-cell cell-33"><input type="checkbox" name="kindnessDiscontent" value="hero"><span>Herói</span></div>
                        </div>
                        <div class="flex-row">
                            <div class="flex-cell cell-100"><input type="text" name="kindnessGrowthTextArea" placeholder="Amanhã posso ser gentil se..."></div>
                        </div>
                    </div>
                </div>
            </div> 

        </section>
                
        <section id="devotion">
            
            <div class="devotion-section"><span>Devoção</span></div>

            <div class="devotion-box box">
                <div class="box-title">
                    <span>asceta</span>
                </div>
                <div class="box-role">
                    <span>
                        O <strong>asceta</strong> é aquele 
                    </span>
                </div>
                <div class="box-input">
                    <div class="box-habit">
                        <span>
                            Sobre o hábito de <strong>elevar</strong>
                        </span>
                    </div>
                    <div class="flex-table">
                        <div class="flex-row">
                            <div class="flex-cell cell-100">A</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="devotion-box box">
                <div class="box-title">
                    <span>líder</span>
                </div>
                <div class="box-role">
                    <span>
                        O <strong>líder</strong> é aquele
                    </span>
                </div>
                <div class="box-input">
                    <div class="box-habit">
                        <span>
                            Sobre o hábito de <strong>liderar</strong>
                        </span>
                    </div>
                    <div class="flex-table">
                        <div class="flex-row">
                            <div class="flex-cell cell-100">A</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="devotion-box box">
                <div class="box-title">
                    <span>bússola da devoção</span>
                </div>
                <div class="box-input">
                    <div class="box-habit">
                        <span>
                            Sobre o direcionamento de <strong>Hoje</strong>
                        </span>
                    </div>
                    <div class="flex-table">
                        <div class="flex-row">
                            <div class="flex-cell cell-50"><input type="radio" name="devotionSatisfaction" value="False"><span>Insatisfeito</span></div>
                            <div class="flex-cell cell-50"><input type="radio" name="devotionSatisfaction" value="True"><span>Satisfeito</span></div>
                        </div>
                    </div>
                </div>
                <div class="box-input">
                    <div class="box-habit">
                        <span>
                            Sobre o direcionamento de <strong>Amanhã</strong>
                        </span>
                    </div>
                    <div class="flex-table">
                        <div class="flex-row">
                            <div class="flex-cell cell-33"><input type="checkbox" name="devotionDiscontent" value="ascetic"><span>Asceta</span></div>
                            <div class="flex-cell cell-33"><input type="checkbox" name="devotionDiscontent" value="sentinel"><span>Sentinela</span></div>
                            <div class="flex-cell cell-33"><input type="checkbox" name="devotionDiscontent" value="leader"><span>Líder</span></div>
                        </div>
                        <div class="flex-row">
                            <div class="flex-cell cell-100"><input type="text" name="devotionGrowthTextArea" placeholder="Amanhã posso ser gentil se..."></div>
                        </div>
                    </div>
                </div>
            </div> 
            
        </section>
        
        <section class="basic">
            <div class="buttonContainer">
                <button type="button" class="returnButton" id="return" onclick="window.location.href='/'">
                    <i class="fas fa-arrow-left"></i>
                    Return
                </button>
                <button class="resetButton" id="reset" type="reset">
                    <i class="fas fa-undo"></i>
                    Reset
                </button>
                <button class="submitButton" id="submit" type="submit" value="Submit">
                    <i class="fas fa-paper-plane"></i>
                    Submit
                </button>
            </div>
        </section>

    </form>

    <script>

        var stabilitySponsorActive = document.getElementById('stabilitySponsorActive');
        var stabilitySponsorSatisfaction = document.getElementById('stabilitySponsorSatisfaction');
        var stabilitySponsorOutcome = document.getElementById('stabilitySponsorOutcome');

        stabilitySponsorActive.addEventListener('change', function() {
            if (stabilitySponsorActive.value === 'True') {
                stabilitySponsorSatisfaction.required = true;
                stabilitySponsorOutcome.required = true;
            } else {
                stabilitySponsorSatisfaction.required = false;
                stabilitySponsorOutcome.required = false;
            }
        });

    </script>   

{% endblock %}