{% extends "base.html" %}

{% block title %}
    Bússola Solar
{% endblock %}

{% block header %}
    Bússola Solar
{% endblock %}

{% block content %}
    <form action="/form/morning/" method="POST" onsubmit="return validatePercentage();">

        <section id="opening">
            <h2>Informações Gerais</h2>
            <fieldset id="header">
                <legend class=centralized>Hoje</legend>
                <div>
                    <table style="width: 100%;" class=tableWithSpacing>
                        <tr>
                            <td class=centralized>
                                <label for="inputDate">Data do Registro</label>
                            </td>
                            <td class=centralized>
                                <input type="date" name="inputDate" id="inputDate" style="width: 125px;" required>
                            </td>
                        </tr>
                        <tr>
                            <td class=centralized>
                                <label for="inputTime">Horário de Preenchimento</label>
                            </td>
                            <td class=centralized>
                                <input type="time" name="inputTime" id="inputTime" style="width: 110px;" required>
                            </td>
                        </tr>
                        <tr>
                            <td class=centralized>
                                <label for="dayHumor">Humor da Manhã</label>
                            </td>
                            <td class=centralized>
                                <div class=centralized>
                                    <input type="radio" name="dayHumor" id="sun"  value="sol" required>
                                    <i class="fas fa-sun" style="margin-right: 25px;"></i>
                                    <input type="radio" name="dayHumor" id="moon"  value="lua" required>
                                    <i class="fas fa-moon"></i>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </fieldset>
        </section>
        
        <br><hr><br>

        <section id="stability">
            <h2>Estabilidade</h2>
            <fieldset id="treasurer">
                <legend class=centralized>Tesoureiro</legend>
                <div>
                    <table style="width: 100%;" class=tableWithSpacing>
                        <tr>
                            <td class=centralized>
                                <label for="blackBox">Caixinha Preta</label>
                            </td>
                            <td class=centralized>
                                <input type="number" name="blackBox" id="blackBox" minlength="3" title="Insert four digits for the Black Box current value" style="width: 110px;" required
                                       oninput="blackBoxOutput.value = formatValue(blackBox.value, 'money')">
                            </td>
                            <td class=centralized>
                                <div class="formatedOutput"><output id="blackBoxOutput">R$ __.__</output></div>
                            </td>
                        </tr>
                        <tr>
                            <td class=centralized>
                                <label for="greenBox">Caixinha Verde</label>
                            </td>
                            <td class=centralized>
                                <input type="number" name="greenBox" id="greenBox" minlength="3" title="Insert four digits for the Black Box current value" style="width: 110px;" required
                                       oninput="greenBoxOutput.value = formatValue(greenBox.value, 'money')">
                            </td>
                            <td class=centralized>
                                <div class="formatedOutput"><output id="greenBoxOutput">R$ __.__</output></div>
                            </td>
                        </tr>
                    </table>
                </div>
            </fieldset>
        </section>
        
        <br><hr><br>

        <section id="strength">
            <h2>Força</h2>
            <fieldset id="cook">
                <legend class=centralized>Cozinheiro</legend>
                <div>
                    <table style="width: 100%;" class=tableWithSpacing>
                        <tr>
                            <td class=centralized>
                                <label for="calories">Calorias de Ontem</label>
                            </td>
                            <td class=centralized>
                                <input type="number" name="calories" id="calories" title="Insert four digits for the yesterday Calories total value" style="width: 110px;" required
                                       oninput="caloriesOutput.value = formatValue(calories.value, 'calories')">
                            </td>
                            <td class=centralized>
                                <div class="formatedOutput"><output id="caloriesOutput">_ cal</output></div>
                            </td>
                        </tr>
                        <tr>
                            <td class=centralized>
                                <label for="totalWeight">Peso Total</label>
                            </td>
                            <td class=centralized>
                                <input type="number" name="totalWeight" id="totalWeight" minlength="4" minlength="5" title="Insert four digits for the Total Weight" style="width: 110px;" required
                                       oninput="totalWeightOutput.value = formatValue(totalWeight.value, 'weight')">
                            </td>
                            <td class=centralized>
                                <div class="formatedOutput"><output id="totalWeightOutput">__.__ kg</output></div>
                            </td>
                        </tr>
                        <tr>
                            <td class=centralized>
                                <label for="fatPercentage">Percentual de Gordura</label>
                            </td>
                            <td class=centralized>
                                <input type="number" name="fatPercentage" id="fatPercentage" minlength="4" minlength="4" title="Insert four digits for the Fat Percentage" style="width: 110px;" required
                                       oninput="fatPercentageOutput.value = formatValue(fatPercentage.value, 'percentage')">
                            </td>
                            <td class=centralized>
                                <div class="formatedOutput"><output id="fatPercentageOutput">__.__ %</output></div>
                            </td>
                        </tr>
                        <tr>
                            <td class=centralized>
                                <label for="muscleWeight">Massa Magra</label>
                            </td>
                            <td class=centralized>
                                <input type="number" name="muscleWeight" id="muscleWeight" minlength="4" minlength="5" title="Insert four digits for the Muscle Weight" style="width: 110px;" required
                                       oninput="muscleWeightOutput.value = formatValue(muscleWeight.value, 'weight')">
                            </td>
                            <td class=centralized>
                                <div class="formatedOutput"><output id="muscleWeightOutput">__.__ kg</output></div>
                            </td>
                        </tr>
                        <tr>
                            <td class=centralized>
                                <label for="basalMetabolism">Metabolismo Basal</label>
                            </td>
                            <td class=centralized>
                                <input type="number" name="basalMetabolism" id="basalMetabolism" minlength="4" minlength="4" title="Insert four digits for the Basal Metabolism" style="width: 110px;" required
                                       oninput="basalMetabolismOutput.value = formatValue(basalMetabolism.value, 'calories')">
                            </td>
                            <td class=centralized>
                                <div class="formatedOutput"><output id="basalMetabolismOutput">_ cal</output></div>
                            </td>
                        </tr>
                    </table>
                </div>
            </fieldset>
        </section>
        
        <br><hr><br>

        <section id="devotion">
            <h2>Devoção</h2>
            <fieldset id="sentinel">
                <legend class=centralized>Sentinela</legend>
                <table style="width: 100%;" class="tableWithSpacing">
                    <tr>
                        <td class="centralized">
                            <label for="cellphoneTime">Tempo de Tela</label>
                        </td>
                        <td class="centralized">
                            <input type="number" name="cellphoneTime" id="cellphoneTime" minlength="4" maxlength="4" title="Insert four digits for the Cellphone Screen Time" required
                            	   oninput="cellphoneTimeOutput.value = formatValue(cellphoneTime.value, 'time')">
                        </td>
                        <td class="centralized">
                            <div class="formatedOutput"><output id="cellphoneTimeOutput">__h __min</output></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="centralized">
                            <label for="bedDateTime">Início do Sono</label>
                        </td>
                        <td class="centralized" colspan="2">
                            <input type="datetime-local" name="bedDateTime" id="bedDateTime" style="width: 165px;" required>
                        </td>
                    </tr>
                    <tr>
                        <td class="centralized">
                            <label for="wakeupDateTime">Fim do Sono</label>
                        </td>
                        <td class="centralized" colspan="2">
                            <input type="datetime-local" name="wakeupDateTime" id="wakeupDateTime" style="width: 165px;" required>
                        </td>
                    </tr>
                    <tr>
                        <td class="centralized" colspan="3">
                            <span id="timeDifference" placeholder="Aguardando inserção de ambos os dados."></span>
                        </td>
                    </tr>
                </table>
                <br>
                <div>
                    <table style="width: 100%;" class="tableWithSpacing">
                        <tr>
                            <td class="centralized">
                                <label for="awakePercentage">Tempo <strong>Acordado</strong></label>
                                <output name="awakePercentageOutput" id="awakePercentageOutput"><strong>10</strong></output>%
                                <input type="range" name="awakePercentage" id="awakePercentage" min="0" max="30" value="10" oninput="awakePercentageOutput.value = awakePercentage.value; awakePercentageOutput.style.fontWeight = 'bold'" required>
                            </td>
                        </tr>
                        <tr>
                            <td class="centralized">
                                <label for="remPercentage">Sono <strong>REM</strong></label>
                                <output name="remPercentageOutput" id="remPercentageOutput"><strong>15</strong></output>%
                                <input type="range" name="remPercentage" id="remPercentage" min="0" max="45" value="15" oninput="remPercentageOutput.value = remPercentage.value; remPercentageOutput.style.fontWeight = 'bold'" required>
                            </td>
                        </tr>
                        <tr>
                            <td class="centralized">
                                <label for="lightPercentage">Tempo <strong>Leve</strong></label>
                                <output name="lightPercentageOutput" id="lightPercentageOutput"><strong>20</strong></output>%
                                <input type="range" name="lightPercentage" id="lightPercentage" min="0" max="70" value="20" oninput="lightPercentageOutput.value = lightPercentage.value; lightPercentageOutput.style.fontWeight = 'bold'" required>
                            </td>
                        </tr>
                        <tr>
                            <td class="centralized">
                                <label for="deepPercentage">Tempo <strong>Profundo</strong></label>
                                <output name="deepPercentageOutput" id="deepPercentageOutput"><strong>10</strong></output>%
                                <input type="range" name="deepPercentage" id="deepPercentage" min="0" max="30" value="10" oninput="deepPercentageOutput.value = deepPercentage.value; deepPercentageOutput.style.fontWeight = 'bold'" required>
                            </td>
                        </tr>
                        <tr>
                            <td class="centralized">
                                <span id="totalPercentage" placeholder="Porcentagem Total: 55%"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </fieldset>
        </section>

        <br><hr><br>

        <section id="ending">
            <div class="buttonContainer">
                <table style="width: 100%;" class=tableWithSpacing>
                    <tr>
                        <td class=centralized>
                            <button type="button" class="returnButton" id="return" style="margin-right: 20px;" onclick="window.location.href='/'">
                                <i class="fas fa-arrow-left"></i>
                                Return
                            </button>
                        </td>
                        <td class=centralized>
                            <button class="resetButton" id="reset" style="margin-right: 20px;" type="reset">
                                <i class="fas fa-undo"></i>
                                Reset
                            </button>
                        </td>
                        <td class=centralized>
                            <button class="submitButton" id="submit" type="submit" value="Submit">
                                <i class="fas fa-paper-plane"></i>
                                Submit
                            </button>
                        </td>
                </table>
            </div>
        </section>

        <br><br>
        <br><br>
            
    </form>

    <script>
        
        const bedDateTimeInput     = document.getElementById('bedDateTime');
        const wakeupDateTimeInput  = document.getElementById('wakeupDateTime');
        const timeDifferenceOutput = document.getElementById('timeDifference');
        timeDifferenceOutput.textContent = "Aguardando inserção de ambos os dados.";
        bedDateTimeInput.addEventListener('change', calculateTimeDifference);
        wakeupDateTimeInput.addEventListener('change', calculateTimeDifference);

        const awakePercentageInput = document.getElementById('awakePercentage');
        const remPercentageInput   = document.getElementById('remPercentage');
        const lightPercentageInput = document.getElementById('lightPercentage');
        const deepPercentageInput  = document.getElementById('deepPercentage');
        const totalPercentageOutput = document.getElementById('totalPercentage');
        totalPercentageOutput.textContent = "Porcentagem Total: 55%";
        awakePercentageInput.addEventListener('change', calculateTotalPercentage);
        remPercentageInput.addEventListener('change', calculateTotalPercentage);
        lightPercentageInput.addEventListener('change', calculateTotalPercentage);
        deepPercentageInput.addEventListener('change', calculateTotalPercentage);

    </script>
      
{% endblock %}