<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport", content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <script
      src="https://kit.fontawesome.com/3da1a747b2.js"
      crossorigin="anonymous"
    ></script>
    <title>Bússola Solar</title>
</head>
<body>
    
    <h1>Bússola Solar</h1>
    <hr>

    <form action="index.php" method="POST" onsubmit="return validatePercentage()">

        <h2>Informações Gerais</h2>

        <label for="inputDate">Data:</label>
        <input type="date" id="inputDate">
        <br><br>

        <label for="inputTime">Horário de Preenchimento:</label>
        <input type="time" id="inputTime">
        <br><br>

        <label for="humor">Como o dia está se iniciando?</label>
        <br>
        <input type="radio" id="sol" name="humor" value="sol">
        <label for="sol">Sol</label>
        <br>

        <input type="radio" id="lua" name="humor" value="lua">
        <label for="lua">Lua</label>
        <br><br>

        <label for="cellphoneTime">Tempo de uso do celular:</label>
        <input type="time" id="cellphoneTime" step="1" max="00:23:59">
        <br><br>

        <hr>
        <h2>Informações de Sono</h2>

        <label for="bedTime">Horário que foi dormir:</label>
        <input type="time" id="bedTime">
        <br><br>

        <label for="wakeupTime">Horário que acordou:</label>
        <input type="time" id="wakeupTime">
        <br><br>

        <label for="awakeSleepTime">Tempo <strong>Acordado</strong> durante a noite:</label>
        <input type="range" id="awakePercentage" name="awakePercentage" min="0" max="50" value="0" oninput="awakePercentageOutput.value = awakePercentage.value">
        <output id="awakePercentageOutput">0</output>%
        <br><br>

        <label for="remSleepTime">Tempo de <strong>Sono REM</strong> durante a noite:</label>
        <input type="range" id="remPercentage" name="remPercentage" min="0" max="50" value="0" oninput="remPercentageOutput.value = remPercentage.value">
        <output id="remPercentageOutput">0</output>%
        <br><br>

        <label for="lightSleepTime">Tempo de <strong>Sono Leve</strong> durante a noite:</label>
        <input type="range" id="lightPercentage" name="lightPercentage" min="0" max="100" value="0" oninput="lightPercentageOutput.value = lightPercentage.value">
        <output id="lightPercentageOutput">0</output>%
        <br><br>

        <label for="deepSleepTime">Tempo de <strong>Sono Pesado</strong> durante a noite:</label>
        <input type="range" id="deepPercentage" name="deepPercentage" min="0" max="50" value="0" oninput="deepPercentageOutput.value = deepPercentage.value">
        <output id="deepPercentageOutput">0</output>%
        <br><br>

        <hr>
        <h2>Informações de Peso</h2>

        <label for="burnedCalories">Calorias queimadas no dia anterior:</label>
        <input type="number" id="burnedCalories" value="0" min="0" oninput="burnedCaloriesOutput.value = burnedCalories.value">
        <output id="burnedCaloriesOutput">0</output> cal
        <br><br>

        <label for="totalWeight">Peso Total:</label>
        <input type="number" id="totalWeight" value="0" name="totalWeight" step="0.01" min="0" max="100" oninput="totalWeightOutput.value = totalWeight.value">
        <output id="totalWeightOutput">0</output> kg
        <br><br>

        <label for="muscleWeight">Massa Magra:</label>
        <input type="number" id="muscleWeight" value="0" name="muscleWeight" step="0.01" min="0" max="100" oninput="muscleWeightOutput.value = muscleWeight.value">
        <output id="muscleWeightOutput">0</output> kg
        <br><br>

        <label for="fatWeightPercentage">Percentual de Gordura:</label>
        <input type="text" id="fatWeightPercentage" value="0" name="fatWeightPercentage" pattern="[0-9]{2}\.[0-9]{2}" title="Por favor, insira a porcentagem de gordura corporal no formato __.__" oninput="fatWeightPercentageOutput.value = fatWeightPercentage.value">
        <output id="fatWeightPercentageOutput">0</output>%
        <br><br>

        <label for="basalMetabolism">Metabolismo basal aproximado:</label>
        <input type="number" id="basalMetabolism" value="1500" min="0" oninput="basalMetabolismOutput.value = basalMetabolism.value">
        <output id="basalMetabolismOutput">1500</output> cal
        <br><br>

        <hr>
        <h2>Definições de Prioridades</h2>

        <p>Drag and drop the items into their corresponding spots</p>
        <ul class="draggable-list" id="draggable-list"></ul>



        <div class="button-container">
            <button class="reset-btn" id="reset" style="margin-right: 20px;" type="reset">
                <i class="fas fa-undo"></i>
                Reset
            </button>
            <button class="submit-btn" id="submit" type="submit">
                <i class="fas fa-paper-plane"></i>
                Submit
            </button>
        </div>
            
    </form>

    <script type="module" src="../js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.10.2/Sortable.min.js"></script>

</body>
</html>
