<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style2.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:FILL@0..1" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icons/nagi.ico') }}">
    <title>{% block title %}home{% endblock %} | AsmrProg</title>
    <script>
        // Check for saved dark mode preference and set the class accordingly
        if (localStorage.getItem('darkMode') === 'disabled') {
            document.documentElement.classList.remove('dark-mode-variables');
        } else {
            document.documentElement.classList.add('dark-mode-variables');
        }
    </script>
</head>
<body class="dark-mode-variables">

    <div class="container">
        <!-- Sidebar Section -->
        <aside>
            <div class="toggle">
                <div class="logo">
                    <img src="{{ url_for('static', filename='images/logo.png') }}">
                    <h2>Na<span class="danger">gi</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-symbols-rounded">
                        close
                    </span>
                </div>
            </div>

            <div class="sidebar">
                <a href="{{ url_for('home') }}" id="home-link" class="{% if active_page == 'home' %}active{% endif %}">
                    <span class="material-symbols-rounded">
                        home
                    </span>
                    <h3>Home</h3>
                </a>
                <a href="{{ url_for('tracker') }}" id="tracker-link" class="{% if active_page == 'tracker' %}active{% endif %}">
                    <span class="material-symbols-rounded">
                        checklist
                    </span>
                    <h3>Tracker</h3>
                    <span class="message-count">27</span>
                </a>
                <a href="{{ url_for('goals') }}" id="goals-link" class="{% if active_page == 'goals' %}active{% endif %}">
                    <span class="material-symbols-rounded">
                        flag
                    </span>
                    <h3>Goals</h3>
                </a>
                <a href="{{ url_for('analytics') }}" id="analytics-link" class="{% if active_page == 'analytics' %}active{% endif %}">
                    <span class="material-symbols-rounded">
                        bar_chart_4_bars
                    </span>
                    <h3>Analysis</h3>
                </a>
                <a href="{{ url_for('reports') }}" id="reports-link" class="{% if active_page == 'reports' %}active{% endif %}">
                    <span class="material-symbols-rounded">
                        description
                    </span>
                    <h3>Reports</h3>
                </a>
                <a href="{{ url_for('feedbacks') }}" id="feedbacks-link" class="{% if active_page == 'feedbacks' %}active{% endif %}">
                    <span class="material-symbols-rounded">
                        lightbulb
                    </span>
                    <h3>Feedbacks</h3>
                </a>
                <a href="{{ url_for('history') }}" id="history-link" class="{% if active_page == 'history' %}active{% endif %}">
                    <span class="material-symbols-rounded">
                        history
                    </span>
                    <h3>History</h3>
                </a>
                <a href="{{ url_for('profile') }}" id="profile-link" class="{% if active_page == 'profile' %}active{% endif %}">
                    <span class="material-symbols-rounded">
                        account_circle
                    </span>
                    <h3>Profile</h3>
                </a>
                <a href="{{ url_for('settings') }}" id="settings-link" class="{% if active_page == 'settings' %}active{% endif %}">
                    <span class="material-symbols-rounded">
                        settings
                    </span>
                    <h3>Settings</h3>
                </a>
                <a href="{{ url_for('support') }}" id="support-link" class="{% if active_page == 'support' %}active{% endif %}">
                    <span class="material-symbols-rounded">
                        help
                    </span>
                    <h3>Help and Support</h3>
                </a>
                <a href="#" id="logout-link">
                    <span class="material-symbols-rounded">
                        logout
                    </span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>
        <!-- End of Sidebar Section -->

        <!-- Main Section -->
        <main>
            {% block content %}{% endblock %}
        </main>
        <!-- End of Main Content -->

        <!-- Right Section -->
        <div class="right-section">
            <div class="nav">
                <button id="menu-btn">
                    <span class="material-symbols-rounded">
                        menu
                    </span>
                </button>
                <div class="dark-mode">
                    <span class="material-symbols-rounded active">
                        dark_mode
                    </span>
                    <span class="material-symbols-rounded">
                        light_mode
                    </span>
                </div>

                <div class="profile">
                    <div class="info">
                        <p>Hey, <b>Reza</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="{{ url_for('static', filename='images/profile-1.jpg') }}">
                    </div>
                </div>

            </div>
            <!-- End of Nav -->

            <div class="user-profile">
                <div class="logo">
                    <img src="{{ url_for('static', filename='images/logo.png') }}">
                    <h2>AsmrProg</h2>
                    <p>Fullstack Web Developer</p>
                </div>
            </div>

            <div class="reminders">
                <div class="header">
                    <h2>Reminders</h2>
                    <span class="material-symbols-rounded">
                        notifications_none
                    </span>
                </div>

                <div class="notification">
                    <div class="icon">
                        <span class="material-symbols-rounded">
                            volume_up
                        </span>
                    </div>
                    <div class="content">
                        <div class="info">
                            <h3>Workshop</h3>
                            <small class="text_muted">
                                08:00 AM - 12:00 PM
                            </small>
                        </div>
                        <span class="material-symbols-rounded">
                            more_vert
                        </span>
                    </div>
                </div>

                <div class="notification deactive">
                    <div class="icon">
                        <span class="material-symbols-rounded">
                            edit
                        </span>
                    </div>
                    <div class="content">
                        <div class="info">
                            <h3>Workshop</h3>
                            <small class="text_muted">
                                08:00 AM - 12:00 PM
                            </small>
                        </div>
                        <span class="material-symbols-rounded">
                            more_vert
                        </span>
                    </div>
                </div>

                <div class="notification add-reminder">
                    <div>
                        <span class="material-symbols-rounded">
                            add
                        </span>
                        <h3>Add Reminder</h3>
                    </div>
                </div>

            </div>

        </div>

        <!-- Dark Mode Class -->
        <div class="dark-mode">
            <span>Dark</span>
            <span>Light</span>
        </div>

    </div>

    <script src="{{ url_for('static', filename='js/orders.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>