<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style2.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:FILL@0..1" />
    <title>{% block title %}Dashboard{% endblock %} | AsmrProg</title>
</head>
<body>

    <div class="container">
        <!-- Sidebar Section -->
        <aside>
            <div class="toggle">
                <div class="logo">
                    <img src="{{ url_for('static', filename='images/logo.png') }}">
                    <h2>Na<span class="danger">gi</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-symbols-rounded">
                        close
                    </span>
                </div>
            </div>

            <div class="sidebar">
                <a href="{{ url_for('dashboard') }}">
                    <span class="material-symbols-rounded">
                        dashboard
                    </span>
                    <h3>Dashboard</h3>
                </a>
                <a href="{{ url_for('users') }}">
                    <span class="material-symbols-rounded">
                        person_outline
                    </span>
                    <h3>Users</h3>
                </a>
                <a href="{{ url_for('history') }}">
                    <span class="material-symbols-rounded">
                        receipt_long
                    </span>
                    <h3>History</h3>
                </a>
                <a href="{{ url_for('analytics') }}" class="active">
                    <span class="material-symbols-rounded">
                        insights
                    </span>
                    <h3>Analytics</h3>
                </a>
                <a href="{{ url_for('tickets') }}">
                    <span class="material-symbols-rounded">
                        mail_outline
                    </span>
                    <h3>Tickets</h3>
                    <span class="message-count">27</span>
                </a>
                <a href="{{ url_for('sale_list') }}">
                    <span class="material-symbols-rounded">
                        inventory
                    </span>
                    <h3>Sale List</h3>
                </a>
                <a href="{{ url_for('reports') }}">
                    <span class="material-symbols-rounded">
                        report_gmailerrorred
                    </span>
                    <h3>Reports</h3>
                </a>
                <a href="{{ url_for('settings') }}">
                    <span class="material-symbols-rounded">
                        settings
                    </span>
                    <h3>Settings</h3>
                </a>
                <a href="{{ url_for('new_login') }}">
                    <span class="material-symbols-rounded">
                        add
                    </span>
                    <h3>New Login</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-rounded">
                        logout
                    </span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>
        <!-- End of Sidebar Section -->

        <!-- Main Section -->
        <main>
            {% block content %}{% endblock %}
        </main>
        <!-- End of Main Content -->

        <!-- Right Section -->
        <div class="right-section">
            <div class="nav">
                <button id="menu-btn">
                    <span class="material-symbols-rounded">
                        menu
                    </span>
                </button>
                <div class="dark-mode">
                    <span class="material-symbols-rounded active">
                        light_mode
                    </span>
                    <span class="material-symbols-rounded">
                        dark_mode
                    </span>
                </div>

                <div class="profile">
                    <div class="info">
                        <p>Hey, <b>Reza</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="{{ url_for('static', filename='images/profile-1.jpg') }}">
                    </div>
                </div>

            </div>
            <!-- End of Nav -->

            <div class="user-profile">
                <div class="logo">
                    <img src="{{ url_for('static', filename='images/logo.png') }}">
                    <h2>AsmrProg</h2>
                    <p>Fullstack Web Developer</p>
                </div>
            </div>

            <div class="reminders">
                <div class="header">
                    <h2>Reminders</h2>
                    <span class="material-symbols-rounded">
                        notifications_none
                    </span>
                </div>

                <div class="notification">
                    <div class="icon">
                        <span class="material-symbols-rounded">
                            volume_up
                        </span>
                    </div>
                    <div class="content">
                        <div class="info">
                            <h3>Workshop</h3>
                            <small class="text_muted">
                                08:00 AM - 12:00 PM
                            </small>
                        </div>
                        <span class="material-symbols-rounded">
                            more_vert
                        </span>
                    </div>
                </div>

                <div class="notification deactive">
                    <div class="icon">
                        <span class="material-symbols-rounded">
                            edit
                        </span>
                    </div>
                    <div class="content">
                        <div class="info">
                            <h3>Workshop</h3>
                            <small class="text_muted">
                                08:00 AM - 12:00 PM
                            </small>
                        </div>
                        <span class="material-symbols-rounded">
                            more_vert
                        </span>
                    </div>
                </div>

                <div class="notification add-reminder">
                    <div>
                        <span class="material-symbols-rounded">
                            add
                        </span>
                        <h3>Add Reminder</h3>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <script src="{{ url_for('static', filename='js/orders.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>