<template id="navigator-list-template">
    <div class="input-group">
        <input type="text" name="readings[leitura-][livro]" placeholder="Nome do Livro">
        <input type="number" name="readings[leitura-][paginas]" placeholder="Número de Páginas">
        <input type="number" name="readings[leitura-][tempo]" placeholder="Tempo de Leitura (segundos)">
        <button type="button" onclick="removeElement(this)">Remover</button>
    </div>
</template>

<!-- <template id="exercise-template">
    <div class="input-group">
        <input type="text" name="exercises[exercicio-][tipo]" placeholder="Tipo de Exercício">
        <input type="number" name="exercises[exercicio-][distancia]" placeholder="Distância (km)">
        <input type="number" name="exercises[exercicio-][tempo]" placeholder="Tempo (segundos)">
        <button type="button" onclick="removeElement(this)">Remover</button>
    </div>
</template> -->
