{% extends "base.html" %}

{% block title %}
    Sun Breathing
{% endblock %}

{% block header %}
    Para Forjar o Presente
{% endblock %}

{% block content %}
    <form action="/form/morning/" method="POST" onsubmit="return validatePercentage();">

        <section class="basic">
            <div class="info-section"><span>Informações Gerais</span></div>
            {% include "partlets/header_morning.html" %}
        </section>

        <section class="wisdom">
            <div class="wisdom-section"><span>Sabedoria</span></div>
            {% include "partlets/wisdom/sentinel.html" %}
        </section>

        <section class="stability">
            <div class="stability-section"><span>Estabilidade</span></div>
            {% include "partlets/stability/treasurer.html" %}
        </section>

        <section class="strength">
            <div class="strength-section"><span>Força</span></div>
            {% include "partlets/strength/feedback.html" %}
        </section>

        <section class="basic">
            {% include "partlets/footer.html" %}
        </section>

    </form>

    <script>
        
        const bedDateTimeInput = document.querySelector('input[name="datetime_wisdom_sentinel_bedDatetime"]');
        const wakeupDateTimeInput = document.querySelector('input[name="datetime_wisdom_sentinel_wakeupDatetime"]');
        const datetimeDifferenceOutput = document.getElementById('DatetimeDifferenceOutput');
        datetimeDifferenceOutput.textContent = "Aguardando inserção de ambos os dados.";
        bedDateTimeInput.addEventListener('change', calculateDatetimeDifference);
        wakeupDateTimeInput.addEventListener('change', calculateDatetimeDifference);

        // const awakePercentageInput = document.getElementById('awakePercentage');
        // const remPercentageInput   = document.getElementById('remPercentage');
        // const lightPercentageInput = document.getElementById('lightPercentage');
        // const deepPercentageInput  = document.getElementById('deepPercentage');
        // const totalPercentageOutput = document.getElementById('totalPercentage');
        // totalPercentageOutput.textContent = "Porcentagem Total: 55%";
        // awakePercentageInput.addEventListener('change', calculateTotalPercentage);
        // remPercentageInput.addEventListener('change', calculateTotalPercentage);
        // lightPercentageInput.addEventListener('change', calculateTotalPercentage);
        // deepPercentageInput.addEventListener('change', calculateTotalPercentage);

    </script>

{% endblock %}