{% extends "base.html" %}

{% block title %}
    Test Form
{% endblock %}

{% block header %}
    Test Form
{% endblock %}

{% block content %}
    <form action="/test/" id="test-form" method="POST" onsubmit="handleSubmit(event, this)">

        <section class="basic">
            <div class="info-section"><span>Informações Gerais</span></div>
            {% include "partlets/header_night.html" %}
            {% include "partlets/header_morning.html" %}
        </section>

        <section class="wisdom">
            <div class="wisdom-section"><span>Sabedoria</span></div>
            {% include "partlets/wisdom/navigator.html" %}
            {% include "partlets/wisdom/alchemist.html" %}
            {% include "partlets/wisdom/sentinel.html" %}
        </section>

        <section class="stability">
            <div class="stability-section"><span>Estabilidade</span></div>
            {% include "partlets/stability/sponsor.html" %}
            {% include "partlets/stability/patron.html" %}
            {% include "partlets/stability/treasurer.html" %}
        </section>

        <section class="strength">
            <div class="strength-section"><span>Força</span></div>
            {% include "partlets/strength/vanguard.html" %}
            {% include "partlets/strength/scout.html" %}
            {% include "partlets/strength/cook.html" %}
            {% include "partlets/strength/feedback.html" %}
        </section>

        <section class="kindness">
            <div class="kindness-section"><span>Gentileza</span></div>
            {% include "partlets/kindness/caretaker.html" %}
            {% include "partlets/kindness/diplomat.html" %}
            {% include "partlets/kindness/citizen.html" %}
        </section>

        <section class="devotion">
            <div class="devotion-section"><span>Devoção</span></div>
            {% include "partlets/devotion/oracle.html" %}
            {% include "partlets/devotion/atharva.html" %}
            {% include "partlets/devotion/nagi.html" %}
        </section>

        <section class="basic">
            {% include "partlets/footer.html" %}
        </section>

    </form>

    <script>

    </script>

{% endblock %}