{% extends "base.html" %}

{% block title %}
    Unauthorized
{% endblock %}


{% block content %}

    <div class="page-title">
        <h1>Unauthorized Access</h1>
        <h2>Unauthorized Access</h2>
    </div>

    <div class="buttonContainer">
        <button type="button" class="loginButton" id="register">
                <i class="fa-solid fa-pen-to-square"></i>
                Sign In
            </button>
            <button type="button" class="loginButton" id="login">
                <i class="fa-solid fa-right-to-bracket"></i>
                Login
            </button>
        </div>
    </form>

    <script>
        document.getElementById('register').addEventListener('click', function() {
            window.location.href = '/register';
        });
        document.getElementById('login').addEventListener('click', function() {
            window.location.href = '/login';
        });
    </script>


{% endblock %}