@media screen and (max-width: 600px) {
    .box {
        margin-top: 20px;
        padding: 10px;
        border-radius: 15px;
        gap: 15px;
        width: 100%;
        box-sizing: border-box;
    }

    .box-title {
        font-size: 12px;
        padding: 10px;
    }

    .box-role {
        font-size: 10px;
        padding: 10px;
    }

    input[type="text"], input[type="time"] {
        width: 100%;
        padding: 10px;
    }

    .info-section, .wisdom-section, .stability-section, .strength-section, .kindness-section, .devotion-section {
        font-size: 12px;
        margin-top: 2em;
        margin-bottom: 1em;
        padding: 10px;
    }

    .box-input, .box-habit {
        padding: 10px;
        width: 100%;
    }

    h1 {
        text-align: center;
    }

    .flex-row {
        flex-direction: column; /* Stack items vertically on small screens */
        align-items: center;    /* Center items horizontally */
    }
}