.resetButton, .submitButton, .createButton, .editButton, .returnButton {
    background-color: var(--gray-color-4);
    border: none;
    color: var(--text-color);
    font-size: 12px;
    padding: 8px 15px;
    cursor: pointer;
    transition: transform 0.1s ease;
    border-radius: 5px;
}
  
.resetButton:active, .submitButton:active, .returnButton:active {
    transform: scale(0.90);
}

.resetButton:hover, .submitButton:hover, .returnButton:hover {
    background-color: var(--gray-color-6);
}

.resetButton:focus, .submitButton:focus, .returnButton:focus {
    background-color: var(--gray-color-8);
}