input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    background: #ddd;
    border-radius: 50px;
    padding: 5px;
    box-shadow: 0 0 5px #333;
    transition: background .3s;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #666;
    border-radius: 50%;
    box-shadow: 0 0 5px #333;
    transition: background .3s;
    transition: width 0.5s ease;
}

input[type="range"]:hover,
input[type="range"]:focus {
    background: #ccc;
}

input[type="range"]:hover::-webkit-slider-thumb,
input[type="range"]:focus::-webkit-slider-thumb {
    background: var(--section-color);
}

input[type="range"]:focus::-webkit-slider-thumb {
    width: 15px;
}