input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 90%;
    height: 10px;
    background: var(--gray-color-9);
    border-radius: 50px;
    box-shadow: 0 0 5px #333;
    transition: background .3s;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: var(--white-color);
    border-radius: 50%;
    box-shadow: 0 0 5px #333;
    transition: 0.3s ease;
}

input[type="range"]:hover,
input[type="range"]:focus {
    background: var(--white-color);
}

input[type="range"]:hover::-webkit-slider-thumb,
input[type="range"]:focus::-webkit-slider-thumb {
    background: var(--section-color);
}

input[type="range"]:active::-webkit-slider-thumb {
    width: 10px;
    height: 25px;
}