input[type="text"] {
    border: 2px solid var(--white-color);
    padding: 5px;
    border-radius: 5px;
    max-width: 300px;    
    width: 70%;
}

input[type="text"]:hover {
    border: 2px solid;
    border-color: var(--strong-section-color);
}

input[type="text"]:focus {
    border: 2px solid;
    border-color: var(--strong-section-color);
}