textarea {
    padding: 8px;
    border: 2px solid var(--strong-section-color);
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    height: 70%;
    width: 90%;
    font-family: 'Lato', sans-serif;
    font-weight: 350;
    line-height: 1.6;
    resize: vertical;
    overflow: auto;
    margin: 22px 0 12px 0;
}

textarea:hover {
    border-color: var(--section-color-dark);
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

textarea:focus {
    border-color: var(--section-color-dark);
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}