input[type="text"], input[type="password"], input[type="email"] {
    border: 2px solid var(--white-color);
    padding: 5px;
    border-radius: 5px;
    max-width: 300px;    
    width: 70%;
}

input[type="text"]:hover, input[type="password"]:hover, input[type="email"]:hover {
    border: 2px solid;
    border-color: var(--strong-section-color);
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    border: 2px solid;
    border-color: var(--strong-section-color);
}