textarea {
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    height: 100%;
    width: 75%;
    font-family: 'Lato', sans-serif;
    font-weight: 350;
    line-height: 1.6;
    resize: none;
    overflow: auto;
}

textarea:hover {
    border-color: var(--section-color);
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

textarea:focus {
    border-color: var(--section-color);
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}