{% extends "base.html" %}

{% block title %}
    Diplomata
{% endblock %}

{% block content %}

<form id="myForm" action="/add/kindness/diplomat/" method="POST" onsubmit="submitForm(event)">
    <div class="element-box kindness">
        <div class="element-header">
            <span>Diplomata</span>
        </div>
        <div class="element-habit">
            <span>Sobre o hábito de <strong>Valorizar</strong></span>
        </div>
        <div class="element-table">

            <div class="element-row">
                <div class="element-cell cell-100">
                    <input type="date" id="date_input" name="date_input">
                </div>
            </div>

            <div class="element-row"><div class="element-cell cell-100"><br></div></div>
            
            <div class="element-row">
                <div class="element-cell cell-33">
                    <div id="id_animals" class="check" onclick="checkButton('id_animals', 'input_animals', 'False', 'True')">
                        <span>Animais</span>
                    </div>
                    <input type="hidden" id="input_animals" name="bool_animals" value="False">
                </div>
                <div class="element-cell cell-33">
                    <div id="id_family" class="check" onclick="checkButton('id_family', 'input_family', 'False', 'True')">
                        <span>Família</span>
                    </div>
                    <input type="hidden" id="input_family" name="bool_family" value="False">
                </div>
                <div class="element-cell cell-33">
                    <div id="id_friends" class="check" onclick="checkButton('id_friends', 'input_friends', 'False', 'True')">
                        <span>Amigos</span>
                    </div>
                    <input type="hidden" id="input_friends" name="bool_friends" value="False">
                </div>
            </div>

            <div class="element-row">
                <div class="element-cell cell-33">
                    <div id="id_society" class="check" onclick="checkButton('id_society', 'input_society', 'False', 'True')">
                        <span>Sociedade</span>
                    </div>
                    <input type="hidden" id="input_society" name="bool_society" value="False">
                </div>
                <div class="element-cell cell-33">
                    <div id="id_contacts" class="check" onclick="checkButton('id_contacts', 'input_contacts', 'False', 'True')">
                        <span>Conhecidos</span>
                    </div>
                    <input type="hidden" id="input_contacts" name="bool_contacts" value="False">
                </div>
                <div class="element-cell cell-33">
                    <div id="id_coworkers" class="check" onclick="checkButton('id_coworkers', 'input_coworkers', 'False', 'True')">
                        <span>Trabalho</span>
                    </div>
                    <input type="hidden" id="input_coworkers" name="bool_coworkers" value="False">
                </div>
            </div>

        </div>
    </div>

    <div class="buttonContainer">
        <button type="button" class="homeButton" id="return" onclick="window.location.href='/'">
            <i class="fas fa-home"></i>
            Home
        </button>
        <button type="submit" class="submitButton" id="submit">
            <i class="fa-solid fa-share"></i>
            Submit
        </button>
        <button type="button" class="nextButton" id="next">
            <i class="fa-solid fa-forward"></i>
            Next
        </button>
    </div>
</form>

<script>
    const now = new Date();
    now.setHours(now.getHours() - 3);
    document.getElementById('date_input').value = now.toISOString().split('T')[0];
</script>

{% endblock %}