{% extends "base.html" %}

{% block title %}
    Alquimista
{% endblock %}

{% block content %}

<form id="myForm" action="/add/wisdom/alchemist/" method="POST" onsubmit="submitForm(event)">
    <div class="element-box wisdom">
        <div class="element-header">
            <span>Alquimista</span>
        </div>
        <div class="element-habit">
            <span>Sobre o hábito de <strong>Evoluir</strong></span>
        </div>
        <div class="element-table">

            <div class="element-row">
                <div class="element-cell cell-100">
                    <input type="date" id="date_input" name="date_input">
                </div>
            </div>
            
            <div class="element-row"><div class="element-cell cell-100"><br></div></div>

            <div class="element-row">
                <div class="element-cell cell-33">
                    <div id="id_anger" class="check" onclick="checkButton('id_anger', 'input_anger', 'False', 'True')">
                        <span>Raiva</span>
                    </div>
                    <input type="hidden" id="input_anger" name="bool_anger" value="False">
                </div>
                <div class="element-cell cell-33">
                    <div id="id_sadness" class="check" onclick="checkButton('id_sadness', 'input_sadness', 'False', 'True')">
                        <span>Tristeza</span>
                    </div>
                    <input type="hidden" id="input_sadness" name="bool_sadness" value="False">
                </div>
                <div class="element-cell cell-33">
                    <div id="id_fear" class="check" onclick="checkButton('id_fear', 'input_fear', 'False', 'True')">
                        <span>Medo</span>
                    </div>
                    <input type="hidden" id="input_fear" name="bool_fear" value="False">
                </div>
            </div>

            <div class="element-row">
                <div class="element-cell cell-33">
                    <div id="id_frustration" class="check" onclick="checkButton('id_frustration', 'input_frustration', 'False', 'True')">
                        <span>Frustração</span>
                    </div>
                    <input type="hidden" id="input_frustration" name="bool_frustration" value="False">
                </div>
                <div class="element-cell cell-33">
                    <div id="id_disheartenment" class="check" onclick="checkButton('id_disheartenment', 'input_disheartenment', 'False', 'True')">
                        <span>Desânimo</span>
                    </div>
                    <input type="hidden" id="input_disheartenment" name="bool_disheartenment" value="False">
                </div>
                <div class="element-cell cell-33">
                    <div id="id_anxiety" class="check" onclick="checkButton('id_anxiety', 'input_anxiety', 'False', 'True')">
                        <span>Ansiedade</span>
                    </div>
                    <input type="hidden" id="input_anxiety" name="bool_anxiety" value="False">
                </div>
            </div>

            <div class="element-row">
                <div class="element-cell cell-100">
                    <textarea id="string_vent"></textarea>
                </div>
            </div>

        </div>
    </div>

    <div class="buttonContainer">
        <button type="button" class="homeButton" id="return" onclick="window.location.href='/'">
            <i class="fas fa-home"></i>
            Home
        </button>
        <button type="submit" class="submitButton" id="submit">
            <i class="fa-solid fa-share"></i>
            Submit
        </button>
        <button type="button" class="nextButton" id="next">
            <i class="fa-solid fa-forward"></i>
            Next
        </button>
    </div>
</form>

<script>
    const now = new Date();
    now.setHours(now.getHours() - 3);
    document.getElementById('date_input').value = now.toISOString().split('T')[0];

    document.getElementById('string_vent').value = '• Gatilho: \n• Reação Impulsiva: \n• Resposta Desejada: ';
    document.getElementById('string_vent').addEventListener('blur', function() {

    var input = document.createElement('input');
    
    input.type = 'hidden';
    input.name = 'string_vent';
    input.value = this.value;
    
    var container = this.parentNode;
    
    container.appendChild(input);
});
</script>

{% endblock %}