{% extends "base.html" %}

{% block title %}
    Sentinela
{% endblock %}

{% block content %}

<form id="myForm" action="/add/wisdom/sentinel/" method="POST" onsubmit="submitForm(event)">
    <div class="element-box wisdom">
        <div class="element-header">
            <span>Sentinela</span>
        </div>
        <div class="element-habit">
            <span>Sobre o hábito da <strong>Dormir</strong></span>
        </div>
        <div class="element-table">

            <div class="element-row">
                <div class="element-cell cell-100">
                    <input type="date" id="date_input" name="date_input">
                </div>
            </div>
            
            <div class="element-row"><div class="element-cell cell-100"><br></div></div>

            <div class="element-row">
                <div class="element-cell cell-40">Tempo de Tela</div>
                <div class="element-cell cell-30">
                    <input type="number" id="hhmm_screenTime" name="hhmm_screenTime" minlength="3" 
                        oninput="updateOutput('screenTimeOutput', this.value, 'time')">
                </div>
                <div class="element-cell cell-30"><output id="screenTimeOutput">__h __min</output></div>
            </div>

            <div class="element-row"><div class="element-cell cell-100"><br></div></div>

            <div class="element-row">
                <div class="element-cell cell-40">Início do Sono</div>
                <div class="element-cell cell-60"><input type="datetime-local" name="timestamp_bedDatetime"></div>
            </div>
            <div class="element-row">
                <div class="element-cell cell-40">Fim do Sono</div>
                <div class="element-cell cell-60"><input type="datetime-local" name="timestamp_wakeupDatetime"></div>
            </div>
            <div class="element-row">
                <div class="element-cell cell-100">
                    <div class="background-contrast">
                        <span id="DatetimeDifferenceOutput" placeholder="Aguardando inserção de ambos os dados."></span>
                    </div>
                </div>
            </div>

            <div class="element-row"><div class="element-cell cell-100"><br></div></div>

            <div class="element-row">
                <div class="element-cell cell-40">Sono REM</div>
                <div class="element-cell cell-30">
                    <input type="number" id="hhmm_remSleep" name="hhmm_remSleep"
                        oninput="updateOutput('remSleepOutput', this.value, 'time')">
                </div>
                <div class="element-cell cell-30"><output id="remSleepOutput">__h __min</output></div>
            </div>
            <div class="element-row">
                <div class="element-cell cell-40">Sono Profundo</div>
                <div class="element-cell cell-30">
                    <input type="number" id="hhmm_deepSleep" name="hhmm_deepSleep"
                        oninput="updateOutput('deepSleepOutput', this.value, 'time')">
                </div>
                <div class="element-cell cell-30"><output id="deepSleepOutput">__h __min</output></div>
            </div>

        </div>
    </div>

    <div class="buttonContainer">
        <button type="button" class="homeButton" id="return" onclick="window.location.href='/'">
            <i class="fas fa-home"></i>
            Home
        </button>
        <button type="submit" class="submitButton" id="submit">
            <i class="fa-solid fa-share"></i>
            Submit
        </button>
        <button type="button" class="nextButton" id="next" onclick="window.location.href='/add/strength/nutritionist/'">
            <i class="fa-solid fa-forward"></i>
            Next
        </button>
    </div>
</form>

<script>
    const now = new Date();
    now.setHours(now.getHours() - 3);
    document.getElementById('date_input').value = now.toISOString().split('T')[0];

    const bedDateTimeInput = document.querySelector('input[name="timestamp_bedDatetime"]');
    const wakeupDateTimeInput = document.querySelector('input[name="timestamp_wakeupDatetime"]');
    const datetimeDifferenceOutput = document.getElementById('DatetimeDifferenceOutput');
    datetimeDifferenceOutput.textContent = "Aguardando inserção de ambos os dados.";
    bedDateTimeInput.addEventListener('change', calculateDatetimeDifference);
    wakeupDateTimeInput.addEventListener('change', calculateDatetimeDifference);
</script>

{% endblock %}